{% extends "base.html" %}

{% load i18n pile sekizai_tags %}

{% block title %}{% trans "Project" %} | {{ object.title }}{% endblock %}

{% block content %}
  {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css"/>
  {% endaddtoblock %}

  <div class="banner">
    <img src="{{ object.banner.url }}" title="{{ object.title }}"/>
  </div>

  <div>
    <div id="left-column">
        <h1>Project Updates</h1>
        {% for update in object.updates.all %}
            {% if update.image %}
              <img src="{{ update.image.url }}" style="float: left;"/>
            {% endif %}
            <p>{{ update.describe }}</p>
            <hr/>
        {% endfor %}
    </div>
    <div id="right-sidebar">
      <a class="project" href="{{ object.get_absolute_url }}">
       <div class="status">
        <label class="author">{% trans "Proposed By" %}:</label>
        <span class="author">{{ object.proposer }}</span>

        <label class="goal">{% trans "Goal" %}:</label>
        <span class="goal">{{ object.funding.goal }} $1000</span>

        <label class="remaining">{% trans "Remaining" %}:</label>
        <span class="remaining">{{ object.finished|timeuntil }}</span>
       </div>

       <div class="progress">
        <div class="bar" style="width: 50%">
            <strong>{% trans "Achieved" %}:</strong>
            $500
        </div>
       </div>
      </a>
    </div>
  </div>


{% endblock %}
