{% extends "modal.html" %}
{% load i18n static pagination_tags %}

{% block "dialog-body" %}
  <form class="settingsform" method="POST" action="." style="max-width: unset; width: 100%;">
  {% csrf_token %}

  <table class="alternating" style="width: 100%;">
    <tr>
     <th>&nbsp;</th>
     <th>&nbsp;</th>
     <th scope="col">{% trans "Alert Type" %}</th>
     <th scope="col">{% trans "Hide Any Alerts" %}</th>
     <th scope="col">{% trans "Send Email Too" %}</th>
    </tr>

  {% for object in settings %}
    <tr class="{% cycle "odd" "even" %}">
      <td>
        {% if not object.pk %}
          <div class="tooltip"> 
            &#9733;
            <span>
              <span class="ttarrow"></span>
              {% trans "Currently set to default values for this type of alert." %}
            </span>
          </div>
        {% endif %}
      </td>
      <td>
        <div class="tooltip"> 
          <img class="help" src="{% static "images/icons/help.svg" %}" alt="?"/>
          <span><span class="ttarrow"></span>{{ object.alert.desc }}</span>
        </div>
      </td>
      <td class="left-aligned">
        {{ object.alert.name }}
      </td>
      <td><input type="checkbox" name="setting_{{ object.alert.pk }}_hide" value="1" {% if object.hide %}CHECKED{% endif%}/>
      <td><input type="checkbox" name="setting_{{ object.alert.pk }}_email" value="1" {% if object.email %}CHECKED{% endif%}/>
    </tr>
  {% endfor %}
  </table>

    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" value="{% trans "Save Settings" %}"/>
    </div>
  </form>

  <h2>{% trans "Subscriptions" %}</h2>
  {% autopaginate object_list 15 as items %}
  
  <table class="alternating" style="width: 100%;">
    <tr>
     <th scope="col">{% trans "Alert" %}</th>
     <th scope="col">{% trans "For" %}</th>
     <th scope="col">{% trans "Action" %}</th>
    </tr>
  {% for object in items %}
    <tr class="{% cycle "odd" "even" %}">
      <td class="left-aligned">{{ object.alert.name }}</td>
      <td>
        {% if object.target %}
          {% if object.object.get_absolute_url %}
            <a title="{{ object.object.get_absolute_url }}" href="{{ object.object.get_absolute_url }}">{{ object.object }}</a>
          {% else %}
            {{ object.object }}
          {% endif %}
        {% else %}
          {% trans "Subscribed to All" %}
        {% endif %}
      </td>
      <td>
	<form style="display: inline;" method='post' action='{% url "alert.unsubscribe" object.pk %}'>
        {% csrf_token %}
        <input type='submit' value='{% trans "Unsubscribe" %}'/>
	</form>
      </td>
    </tr>
  {% empty %}
    <tr><td colspan="3"><div>{% trans "No alert subscriptions" %}</div></td></tr>
  {% endfor %}
  </table>

  {% paginate %}

{% endblock %}

