{% extends "base.html" %}

{% load sekizai_tags %}
{% load i18n pagination_tags pile %}


{% block title %}{% trans "Alert Settings" %}{% endblock %} 

{% block content %}

  <h1>{% trans "Your Alert Settings" %}</h1>

  <h2>{% trans "General" %}</h2>
  
  {% if not user.email %}
    {% url 'edit_profile' as profile_url %}
    {% blocktrans %}
      You haven't told us your mail address yet! If you would like to receive emails from inkscape.org, enter an email address <a href="{{ profile_url }}">in your profile</a>.
    {% endblocktrans %}
  {% endif %}
  
  <form class="settingsform" method="POST" action=".">
  {% csrf_token %}

  <table class="alternating">
    <tr>
     <th>&nbsp;</th>
     <th scope="col">{% trans "Alert Type" %}</th>
     <th scope="col">{% trans "Hide Any Alerts" %}</th>
     <th scope="col">{% trans "Send Email Too" %}</th>
    </tr>

  {% for object in settings %}
    <tr class="{% cycle "odd" "even" %}">
      {% if not object.pk %}
        <td title="{% trans "Currently set to default values for this type of alert." %}">&#9733;</td>
      {% else %}
        <td>&nbsp;</td>
      {% endif %}
      <td class="left-aligned" title="{{ object.alert.desc }}">{{ object.alert.name }}</td>
      <td><input type="checkbox" name="setting_{{ object.alert.pk }}_hide" value="1" {% if object.hide %}CHECKED{% endif%}/>
      <td><input type="checkbox" name="setting_{{ object.alert.pk }}_email" value="1" {% if object.email %}CHECKED{% endif%}/>
    </tr>
  {% endfor %}
  </table>

  <input type="submit" value="{% trans "Save Settings" %}"/>

  </form>

  <h2>{% trans "Subscriptions" %}</h2>
  {% autopaginate object_list 15 as items %}
  
  <table class="alternating" style="min-width: 60%;">
    <tr>
     <th scope="col">{% trans "Alert" %}</th>
     <th scope="col">{% trans "For" %}</th>
     <th scope="col">{% trans "Action" %}</th>
    </tr>
  {% for object in items %}
    <tr class="{% cycle "odd" "even" %}">
      <td class="left-aligned">{{ object.alert.name }}</td>
      <td>
        {% if object.target %}
          {% if object.object.get_absolute_url %}
            <a title="{{ object.object.get_absolute_url }}" href="{{ object.object.get_absolute_url }}">{{ object.object }}</a>
          {% else %}
            {{ object.object }}
          {% endif %}
        {% else %}
          {% trans "Subscribed to All" %}
        {% endif %}
      </td>
      <td>
	<form style="display: inline;" method='post' action='{% url "alert.unsubscribe" object.pk %}'>
        {% csrf_token %}
        <input type='submit' value='{% trans "Unsubscribe" %}'/>
	</form>
      </td>
    </tr>
  {% empty %}
    <tr><td colspan="3"><div>{% trans "No alert subscriptions" %}</div></td></tr>
  {% endfor %}
  </table>

  {% paginate %}

{% endblock %}

