{% extends "base.html" %}
{% load i18n static inkscape pagination_tags %}

{% block title %}{% trans "Messages" %}{% endblock %} 

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/alert.css" %}"/>
{% endblock %}
{% block "js" %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/alert.js" %}"></script>
{% endblock %}

{% block content %}


  <h1>{% if new %}{% trans "Your New Messages" %}{% else %}{% trans "Your Messages" %}{% endif %}</h1>

  {% autopaginate object_list 15 as items %}

  {% for object in items %}
    {% with object.data as data %}

<div class="comment" id="alert_{{ object.pk }}">
  <div class="details">
    <div class="title">
      {% if data.instance_deleted %}
        <img src="{% static "images/deleted.png" %}" alt="{% trans "Deleted" %}"/>
        <del>{{ data.instance_deleted }}</del>
      {% elif not object.viewed %}
        <img src="{% static "images/email.png" %}" alt="{% trans "New" %}" title="{% trans "New Message" %}"/>
        {{ object.subject }}
      {% else %}
        {{ object.subject }}
      {% endif %}
    </div>
    <div class="index">
      {% if not object.viewed and not data.instance_deleted %}
        <form class="runner" action="{% url "alert.view" object.pk %}">
          <button id="{{ object.pk }}" title="{% trans "Mark as Read" %}">&#10004;</button>
        </form>
      {% else %}
        <form class="runner" action="{% url "alert.delete" object.pk %}">
          <button id="{{ object.pk }}" title="{% trans "Delete Alert" %}">X</button>
        </form>
      {% endif %}
    </div>
    <div class="index">{{ object.created|timetag }}</div>
  </div>
  {% if not data.instance_deleted %}
    {{ object.body }}
  {% else %}
    <div class="body">
      <div class="text"><p>{% trans "This alert was for an object that no longer exists. It has been deleted." %}</p></div>
    </div>
  {% endif %}
</div>

    {% endwith %}
  {% empty %}
    <h2>{% trans "No messages or alerts to view" %}</h2>
  {% endfor %}

  {% paginate %}
  
{% endblock %}

