{% extends "base.html" %}

{% load sekizai_tags %}
{% load i18n pagination_tags pile %}

{% block title %}{% trans "Messages" %}{% endblock %} 

{% block content %}
  {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/alert.css"/>
  {% endaddtoblock %}
  {% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/alert.js"></script>
  {% endaddtoblock %}


  <h1>{% if new %}{% trans "Your New Messages" %}{% else %}{% trans "Your Messages" %}{% endif %}</h1>

  {% autopaginate object_list 15 as items %}

  {% for object in items %}

<div class="comment" id="alert_{{ object.id }}">
  <div class="details">
    <div class="title">
      {% if not object.viewed %}
        <img src="{{ STATIC_URL }}images/news/email.png" alt="{% trans "New" %}" title="{% trans "New Message" %}"/>
      {% endif %}
      {{ object.subject }}
    </div>
    <div class="index">
      {% if not object.viewed %}
        <form class="runner" action="{% url "alert.view" object.pk %}">
          <button id="{{ object.pk }}" title="{% trans "Mark as Read" %}">&#10004;</button>
        </form>
      {% else %}
        <form class="runner" action="{% url "alert.delete" object.pk %}">
          <button id="{{ object.pk }}" title="{% trans "Delete Alert" %}">X</button>
        </form>
      {% endif %}
    </div>
    <div class="index">{{ object.created|timetag }}</div>
  </div>
  {{ object.body }}
</div>

  {% paginate %}

  {% empty %}
    <h2>{% trans "No messages or alerts to view" %}</h2>
  {% endfor %}

{% endblock %}

