{% extends "cmsplugin_news/base.html" %}
{% load i18n %}

{% block "newscontent" %}
  <h1>{% block title %}{% trans "News for" %} {{ year.year }}{% endblock %}</h1>
  <div id="left-column">
    {% for object in object_list %}
      {% include "cmsplugin_news/list_item.html" %}
    {% empty %}
      <h2>{% trans "No news for this year." %}</h2>
    {% endfor %}
  </div>
  <div id="right-sidebar">
    <div id="sidecategory">
      <h2>{% trans 'Months' %}</h2>
      <ul>
      {% for date in date_list %}
        <li><a href="{% url "news:archive_month" year=year.year month=date|date:'m'  %}"><label>{{ date|date:"F" }}</label></a></li>
      {% empty %}
        <li>{% trans "No news for this year." %}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
