[run]
branch = True
omit =
	*migrations*
	*management*
	*/tests/*
	*/tests.py
	*/admin.py
        */__init__.py
source = 
	alerts
	inkscape
	resource
	cmsdiff
	cmsplugin_news
	cmstabs
	docs
	moderation
	person
	projects
	releases

[report]
show_missing = True
exclude_lines =
	pragma: no cover
	settings.DEBUG
	_IsWarning_

