{% extends "base_about.html" %}
{% block alltitle %}About Inkscape{% endblock %}
{% block pagetitle %}Inkscape Overview{% endblock %}
{% block left-column %}
	<h2>Qu'est-ce qu'Inkscape&nbsp;?</h2>
	<p class="summary">Inkscape est un logiciel de graphisme vectoriel de qualité professionnelle qui fonctionne sur Windows, Mac OS X et Linux. Il est utilisé par des professionnels du design et des amateurs dans le monde entier pour créer une grande variété de graphismes tels que des illustrations, icônes, logos, diagrammes, cartes et graphiques Web. Inkscape utilise le standard ouvert <a href="http://www.w3.org">W3C</a> <a href="http://www.w3.org/Graphics/SVG/">SVG</a> (Scalable Vector Graphics) en tant que format natif, et est un logiciel libre et à sources ouvertes.</p>
	<video width="640" height="360" poster="{{ MEDIA_URL }}images/video-640x360-poster.png">
	</video>
	<p>Inkscape possède des outils de dessin sophistiqués avec des capacités comparables à Adobe Illustrator, CorelDRAW et Xara Xtreme. Il peut importer et exporter des formats de fichiers tels que SVG, AI, EPS, PDF, PS et PNG. Il dispose d'un <a href="/about/features/">ensemble complet de fonctionnalités</a>, une interface simple, un support multilingue, et est conçue pour être extensible, les utilisateurs pouvant personnaliser les fonctionnalités d'Inkscape avec des <a href="/download/addons/">extensions</a>.</p>
    <p>Le projet Inkscape compte une <a href="/community/">communauté d'utilisateurs</a> internationale croissante, et de nombreux <a href="/learn/">supports d'apprentissage</a> existent pour vous aider à démarrer vos créations. L'<a href="/community/help/">aide et le support</a> sont fournis par la communauté, et il existe de nombreuses possibilités de participation si vous souhaiter <a href="/community/get-involved/">aider le projet Inkscape</a>.</p>
{% endblock %}
