{% extends "base_about.html" %}
{% block title %}Galerie{% endblock %}
{% block pagetitle %}Galerie{% endblock %}
{% block body-classes %}page-gallery{% endblock %}
{% block left-column %}
<p>Comme le montrent ces exemples, les utilisateur d'Inkscape emploient cet outil dans une grande variété de situations.</p>

<p>Visitez également les <a href="/screenshots/">captures d'écrans</a> pour découvrir les fonctionnalités d'Inkscape.</p>

<div class="category">
<h2>Identité visuelle</h2>
<a href="/gallery/branding/"><img class="thumbnail" src="{{ MEDIA_URL }}images/gallery/suse_studio_break_free_inkscape_thumb.png" alt=""></a>
<p>Ou comment utiliser une variété d'applications pour créer un paquet complet. </p>
</div>

<div class="category flip">
<h2>Icônes</h2>
<a href="/gallery/icons/"><img class="thumbnail" src="{{ MEDIA_URL }}images/gallery/icons_jimmac_yast_smt_thumb.png" alt=""></a>
<p>La création d'icônes est sans doute une des utilisation les plus populaires d'Inkscape. Pratiquement tous les jeux d'icônes des bureaux Linux ont été réalisés avec Inkscape.</p>
</div>

<div class="category">
<h2>Conception de sites internet</h2>
<a href="/gallery/web-design/"><img class="thumbnail" src="{{ MEDIA_URL }}images/gallery/inkscape-moonshine_thumb.png" alt=""></a>
<p>Exemple de création de site web par Jakub « Jimmac » Steiner et al. </p>
</div>

<div class="category flip">
<h2>Livret pour CD</h2>
<a href="/gallery/cd-booklet/"><img class="thumbnail" src="{{ MEDIA_URL }}images/gallery/artemio_inkscape_FZ_booklet_thumb.png" alt=""></a>
<p>Cet exemple montre la création d'un livret pour CD accompagnant une compilation réalisée pour la communauté Fantomized.info. </p>
</div>

<div class="category">
<h2>Cartes de jeux</h2>
<a href="{{ MEDIA_URL }}images/gallery/inkscape_rpg_map.png"><img class="thumbnail" src="{{ MEDIA_URL }}images/gallery/inkscape_rpg_map_thumb.png" alt=""></a>
<p>Nicu Buculei montre comment Inkscape peut être utilisé pour créer une carte de jeux avec une bibliothèque d'objets.</p>
<p>Ces images sont destinées au <a rel="license" href="http://creativecommons.org/licenses/publicdomain/">domaine public</a> et peuvent être utilisées sans aucune restriction.</p>
<p><a rel="license" href="http://creativecommons.org/licenses/publicdomain/"><img alt="Public Domain Dedication" src="http://creativecommons.org/images/public/norights.gif"></a></p>
</div>
{% endblock %}
