{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
  <h1>{% trans "Website Logs" %}</h1>

  <div id="gallery">
    {% for object in object_list %}
      <div class="galleryitem">
        <div><a class="link" href="{% url "logbook:metric" object.name %}">
          {% if object.icon %}
	    <img src="{% static object.get_icon %}"/>
	  {% else %}
	    <img src="{% static "images/logbook/metric.svg" %}"/>
	  {% endif %}
        </a></div> 
        <p class="label"><a href="{% url "logbook:metric" object.name %}">
          {{ object }}
        </a></p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
