{% extends "base_about.html" %}
{% block alltitle %}Fonctionnalités d'Inkscape{% endblock %}
{% block pagetitle %}Fonctionnalités d'Inkscape{% endblock %}
{% block left-column %}
<p class="summary">Inkscape est un logiciel de graphisme vectoriel de qualité professionnelle proposant des outils de dessin et de manipulation sophistiqués ainsi qu'un jeu complet de fonctionnalités apprécié par les professionnels et les amateurs dans le monde entier.</p>
<h2>Fonctionnalités principales</h2>
<div id="notable-features-container">
	<div>
		<img src="http://placehold.it/140x89/4d4d4d/4d4d4d">
		<h3>Outils de dessin</h3>
		<p>Au cœur d'Inkscape se trouvent des outils sophistiqués permettant le dessin à main levée aussi bien que les courbes de Bézier.</p>
	</div>
	<div>
		<img src="http://placehold.it/140x89/4d4d4d/4d4d4d">
		<h3>Outil nœud</h3>
		<p>L'outil de manipulation des nœuds d'Inkscape autorise une édition précise de plusieurs chemins à la fois.</p>
	</div>
	<div>
		<img src="http://placehold.it/140x89/4d4d4d/4d4d4d">
		<h3>Outil texte</h3>
		<p>Inkscape permet l'édition de texte sur l'espace de travail avec un contrôle précis de la typographie.</p>
	</div>
	<div class="last">
		<img src="http://placehold.it/140x89/4d4d4d/4d4d4d">
		<h3>Éditeur XML</h3>
		<p>Manipulez directement le code SVG pour vous assurer de sa totale conformité avec les recommandations W3C.</p>
	</div>
</div>
<div id="more-things-container">
	<div>
		<h2>Création</h2>

		<h3>Outils de forme</h3>
		<p>Donnez un élan à votre créativité avec les rectangles, arcs, étoiles et polygones prêts à l'emploi.</p>

		<h3>Boîtes 3D</h3>
		<p>Créez des cubes en contrôlant les points de fuite.</p>

		<h3>Gradients</h3>
		<p>Inkscape facilite l'édition sur l'écran de gradients complexes.</p>

		<h3>Clones</h3>
		<p>Les clones d'Inkscape sont des copies vivantes liées à des objets qui héritent des modifications de l'original, mais peuvent être transformées indépendamment.</p>

		<h3>Bitmaps</h3>
		<p>Importez des images matricielles en les liant ou en les englobant, et pratiquez des manipulation simples. Vous pouvez également créer des bitmaps à partir d'objets sélectionnés.</p>

		<h3>Connecteurs</h3>
		<p>Créer des diagrammes ou des organigrammes est chose simple avec l'outil connecteur.</p>
	</div>
	<div>
		<h2>Manipulation</h2>

		<h3>Transformations</h3>
		<p>Inkscape supporte un grand nombre de transformations d'objet, telles que le redimensionnement, la rotation ou l'inclinaison.</p>
		
		<h3>Outil d'ajustement</h3>
		<p>Altérez la forme et le style des objets en un simple mouvement de souris.</p>

		<h3>Effets de chemin</h3>
		<p>Des effets non destructifs pour vous aider à manipuler des objets de façon créative.</p>
		
		<h3>Style</h3>
		<p>Inkscape propose un boîte de dialogue intuitive pour contrôler la couleur du remplissage, du remplissage, ainsi que le style du contour. La palette permet également des modifications de couleur rapides.</p>

		<h3>Découpes &amp; masques</h3>
		<p>Cachez une partie de vos objets sans avoir à les découper.</p>

		<h3>Calques</h3>
		<p>Organisez les éléments dans une structure logique. Vous pourez alors verrouiller, cacher ou ajuster l'opacité et le mode de fondu de chaque calque.</p>

		<h3>Positionnement</h3>
		<p>Le positionnement des objets est dans Inkscape très simple grâce à l'outil sélecteur, à la boîte de dialogue d'alignement et de distribution, et aux opérations dans les plans.</p>

		<h3>Groupes d'objets</h3>
		<p>Inkscape vous permet de grouper les objets pour en faciliter la manipulation.</p>
	</div>
	<div class="last">
		<h2>Encore plus</h2>
		
		<h3>Spiro splines</h3>
		<p>Avec ce type de courbes, créer des chemins doux et arrondis est un jeu d'enfant.</p>

		<h3>Grilles</h3>
		<p>Créez autant de grilles rectangulaires et axonométriques que vous le souhaitez. La souplesse du paramétrage vous permet d'ajuster leurs couleurs, espacements, angles, et bien plus encore.</p>

		<h3>Guides</h3>
		<p>Créer des guides orthogonaux ou angulaires que vous pourez déplacer et pivoter sur l'espace de travail.</p>

		<h3>Magnétisme</h3>
		<p>Des formidables possibilités pour aimanter les objets, les chemins et les gradients, avec des contrôles fins et des aides contextuelles.</p>

		<h3>Palette automatique</h3>
		<p>Créez des couleurs et réutilisez partout pour faciliter le style de vos objets.</p>

		<h3>Filtres</h3>
		<p>Améliorez votre œuvre avec une large sélection d'effets visuels, tous conformes SVG.</p>
		
		<h3>Extensions</h3>
		<p>Les scripts en Python vous permettront de dépasser les possibilités de base d'Inkscape.</p>
		
		<h3>Gestion de la couleur</h3>
		<p>Inkscape utilise l'outil (réputé dans l'industrie) <a href="http://www.littlecms.com/">littleCMS</a> pour la calibration des couleurs, les profils d'affichage et la simulation d'impression de base.</p>

		<h3>Excellente interopérabilité</h3>
		<p>Ouvrez et enregistrez dans de multiples formats graphiques grâce à <a href="http://sk1project.org/modules.php?name=Products&product=uniconvertor">UniConvertor</a>.</p>
		
		<h3>Libre&nbsp;!</h3>
		<p>Inkscape ne coûte rien et son <a href="http://www.opensource.org/">code ouvert</a> est publié sous <a href="http://www.gnu.org/licenses/gpl-2.0.html">licence GPL2</a>.</p>

	</div>
</div>
{% endblock %}
