/* License: AGPLv3 or later (http://www.gnu.org/licenses/), Copyright 2013, Martin Owens <doctormo@gmail.com> */
#gallery {
  margin-top: 12px;
}
.item {
  padding: 10px 20px 0px;
  margin-top: 10px;
  margin-left:-20px;
  margin-right:-20px;
  color:#333;
}
.item form {
  display: block;
}
.item .image {
  background-color: #333;
  background-image: linear-gradient(to bottom, #2E2A2E 0%, #1E1E1E 35%);
  padding: 20px 35px;
  line-height: 0px;
  text-align:center;
  border-radius: 10px 10px 0 0;
}
.item .image img {
  background-color: white;
  max-width: 780px;
  max-height: 100%;
  margin: 0px;
  border:none;
  border-radius: 4px;
}
.item .info {
  background-color: #fff;
  border: 1px #ddd solid;
}
.item .desc {
  width: 100%;
  padding: 6px 20px;
  min-height: 200px;
}
.item .side {
  border-left: 1px #ddd solid;
  text-align: center;
  vertical-align: top;
  overflow:hidden;
  padding: 6px 10px;
}
.item .side h2 {
  background-color: #eee;
}
.item form .side h2 {
  background-color: #fff;
  border-width: 0px;
}
.item .info textarea {
  width: 100%;
  height: 260px;
}
.item .info p.infoerr textarea {
  border: 2px #d00 solid;
}
.item div.desc,
.item div.side {
  display: table-cell;
}
.item div.info h2 input {
  width: 97%;
  width: calc(100% - 22px);
  font-size: 14pt;
  padding: 3px;
  margin: 5px;
}
.item .title {
  background-color: #eee;
  border-width: 1px #ddd solid;
  padding: 16px 20px 10px;
}
.item h2 {
  font-family: CallunaRegular,Calluna,"Trebuchet MS",Ubuntu,"Liberation Sans",FreeSans,sans-serif;
  font-size: 17pt;
  color:#333333;
  border: 0px;
  margin: 0px;
}
.item div.by {
  font-size: 70%;
  padding-left: 4px;
  white-space: nowrap;
}

.item .side .link {
  display: block;
  position: relative;
  top: -44px;
  left: 170px;
  height: 0px;
}

.item .side h2 {
  font-size:18px !important;
  font-weight: bold;
  padding: 6px 6px 4px;
  width:205px;
  white-space:wrap;
  line-height:22px;
  border: 1px #ddd solid;
}
.item .side h2.error {
  color: #800;
}
.item .side input,
.item .side select {
  width: 200px;
}
.item .side dl{
  font-size:15px;
  line-height:17px;
  width:100%;
  overflow:hidden;
  padding:8px 12px;
  margin:0px 0px 7px 0px;
}
.item .side dd{
  float:left;
  margin:0px;
}
.item .side dt{
  padding:0px;
  clear:left;
  float:left;
  margin-right:8px;
  color:#888;
}

.empty a.link > img {
  opacity: 0.5;
}
.unpublished {
  border: 2px solid #e58 !important;
  background-color: #fee;
  padding: 2px;
}
.unpublished p a {
  background-color: transparent !important;
}
.voted {
  border: 2px solid #ffd42a;
  padding: 2px;
}
.item .text {
  border: 2px solid #fff;
  line-height: 16px;
}
.item .text code {
  white-space: pre-wrap;
  color: black;
  font-size: 140%;
}
.item .text ol {
  font-family: "Liberation Mono","Ubuntu Mono",mono;
  border: 1px dotted #eee;
  background: #fff;
  color: #FFF;
  overflow: hidden;
  padding: 7px 0px 7px 3rem;
}
.item .text li {
  color: #aaa;
  background-color: white;
  border-bottom: 1px dotted #eee;
  font-size: 75%;
}
.edit .image img {
  max-width: 350px;
  max-height: 150px;
}
.edit .text {
  overflow: hidden;
  max-height: 200px;
  border-bottom: 2px dashed #aaf;
}
.item .video iframe {
  width: 780px;
  height: 540px;
}
.item .upload {
  border-radius: 0px;
  background-image: none;
  padding: 0px;
}
.item .padding {
  padding: 5px;
}
#upload {
  padding: 10px;
  background-color: #333;
  border-bottom: 5px white solid;
}
#upload textarea {
  width: 100%;
  min-height: 350px;
}
#upload {
  color: transparent;
}
#upload input {
  color: white;
}
#upload a {
  display: none;
}
.errors {
  background-color: white;
  border: 2px #800 solid;
  padding: 4px;
  color: #800;
}
#item-title {
  display: none;
}

.license img {
  padding: 8px;
}

#item-footer {
  background-color: #f8f8f8;
  border: 1px #ddd solid;
  border-top: 0px;
  border-radius: 0px 0px 8px 8px;
  padding: 4px 10px;
  min-height: 26px;
}
#item-footer form {
  display: block;
}
#item-footer > input,
#item-footer > form > button,
#item-footer > button {
  float: right;
}

.info .tog {
  background-color: white;
  float: right;
  display: inline-block;
  border: 1px #ddd solid;
  border-radius: 8px;
  margin-left: 8px;
}
.info .tog a {
  border-right: 1px #ddd solid;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px 0px 0px 8px;
  background-repeat: no-repeat;
  background-position: 0px -32px;
}
.info .single a {
  border-radius: 8px !important;
}
.info .tog a:hover {
  text-decoration: none;
  background-position: 0px 0px;
}
.info .tog a.disabled {
  background-position: 0px -32px;
  opacity: 0.5;
  cursor: default;
}
.info .tog p {
  margin: 0px;
  padding: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  font-family: verdana, sans-serif;
  min-width: 32px;
  text-align: center;
}
div#view a {
  background-image: url("../images/icons/view.svg");
}
div#detailview a {
  background-image: url("../images/icons/detailview.svg");
}
div#download a {
  background-image: url("../images/icons/download.svg");
}
div#fav a {
  background-image: url("../images/icons/fav.svg");
}
div#vote a {
  background-image: url("../images/icons/vote.svg");
}
div#flag a {
  background-image: url("../images/icons/flag.svg");
}
div.tog a.remove {
  background-position: -32px -32px;
}
div.tog a.remove:hover {
  background-position: -32px 0px;
}
#item-footer .tag {
  float: left;
  padding: 1px 5px;
  background-color: #444;
  margin: 0px 2px;
  border: #eee 1px inset;
  border-radius: 3px;
  color: #eee;
}

/* SVG Special handling */

svg .webhover {
  opacity: 0.01;
  transition: all 0.4s ease-in-out;
}

svg .webhover:hover {
  opacity: 1.0;
  transition: all 0.8s ease-in-out;
}

