{% extends "admin/base.html" %}
{% load i18n inkscape %}

{% block title %}{% trans "Revision Diff" %}{% endblock %}

{% block welcome-msg %}{% endblock %}
{% block branding %}<h1 id="site-name">Page Difference</h1>{% endblock %}

{% block content %}

  <h1>{% trans "Revision Differences" %}</h1>

  <table class="diff">
    <tr><th scope="row">{% trans "Changes By:" %}</th> <td colspan="2">{{ diff.user }}</td></tr>
    <tr><th scope="row">{% trans "Comment:" %}</th> <td colspan="2">{{ diff.comment|linebreaks }}</td></tr>

    {% for key, a, b in diff %}
      {% if not a and not b %}
        <tr><td colspan="3"><h2>{{ key }}</h2></td></tr>
      {% elif not b %}
        <tr>
          <th>{{ key }}</th>
          <td colspan="2"><div class='system-message'>{{ a|safe }}</div></td>
        </tr>
      {% else %}
        <tr class="del">
          <th scope='row' rowspan='2'>{{ key }}</th>
          <td>-</td>
          <td>{{ a }}</td>
        </tr>
        <tr class="ins">
          <td>+</td>
          <td>{{ b }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>

{% endblock %}
