{% extends 'base.html' %}
{% load i18n %}

{% block content %}

 <h1>
 {% block title %}
  {% if o_category %}
   {% if o_user %}
    {% blocktrans %}{{ name }}'s {{ o_category }}{% endblocktrans %}
   {% else %}
    {% blocktrans %}All {{ o_category }} Resources{% endblocktrans %}
   {% endif %}
  {% else %}
   {% if o_user %}
    {% blocktrans %}All {{ name }}'s Uploads{% endblocktrans %}
   {% else %}
    {% blocktrans %}All Uploads{% endblocktrans %}
   {% endif %}
  {% endif %}
 {% endblock %}
 </h1>

<p>{{ o_category.desc }}</p>

{% include "resource/list.html" %}

{% endblock %}
