{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "InkSpace" %} | {{ gallery.name }}{% endblock %}

{% block content %}
  {% block "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/gallery.js"></script>
  {% endblock %}

  <h1>{{ gallery.name }}
  {% if gallery.user != request.user and not gallery.group %}
    <span class="small"><a href="{{ gallery.user.get_absolute_url }}">{% trans "by" %} {{ gallery.user.name }}</a></span>
  {% endif %}</h1>

  {% include "resource/list.html" %}

  {% include "resource/add.html" %}

 {% if gallery.group %}
 {% url "contact" as contact_url %}
   <h6>{% blocktrans with gallery.group as gallery_group %}This InkSpace is administered by the group '{{ gallery_group }}'. Please contact <a href="{{contact_url}}">Inkscape administrators</a> for additions or corrections.{% endblocktrans %}</h6>
 {% endif %}

{% endblock %}
