{% extends 'base.html' %}

{% load i18n comments extras %}

{% block content %}

 {% if form and form.non_field_errors %}
  <div class="errors">
    {{ form.non_field_errors }}
  </div>
 {% endif %}

  <h1 id='item-title'>
   {% block title %}
    {% if object %}
      {% if form %}{% trans "Edit" %} | {% endif %}{{ object.name }}
    {% elif paste %}
     {% trans "New Paste" %}
    {% else %}
     {% trans "Upload New Resource" %}
    {% endif %}
   {% endblock %}
  </h1>

 <div class="item{% if form %} edit{% endif %}">
 {% if not form and object.is_video %}
   <div class="image video">
    {% if object.video.type == "youtube" %}
      <iframe src="https://www.youtube.com/embed/{{ object.video.id }}" frameborder="0" allowfullscreen id="videoPlayer"></iframe>
    {% elif object.video.type == "vimeo" %}
      <iframe id="videoPlayer" src="https://player.vimeo.com/video/{{ object.video.id }}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endif %}
  </div>
 {% elif object.is_file %}
    {% if object.mime.is_image %}
      <div class="image only">
        <a href="{% url "view_resource" object.id %}"><img src="{{ object.download.url }}" alt="{% trans "Image" %}" data-icon="{{ object.icon_only }}"></a>
      </div>
    {% elif object.mime.is_text %}
      {% if object.media_x < 300 %}
        <div class="text" title="{{ object.media_type }}">{{ object.as_lines }}</div>
      {% else %}
        <div class="text" title="{{ object.media_type }}">{{ object.as_line_preview }}
          <ol><li><code><a href="{% url "view_resource" object.id %}">More ...</a></code></li></ol>
        </div>
      {% endif %}
    {% else %}
      <div class="image file">
        <a href="{% url "download_resource" object.id object.filename %}"><img src="{{ object.icon }}" alt="{% trans "File Icon" %}"></a>
      </div>
    {% endif %}
  {% elif object %}
    <div class="image link">
      <a href="{{ object.link }}" title="{% trans "External Link" %}: {{ object }}">
      {% if object.thumbnail %}
        <img src="{{ object.icon }}" alt="{% trans "Item Image" %}"/>
      {% else %}
        <img src="{{ STATIC_URL }}images/link.svg" alt="{% trans "Item Link" %}"/>
      {% endif %}
      </a>
    </div>
  {% elif form %}
    <div class="image padding"></div>
  {% endif %}

  {% block "description" %}{% endblock %}
 </div>
{% endblock %}
