{% load i18n static comments %}

<div class="moderation {% if object.target.moderation.is_deleted %} hidden {% elif object.target.moderation.is_approved %} approved {% endif %}">
    
  <div class="details">
    <div class="title">
      {% url 'view_profile' object.implicated.username as profile_url %}
      <a href="{{profile_url}}"><img class="userphoto" src="{% if object.implicated.photo %}{{ object.implicated.photo.url }}{% else %}{% static "images/photo.png" %}{% endif %}"/></a>
      <div>
          {% blocktrans trimmed with object.implicated as user_name and object.target.get_absolute_url as the_url and object.target.name as resource_name %}
            <a href="{{profile_url}}">{{user_name}}</a> posted <a href="{{ the_url }}">{{ resource_name }}</a>
          {% endblocktrans %}: 
      </div>
    </div>
    <div class="index">
      <div class="moderationstatus">
        {% if object.target.moderation.is_deleted %}{% trans "deleted" %}
        {% elif object.target.moderation.is_approved %}{% trans "approved" %}
        {% else %}{% trans "public" %}
        {% endif %}
      </div>
    </div>
    <div class="flagcount">{{ object.count }}</div>
    <div title='{% trans "Flags" %}' class="flag {% if object.count > 0 %}flagged{% endif %}"></div>
  </div>
    
  <div class="body">
    {% with object.target as object %}
      {% include "resources/resource_info.html" %}
    {% endwith %}
  </div>
  
  {% if not object.target.moderation.is_deleted %}
  <div class="mfooter">
    <div class="buttonbar">  
        <a class="button" title='{% trans "Hide Resource" %}' href="{{ object.hide_url }}" >{% trans "Hide" %}</a>
        <script>popUpLink('{% trans "Are you sure you want to hide this resource?" %}', '{% trans "Cancel" %}', '{% trans "Hide" %}', "{{ resource.url }}");</script>   
        {% if not object.target.moderation.is_approved %}
          <a title='{% trans "Approve Resource" %}' class="button" href='{{ object.approve_url }}'>{% trans "Approve" %}</a>
          <script>popUpLink('{% trans "Are you sure you want to approve this resource?" %}', '{% trans "Cancel" %}', '{% trans "Approve" %}', '{{ resource.url }}');</script>
        {% endif %}
   </div>
  </div>
  {% endif %}
 
</div>

