{% load i18n static comments %}

<div class="moderation {% if object.target.moderation.is_deleted %} hidden {% elif object.target.moderation.is_approved %} approved {% endif %}">
    
  <div class="details">
    <div class="title user">
      {% url 'view_profile' object.target.username as profile_url %}
      <a href="{{ profile_url }}">{{ object.target.username }}</a>
    </div>
    <div class="index">
      <div class="moderationstatus">
        {% if object.target.moderation.is_deleted %}{% trans "deleted" %}
        {% elif object.target.moderation.is_approved %}{% trans "approved" %}
        {% else %}{% trans "public" %}
        {% endif %}
      </div>
    </div>
    <div class="flagcount">{{ object.count }}</div>
    <div title='{% trans "Flags" %}' class="flag {% if object.count > 0 %}flagged{% endif %}"></div>
  </div>
    
  <div class="body">
  
<!-- picture   -->
    <div class="resourcepic">
      <div class="aligner">
        <a href="{{profile_url}}"><img src="{% if object.target.photo %}{{ object.target.photo.url }}{% else %}{% static "images/photo.png" %}{% endif %}"/></a>
        <a class="button" href="{{ object.target.get_absolute_url }}">{% trans "Visit profile" %}</a>
      </div>
    </div>
      
<!--description / link -->
    <div class="resourcedesc">
      {% if object.target.bio %}{{ object.target.bio|truncatewords:60|urlize|linebreaks }}{% else %}{{ object.target.username }} {% trans "hasn't written anything about themselves yet." %}{% endif %}
    </div>

<!-- information -->
    <div class="resourceinfo">
      <dl> 
      <dt>{% trans "Name" %}</dt>
        <dd>{% if object.target.first_name %}
          {{ object.target.first_name }} {{ object.target.last_name }}
        {% else %}
          {{ object.target.username }}
        {% endif %}
        </dd>
       <dt>{% trans "Last Seen" %}</dt>
         <dd>{% if object.target.last_seen %}{{ object.target.last_seen|timesince }}{% else %}{% trans "Never" %}{% endif %}</dd>
       <dt>{% trans "Joined On" %}</dt><dd>{{ object.target.date_joined|timesince }}</dd>
       <dt>{% trans "All Uploads" %}</dt><dd><a href="{% url "flat_resources" object.target.id %}">{% trans "View" %}
      </dl>
    </div>

  </div>
  
  {% if not object.target.moderation.is_deleted and not object.target.is_staff %}
  <div class="mfooter">
    <div class="buttonbar">  
        <a class="button" title='{% trans "Deactivate account" %}' href="{{ object.hide_url }}" >{% trans "Deactivate account" %}</a>
        <script>popUpLink('{% trans "Are you sure you want to deactivate this account?" %}', '{% trans "Cancel" %}', '{% trans "Deactivate" %}', "{{ resource.url }}");</script>   
        {% if not object.target.moderation.is_approved %}
          <a title='{% trans "Dismiss Flags" %}' class="button" href='{{ object.approve_url }}'>{% trans "Dismiss Flags" %}</a>
          <script>popUpLink('{% trans "Are you sure you want to dismiss the flags?" %}', '{% trans "Cancel" %}', '{% trans "Dismiss Flags" %}', '{{ resource.url }}');</script>
        {% endif %}
   </div>
  </div>
  {% endif %}
 
</div>
