
#page-community-get-involved #left-column .box {
  height: 160px;
  background-position: 12px 22px;
  background-repeat: no-repeat;
}
#page-community-get-involved #left-column .box h3 {
  background-position: 0 10px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: #000000;
}
#page-community-get-involved #left-column .box h3 a {
  display: block;
  color: #000000;
  padding: 20px 0 20px 60px;
}
#page-community-get-involved #left-column .box p {
  margin-top: 4px;
}
#page-community-get-involved #spread-the-word h3 {
  background-image: url(../images/spread-word.png);
}
#page-community-get-involved #help-others h3 {
  background-image: url(../images/help-others.png);
}
#page-community-get-involved #test-and-report-bugs h3 {
  background-image: url(../images/report-bugs.png);
}
#page-community-get-involved #write h3 {
  background-image: url(../images/write.png);
}
#page-community-get-involved #translate h3 {
  background-image: url(../images/translate.png);
}
#page-community-get-involved #code-and-develop h3 {
  background-image: url(../images/code-develop.png);
}
#page-community-get-involved #make-art h3 {
  background-image: url(../images/make-art.png);
}
#page-community-get-involved #provide-feedback h3 {
  background-image: url(../images/feedback.png);
}
#page-community-get-involved #donate h3 {
  background-image: url(../images/donate.png);
}

