
#page-donate .box-2 {
  height: 120px;
}
#page-donate #BB_BuyButtonForm {
  text-align: center;
}
#page-donate #BB_BuyButtonForm div {
  vertical-align: middle;
  display: inline-block;
}
#page-donate #BB_BuyButtonForm div:first-of-type {
  vertical-align: top;
  padding-top: 4px;
}

