#page-download #left-column div.section {
  margin-bottom: 16px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  padding: 15px 15px 15px 54px;
  background-color: #e6e6e6;
  background-position: 15px 20px;
  background-repeat: no-repeat;
}
#page-download #left-column div.section#windows {
  background-image: url(../images/shadow-windows.png);
}
#page-download #left-column div.section#macosx {
  background-image: url(../images/shadow-macosx.png);
}
#page-download #left-column div.section#linux {
  background-image: url(../images/shadow-linux.png);
}
#page-download #left-column div.section#source {
  background-image: url(../images/shadow-source.png);
  margin-bottom: 30px;
}
#page-download #left-column div.section.first {
  margin-top: 30px;
}
#page-download #left-column div.section#macosx.first .button span {
  color: #4d4d4d;
}
#page-download #left-column div.section#macosx.first .button.current-os-version span {
  color: black;
}
#page-download #left-column div.section .button small {
  display: block;
  text-align: center;
  font-size: 80%;
  opacity: 0.6;
  line-height: 1;
}
#page-download #left-column div.section .supplemental {
  margin-top: 30px;
}
#page-download #left-column div.section .current-os-version {
  border-color: #d55500;
  box-shadow: 0 0 2px #d55500;
}
#page-download #left-column div.section h2 {
  margin-top: 7px;
}
#page-download #left-column div.section > div {
  float: left;
  margin-top: -9px;
  width: 380px;
}
#page-download #left-column div.section > p {
  width: 380px;
}
#page-download #left-column div.section > ul {
  list-style: none;
  float: right;
  margin: -39px 0 -10px 0;
  padding: 0;
}
#page-download #left-column div.section > ul li {
  margin-bottom: 10px;
}

