.galleryitem {
  display: inline-block;
  border: solid #cce 2px;
  margin: 5px;
  padding: 6px;
  min-width: 162px;
  text-align: center;
  vertical-align: middle;
}
.galleryitem:hover {
  background-color: #eef;
}
.galleryitem a.link img {
  max-width: 150px;
  max-height: 150px;
}
.galleryitem a.feed {
}
.galleryitem a.feed img {
}
.galleryitem p {
  max-width: 150px;
}
.galleryitem p a {
  background-color: #eef;
  display: block;
  margin: 2px;
  padding: 3px;
  color: #157;
}
