
.header .nav {
  border-bottom: 0px !important;
}

.socialicons {
  border-radius: 4px;
  background-color: #222;
  float: right;
  display: block;
  padding: 4px;
  line-height: 0px;
  max-width: 90px;
}

.socialicons img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  margin: 4px;
  border: medium none;
/* This is buggy in firefox so removed.
  opacity: 0.8;
 
 .socialicons img:hover {
  opacity: 1.0;
*/
}

#profile {
  background-image: linear-gradient(to bottom, #1A1A1A 0%, #000 100%);
  min-height: 128px;
  border-radius: 0px 0px 15px 15px;
  padding: 2%;
  margin: 0px 0px 20px;
  overflow: hidden;
  border-width: 1px 0px 0px;
  border-color: #333;
  border-style: solid;
}

#profile #bio {
  width: 100%;
  margin: 0px;
}

#profile #photo {
  margin: 5px 30px 5px 5px;
  width: 128px;
  height: 128px;
  border-radius: 10px;
  float: left;
}

#profile h1 {
  margin: 0px;
  padding: 0px;
}
#profile h1#name {
  line-height: 40px;
  color: #DEDEDE;
}

#profile span {
  font-size: 50%;
  margin-left: 8px;
  background-color: #DEDEDE;
  color: #000;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 7px;
  vertical-align: middle;
  top: -5px;
  position: relative;
}
#profile #edit {
  background-color: #D55500;
}
#profile #edit:hover {
  box-shadow: 0px 0px 2px 2px #fff;
  z-index: 1;
}
#profile #edit a {
  color: #FFF;
  
}
#profile #edit a:hover {
  text-decoration: none;
}

.profileside h1 {
  font-size: 16pt;
  text-align: center;
  background-color: #eee;
  border-radius: 8px;
}

#sessions img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
#sessions > div {
  line-height: 20px;
}
#sessions > div > div { 
  width: 20px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 6px;
}
#sessions div.OS {
  background: url('../images/os.svg');
}
#sessions div.BR {
  background: url('../images/browser.svg');
}
#sessions div.gnu { background-position: -20px; }
#sessions div.win { background-position: -40px; }
#sessions div.osx { background-position: -60px; }
#sessions div.and { background-position: -80px; }
#sessions div.ios { background-position: -100px; }
#sessions div.bsd { background-position: -120px; }
#sessions div.ubu { background-position: -140px; }

#sessions div.ff { background-position: -20px; }
#sessions div.sf { background-position: -40px; }
#sessions div.cr { background-position: -60px; }
#sessions div.op { background-position: -80px; }
#sessions div.ie { background-position: -100px; }

#paste textarea {
  display: inline-block;
  width: 95%;
  height: 1.5em;
  margin: 0px;
  line-height: 1.5em;
}
#paste input {
  margin: 0px;
  height: 1.5em;
  line-height: 1em;
  width: 100%;
}
