#results .result h3 {
  padding-left: 20px;
}
#results .result p {
  font-size: 12px;
}
#results .news h3 {
  background: left center url(../images/news.png) no-repeat;
}
#results .page h3 {
  background: left center url(../images/page.png) no-repeat;
}
