
#shield {
    margin-bottom: 40px;
}
#banners {
    display: block;
    height: 360px;
}
#banners > div {
    background-color: #000000;
    background-image: url("../images/banner.svg");
    background-repeat: no-repeat;
    border-bottom: 1px solid #000000;
    display: block;
    height: 320px;
    margin: 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
    transition: opacity 0s ease 0.4s;
}
#banners > div.current {
    opacity: 1;
    transition: opacity 0.4s ease 0s;
    z-index: 1;
}
#banners > div p {
    font-size: 18px;
    line-height: 25px;
}
#banners > div > p {
    bottom: 68px;
    clear: both;
    display: block;
    font-size: 12px;
    line-height: 0;
    padding: 3px 0 2px;
    position: absolute;
}
#banners > div > div {
    height: 250px;
    margin: 10px 30px 0;
    text-align: right;
    width: 860px;
}
#banners > div > div > p.text {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    font-size: 18px;
    line-height: 26px;
    margin-left: auto;
    max-width: 425px;
    padding: 10px;
}
#banners a.button {
    border-color: #666666;
    display: inline-block;
}
#banners a.button img {
    float: right;
    margin: -4px -2px -4px 8px;
}
#banners > div > div > p.foot {
    font-size: 80%;
    margin-top: 5px;
}
#banners > div > div > p.foot > span {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    color: #444444;
    padding: 2px 6px;
}
#shield .tabs {
    font-size: 12px;
    height: 100px;
    line-height: 16px;
    list-style: none outside none;
    margin: -70px 19px -30px;
    padding-left: 0;
    position: relative;
    z-index: 2;
}
#shield .tabs li {
    background-color: #4d4d4d;
    background-image: linear-gradient(to bottom, #4d4d4d 0%, #1a1a1a 100%);
    border-color: #5a5a5a #333333 #1a1a1a #5a5a5a;
    border-style: solid;
    border-width: 1px 1px 0;
    display: table-cell;
    width: 1%;
}
#shield .tabs a {
    color: white;
    display: block;
    outline: 0 none;
    padding: 19px 15px 20px 60px;
    text-decoration: none;
}
#shield .tabs li:hover, #shield .tabs li:focus, #shield .tabs li.current {
    background-color: #333333;
    background-image: linear-gradient(to bottom, #333333 0%, #4d4d4d 100%);
}
#shield .tabs img {
    float: left;
    height: 32px;
    margin: 0 0 16px -45px;
    width: 32px;
}
#shield .tabs strong {
    display: block;
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 14px -45px;
}
#shield .tabs li:first-child {
    border-bottom-left-radius: 5px;
    border-left-width: 1px;
    border-top-left-radius: 5px;
}
#shield .tabs li:last-child {
    border-bottom-right-radius: 5px;
    border-right-width: 1px;
    border-top-right-radius: 5px;
}
#columns {
    margin-top: -70px !important;
}
#shield.download #banners > div {
    background-color: #333333;
    background-image: url("../images/download-shield.png");
    border-bottom: 0 none;
    border-radius: 0 0 15px 15px;
}
#shield.download #banners > div > div {
    margin: 0 250px 0 0;
    width: 670px;
}
#shield.download #banners ul ul div {
    display: none;
}
#shield.download #banners ul ul {
    float: right;
}
#shield.download #banners li {
    background-color: #444444;
    border-radius: 5px 0 0 5px;
    color: #d55500;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 1px 0 1px 3px;
    padding: 6px 8px 3px;
}
#shield.download #banners li li {
    background-color: #333333;
    border-radius: 3px;
    color: #cccccc;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    padding: 5px 9px;
}
#shield.download #banners li ul {
    margin: -3px 10px 0 0;
}
#shield.download #banners ul ul li:focus div, #shield.download #banners ul ul li div:hover {
    background-color: #333333;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0 8px 8px 0;
    display: block;
    left: 50%;
    margin-left: 215px;
    max-width: 230px;
    padding: 10px;
    position: absolute;
    top: 25px;
}
#shield.download #banners ul ul li a {
    display: block;
    font-size: 15px;
    line-height: 15px;
}
#shield.download #banners ul ul li a:hover {
    color: #cccccc;
}
#shield.download #banners ul li img {
    vertical-align: middle;
    width: 25px;
}
#shield.download #banners ul ul li p {
    color: #cccccc;
    margin: 0;
}
#shield.download #banners ul ul li:focus {
    background-color: #d55500;
    color: #333333;
    outline: medium none;
}
#shield.download #banners div > div > div {
    background-position: 90px 50px;
    background-repeat: no-repeat !important;
    background-size: 130px auto;
    height: 400px;
}
#shield.download #banners {
    margin-bottom: 12px;
}
#shield.download {
    margin-bottom: 90px;
}
#shield.download > div {
    position: relative;
}
#shield.download #releases {
    left: 50%;
    margin-left: -493px;
    position: absolute;
    top: 267px;
    z-index: 3;
}
#shield.download #releases li {
    border-radius: 6px !important;
    display: inline;
    padding-top: 0;
}
#shield.download #releases li.active {
    background-color: #d55500 !important;
}
#shield.download #releases li.active a {
    color: #333333 !important;
}
#shield.download #releases li a {
    font-size: 14px;
}

