{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "User Profile" %} | {{ object.name }}{% endblock %} 

{% block "css" %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}" >
{% endblock %}

{% block supercontent %}
  <div id="bread">
    {% include "breadcrumbs.html" %}
  </div>
  <div id="profile" style="background-color: #1c1c1c; color: white;">
    {% block "profile" %}{% endblock %}
    <h1 id="name">{% block "name" %}{{ object.name }}{% endblock %}</h1>
    <p id="bio">{% block "bio" %}{{ object.intro }}{% endblock %}</p>
  </div>

  <div id="right-sidebar">
    <div id="sidecategory">{% block "side" %}{% endblock %}</div>
  </div>

  <div id="left-column">
    {% block "content" %}{% endblock %}
  </div>
{% endblock %}
