{% extends 'base.html' %}
{% load i18n static %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/bio.css" %}"/>
{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

<p>{% trans "The Inkscape community has several teams who meet, discuss and work on different aspects of developing Inkscape, looking after its infrastructure and supporting the community around the project. Here you will find all the current teams and the ability to join them." %}</p>

<div class="photos">
{% for team in object_list %}
 {% if team.icon %}
  <table class="bioitem">
    <tr>
      <td class="img" rowspan="2"><a class="link" href="{{ team.get_absolute_url }}"><img src="{{ team.icon.url }}" title="{{ team }}"/></a></td>
      <td><p {% if team.mailman %}title="{{ team.mailman }}"{% endif %}><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></p></td>
    </tr>
    <tr>
      <td><p class="bio">{{ team.intro|safe }}&nbsp;</p></td>
    </tr>
  </table>
 {% endif %}
{% endfor %}
</div>

{% endblock %}
