.bioitem a.link img {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
  display: inline-block;
}
.bioitem a.link {
  min-width: 150px;
  min-height: 150px;
  display: block;
  line-height: 147px;
}
.bioitem a.link {
  padding: 14px;
}
.bioitem a.link img {
  border-radius: 5px;
}
.galleryitem .label {
  max-width: 150px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: #eef;
  display:table-cell;
  margin: 2px;
  padding: 2px;
  height: 4em;
  width: 150px;
  word-wrap: break-word;
  border-radius: 16px;
  vertical-align: middle;
}
table.bioitem {
  border-collapse: collapse;
  border: solid #cce 2px;
  margin: 5px;
  padding: 6px;
  min-width: 162px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
table.bioitem td {
  padding: 0px;
}
table.bioitem td.img {
  background-color: #334;
  width: 0px;
  padding: 0px;
}
table.bioitem p {
  text-align: left;
  margin: 0px;
  height: 100%;
}
table.bioitem p.bio {
  margin: 5px 3px;
  padding: 0px 10px;
  min-height: 134px;
}
table.bioitem p a {
  background-color: #eef;
  display: block;
  margin: 0px;
  padding: 6px 3px 6px 12px;
  font-size: 18px;
  color: #157;
}
