{% load i18n pile comments %}

<div class="moderation {% if object.target.moderation.is_deleted %} hidden {% elif object.target.moderation.is_approved %} approved {% endif %}">
    
  <div class="details">
    <div class="title">
      {% url 'view_profile' object.implicated.username as profile_url %}
      <a href="{{profile_url}}"><img class="userphoto" src="{% if object.implicated.details.photo %}{{ object.implicated.details.photo.url }}{% else %}{{ STATIC_URL }}images/photo.png{% endif %}"/></a>
      <div>
          {% blocktrans with object.implicated as user_name and object.target.get_absolute_url as the_url and object.target.name as resource_name %}
            <a href="{{profile_url}}">{{user_name}}</a> posted <a href="{{ the_url }}">{{ resource_name }}</a>
          {% endblocktrans %}: 
      </div>
    </div>
    <div class="index">
      <div class="moderationstatus">
        {% if object.target.moderation.is_deleted %}{% trans "deleted" %}
        {% elif object.target.moderation.is_approved %}{% trans "approved" %}
        {% else %}{% trans "public" %}
        {% endif %}
      </div>
    </div>
    <div class="flagcount">{{ object.count }}</div>
    <div title='{% trans "Flags" %}' class="flag {% if object.count > 0 %}flagged{% endif %}"></div>
  </div>
    
  <div class="body">
  
<!-- picture   -->
    <div class="resourcepic">
      <div class="aligner">
        {% if object.target.is_video %}
            {% if object.target.video.type == "youtube" %}
              <iframe src="https://www.youtube.com/embed/{{ object.target.video.id }}" frameborder="0" allowfullscreen id="videoPlayer"></iframe>
            {% elif object.target.video.type == "vimeo" %}
              <iframe id="videoPlayer" src="https://player.vimeo.com/video/{{ object.target.video.id }}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            {% endif %}
        {% elif object.target.is_file %}
          {% if object.target.mime.is_image %}
              <a href="{{ object.target.get_absolute_url }}"><img src="{{ object.target.download.url }}" alt="{% trans "Image" %}"></a>
          {% elif object.target.mime.is_text %}
            <a href="{{ object.target.get_absolute_url }}"><img src="{{ STATIC_URL }}mime/text.svg" title="{{ object.target.media_type }}"/></a>
          {% else %}
              <a href="{% url "view_resource" object.target.id %}"><img src="{{ object.target.icon }}" alt="{% trans "File Icon" %}"></a>
          {% endif %}
        {% elif object.target %}
            <a href="{{ object.target.link }}" title="{% trans "External Link" %}: {{ object.target }}">
            {% if object.target.thumbnail %}
              <img src="{{ object.target.icon }}" alt="{% trans "Item Image" %}"/>
            {% else %}
              <img src="{{ STATIC_URL }}images/link.svg" alt="{% trans "Item Link" %}"/>
            {% endif %}
            </a>
        {% endif %}
        <a class="button" href="{{ object.target.get_absolute_url }}">{% trans "View" %}</a>
      </div>
    </div>
      
<!--description / link -->
    <div class="resourcedesc">
      {{ object.target.desc|truncatewords:60|urlize|linebreaks }}
      {% if object.target.link and not object.target.is_video %}
        <p>{% trans "Link" %}: <a href="{{ object.target.link }}">{{ object.target.link }}</a></p>
      {% endif %}
    </div>

<!-- information -->
    <div class="resourceinfo">
    
      {% if not object.target.is_file %}
        <a class="link" href="{{ object.target.link }}"><img src="{{ STATIC_URL }}/images/link_to.svg" alt={% trans "Link" %} title={% trans "Follow Link (external site)" %}/></a>
      {% endif %}
      <dl>
        <dt>{% trans "Category" %}</dt>
        <dd>
          {% if object.target.category %}
            {{ object.target.category }}
          {% else %}
            {% trans "Unpublished"%}
          {% endif %}
        </dd>
        {% if object.target.is_file %}    
          {% if object.target.mime.is_image %}
            <dt>{% trans "Area" %}</dt><dd> {{ object.target.media_x }}x{{ object.target.media_y }}</dd>
          {% elif object.target.mime.is_text %}
            <dt>{% trans "Lines" %}</dt><dd> {{ object.target.media_x }}</dd>
            <dt>{% trans "Words" %}</dt><dd> {{ object.target.media_y }}</dd>
          {% endif %}
          <dt>{% trans "Size" %}</dt><dd>{{ object.target.download.size|filesizeformat }}</dd>
        {% else %}
          <dt>{% trans "Linked From" %}</dt><dd>{{ object.target.link_from }}</dd>
        {% endif %}
        <dt>{% trans "Created" %}</dt><dd>{{ object.target.created|timetag }}</dd>
        <dt>{% trans "Type" %}</dt><dd>{{ object.target.media_type }}</dd>
        {% if object.target.license %}
          <dt>{% trans "Licence" %}</dt><dd>{{ object.target.license.code }}</dd>
        {% endif %}
        <dt>{% trans "Favorited" %}</dt><dd>{{ object.target.votes.count }}</dd>
        <dt>{% trans "Downloaded" %}</dt><dd> {{ object.target.downed }}</dd>
        <dt>{% trans "Viewed" %}</dt><dd> {{ object.target.viewed }}</dd>      
        <dt>{% trans "Comments" %}</dt><dd> {% get_comment_count for object.target as comment_count %}{{comment_count}}</dd>
      </dl>
    </div>

  </div>
  
  {% if not object.target.moderation.is_deleted %}
  <div class="mfooter">
    <div class="buttonbar">  
        <a class="button" title='{% trans "Hide Resource" %}' href="{{ object.hide_url }}" >{% trans "Hide" %}</a>
        <script>popUpLink('{% trans "Are you sure you want to hide this resource?" %}', '{% trans "Cancel" %}', '{% trans "Hide" %}', "{{ resource.url }}");</script>   
        {% if not object.target.moderation.is_approved %}
          <a title='{% trans "Approve Resource" %}' class="button" href='{{ object.approve_url }}'>{% trans "Approve" %}</a>
          <script>popUpLink('{% trans "Are you sure you want to approve this resource?" %}', '{% trans "Cancel" %}', '{% trans "Approve" %}', '{{ resource.url }}');</script>
        {% endif %}
   </div>
  </div>
  {% endif %}
 
</div>

