{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block submit_buttons_top %}
{% endblock %}

{% block submit_buttons_bottom %}
  <div class="submit-row">
    {% if translation %}
      <input type="submit" value="{% trans 'Save Translation' %}" class="default" name="_save" />
    {% elif original.is_published %}
      <button type="submit" value="1" name="is_published" class="default">{% trans "Save" %}</button>
      <button type="submit" value="" name="is_published" class="deletelink">{% trans 'Unpublish' %}</button>
    {% else %}
      <button type="submit" value="1" name="is_published" class="default">{% trans 'Publish' %}</button>
      <button type="submit" value="" name="is_published" class="">{% trans 'Save' %}</button>
    {% endif %}
  </div>
{% endblock %}

