{% load i18n %}

<div class="cms-toolbar-item cms-toolbar-item-buttons">
  <div id="agreement" style="display: none;">{% include "person/cla.html" %}</div>
  <a class="cms-btn cms-btn-action cms-btn-switch-save" href="{% url 'agree_to_cla' %}" title="Agree to Website License Agreement">
    {% trans "Start Editing Website" %}
  </a>
  <script>
    popUpLink($('#agreement').html(), "I Don't Agree", "I Agree",
      "{{ request.toolbar.get_object_public_url }}?{{ request.toolbar.edit_mode_url_off }}")
  </script>
</div>
