{% extends "base.html" %}

{% load i18n pagination_tags pile %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ DESIGN_URL }}css/alert.css"/>
{% endblock %}


{% block content %}
  <h1>New {{ alerttype }} Messages ({{ object_list.count }})</h1>

  {% autopaginate object_list 15 as items %}

<script>
  function reply_message(msg_id) {
    var f = document.getElementById('form-'+msg_id);
    f.setAttribute('onsubmit','');
    f.setAttribute('method','post');
    document.getElementById('body-'+msg_id).setAttribute('style','');
    return false;
  }
</script>

  {% for object in items %}

<div class="comment" id="alert_{{ object.id }}">
  <div class="details">
    <div class="title">
      {% if not object.viewed %}
        <img src="{{ DESIGN_URL }}images/action-email.png" alt="New" title="New Message"/>
      {% endif %}
      {{ object.subject }}
    </div>
    <div class="index">
      {% if not object.viewed %}
        <form class="runner" action="{% url "alert.view" object.pk %}">
          <button id="{{ object.pk }}" title="{% trans "Mark as Read" %}">-</button>
        </form>
      {% else %}
        <form class="runner" action="{% url "alert.delete" object.pk %}">
          <button id="{{ object.pk }}" title="{% trans "Delete Alert" %}">X</button>
        </form>
      {% endif %}
    </div>
    <div class="index">{{ object.created|timetag }}</div>
  </div>
  {{ object.body }}
</div>

  {% paginate %}

  {% empty %}
    <h2>No messages or alerts to view</h2>
  {% endfor %}

<script>
  $('.runner').submit(function(){
     jQuery.ajax({
        url: $(this).attr("action"),
        type: 'get',
        success:function(data)
        {
            $('#alert_'+data).remove();
        }, 
     });
    return false;
  });
</script>

{% endblock %}

