{% extends "moderation/base.html" %}
{% load i18n comments pagination_tags %}

{% block content %}
  <h1>{{ title }}</h1>
    
    <div class="comments">
    <p>{% trans "You can do two things here" %}:</p>
      <ul>
        <li><strong>{% trans "Approve Comment" %}:</strong> {% trans "Future reports of this comment will be ignored." %}</li>
        <li><strong>{% trans "Hide Comment" %}:</strong> {% trans "The comment will no longer be shown on the website and the person who made this comment gets a message about the reason for this." %}</li>
      </ul>
      <h2>{% trans "This is a list of all comments reported by our users" %} ({{ comment_list|length }}):</h2>
      <div>
        {% url "moderation:flagged" as next_url %}
        {% autopaginate object_list 10 as commentslist %}
        {% for object in commentslist %}
          {% with forloop.counter0|add:1 as comment_counter %}
            {% include category.template|default:"moderation/flag_item.html" %}
          {% endwith %}
        {% endfor %}
      </div>
    {% paginate %}
    </div>
{% endblock %}

<!--- 
Todo:

- adapt css
- for moderate-comment-page:
  - somehow display some kind of 'user history', so repeated infringements of CoC can be followed up/consequences be taken
-->
