{% extends "base.html" %}

{% load i18n %}

{% block title %}{% if object %}{% blocktrans with object.title as news_title %}Edit '{{ news_title }}'{% endblocktrans %}{% else %}{% trans "New News Article" %}{% endif %}{% endblock %}
{% block body-pageid %}news-edit{% endblock %}

{% block content %}

<form method="post" action=".">
{% csrf_token %}

  {% if object %}
  <h2>{% trans "Delete News Article" %}</h2>
  {% endif %}

  <div class="warning">{% trans "This will delete the article and any translations associated with the article!" %}</div>

  <h3>{{ object.title }}</h3>

  <hr/>

  <p>{{ object.excerpt|safe }}</p>

  <hr/>

  <p>{{ object.content|safe }}</p>

  <hr/>

  <input type="submit" name="confirm" value="{% trans "Yes" %}!"/>
  <input type="submit" name="no" value="{% trans "No, I changed my mind" %}!"/>

</form>

{% endblock %}

