{% load i18n %}
{% if perms.cmsplugin_news.create %}
  <div style="text-align: right;"><a href="{% url "news_create" %}"><img src="{{ DESIGN_URL }}/images/add.svg" alt="Create News" style="position: relative; top: -38px; right: 8px;"/></a></div>
{% endif %}
<div class="cmsplugin-news">
  <div class="content">
{% if latest %}
 {% for news in latest %}
  <div class="article">
    <h2><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h2>
    <p class="postdate">{{ news.pub_date|date:"DATE_FORMAT" }}</p>
    <p>{{ news.excerpt }}</p>
    <p class="readmore"><a href="{{ news.get_absolute_url }}">Read more...</a></p>
  </div>
 {% endfor %}
{% else %}
 <p class="empty">{% trans "No news yet" %}</p>
{% endif %}
<!--<a href="{ url news_archive_index %}">{% trans "Archive" %}</a>-->
  </div>
</div>
