{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% load i18n %}

{% block title %}{% trans "Latest News" %}{% endblock %}
{% block body-pageid %}news-archive{% endblock %}
{% block css %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{{ DESIGN_URL }}css/news-archive.css" media="all" />
{% endaddtoblock %}
{% endblock %}

{% block content %}
  <h1>{% trans "Latest News" %}</h1>
  {% for object in latest %}
    {% include "news/list_item.html" %}
  {% endfor %}
{% endblock %}
