{% extends "base.html" %}

{% load i18n %}
{% load cms_tags sekizai_tags %}

{% block headerdesc %}{{ object.excerpt }}{% endblock %}

{% block content %}
  {% addtoblock 'css' %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/news-full.css" media="all" />
  {% endaddtoblock %}

  {% include "news/translation_option.html" %}
  <h1>{% block title %}{{ object.title }}{% endblock %}</h1>
  <p class="postdate">{{ object.pub_date }}</p>
  {% if not object.is_published %}
    <div class="warning">{% trans "This article is not published yet!" %}</div>
  {% endif %}
  {{ object.content|safe }}

{% endblock %}

