{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block title %}Latest News{% endblock %}
{% block body-pageid %}news-archive{% endblock %}
{% block css %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{{ DESIGN_URL }}css/news-archive.css" media="all" />
{% endaddtoblock %}
{% endblock %}

{% block content %}
  <h1>Latest News</h1>
  {% for object in latest %}
    <div class="article">
      <div class="postdate">{{ object.pub_date }}</div>
      <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
      <p>{{ object.excerpt }}</p>
      <a class="readmore" href="{{ object.get_absolute_url }}">Read more</a>
      {% if perms.cmsplugin_news.translate %}
        {% if object.needs_translation %}
        - <a href="">needs translting</a>
        {% else %}
        - translated
        {% endif %}
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
