{% load i18n %}

    {% if object.is_original %}
      {% if perms.cmsplugin_news.edit %}
        <a class="roundel" href="{% url "news_edit" object.id %}"><img src="{{ STATIC_URL }}/images/edit.svg" title="{% trans "Edit This News" %}"/></a>
      {% endif %}
      {% if perms.cmsplugin_news.delete %}
        <a class="roundel" href="{% url "news_delete" object.id %}"><img src="{{ STATIC_URL }}/images/delete.svg" title="{% trans "Delete This News" %}"/></a>
      {% endif %}
    {% else %}

      {% if perms.cmsplugin_news.translate %}
        <a class="roundel" href="{% url "news_translate" object.id %}"><img src="{{ STATIC_URL }}/images/{% if object.needs_translation %}trans-need.svg" title="{% trans "Needs Translating" %}{% else %}trans-not.svg" title="{% trans "Translation OK" %}{% endif %}

{% trans "Original Updated" %}: {{ object.updated }}
{% trans "Translation Updated" %}: {{ object.translated }}"/></a>
      {% endif %}
    {% endif %}

