{% extends "base_about.html" %}
{% block alltitle %}Inkscape Features{% endblock %}
{% block pagetitle %}Inkscape Features{% endblock %}
{% block left-column %}
<p class="summary">Inkscape is a professional quality vector graphics software with sophisticated drawing and manipulation tools. It has a comprehensive feature set that is used by professionals and hobbyists around the world.</p>
<h2>Notable Features</h2>
<div id="notable-features-container">
	<div>
		<img src="/media/images/Drawingtools.bmp">
		<h3>Drawing tools</h3>
		<p>At the heart of Inkscape are sophisticated drawing tools that allow freehand drawing or bezier curves.</p>
	</div>
	<div>
		<img src="/media/images/nodepoint.bmp">
		<h3>Node points</h3>
		<p>Inkscape's node tool enables precision editing of multiple paths at once.</p>
	</div>
	<div>
		<img src="/media/images/texttool.bmp">
		<h3>Text tool</h3>
		<p>Inkscape has on-canvas text editing with precise control over typography.</p>
	</div>
	<div class="last">
		<img src="/media/images/XMLeditor.bmp">
		<h3>XML editor</h3>
		<p>Directly manipulate underlying SVG code to ensure complete W3C compliancy.</p>
	</div>
</div>
<div id="more-things-container">
	<div>
		<h2>Creation</h2>

		<h3>Shape tools</h3>
		<p>Inkscape has a number of tools for drawing geometric shapes.</p>

		<h3>Gradients</h3>
		<p>Inkscape allows easy onscreen editing of complex gradients.</p>

		<h3>Clones</h3>
		<p>Inkscape clones are "live" linked copies of objects that change with the original, but can also be transformed independently.</p>

		<h3>Bitmaps</h3>
		<p>Import raster graphics by either linking or embedding them, and perform basic editing. You can also create bitmaps of selected objects.</p>

		<h3>Connectors</h3>
		<p>Creating organization charts or flow diagrams is easy with Inkscape's connector tool.</p>
	</div>
	<div>
		<h2>Manipulation</h2>

		<h3>Transformations</h3>
		<p>Inkscape supports a number of object transformations, such as scale, rotate and skew.</p>

		<h3>Styling</h3>
		<p>Inkscape has intuitive fill and stroke dialogs that control fill and stroke colour, and stroke styles. The colour palette bar allows quick changes.</p>

		<h3>Layers</h3>
		<p>Inkscape layers let you organise elements into a logical structure. You can lock or hide individual layers.</p>

		<h3>Positioning</h3>
		<p>Positioning objects in Inkscape is simple with the selector tool, the align &amp; distribute dialog, and z-order operations.</p>

		<h3>Object grouping</h3>
		<p>Inkscape lets you group related objects for easier manipulation.</p>
	</div>
	<div class="last">
		<h2>More stuff</h2>

		<h3>Donec congue</h3>
		<p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.</p>

		<h3>Quisque</h3>
		<p>Mauris vel neque sit amet nunc gravida congue sed sit amet purus.</p>

		<h3>Mauris commodo.</h3>
		<p>Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta lingula egestas tincidunt.</p>
	</div>
</div>
{% endblock %}
