#
# These version numbers have been copied from the packages on our Ubuntu
# dev machine.
#

# Python libraries (can't install on some machines using pip)
docutils==0.11
python-dateutil==2.2
python-gnupg==0.3.6
Pillow==2.4.0
Whoosh==2.6.0
feedparser==5.1.3
httplib2==0.9
uWSGI==2.0.4
pytz

# Web libraries
python-openid==2.2.4
easy-thumbnails==2.0.1

# Django libraries
Django==1.6.5
South==1.0
django-request==1.0.1
django-haystack==2.2.0
django-reset==0.2.0
django-pagination==1.0.5
django-social-auth==0.7.28
django-model-utils==2.0.3
django-registration==1.0
django-polymorphic==0.5.5
django-reversion==1.8.0
django-mptt==0.6.1
django-recaptcha==1.0
django-split-json-widget==0.2
django-user-sessions==1.0.0
django-sendfile==0.3.6
django-pile==0.5.7
django-contrib-comments==1.5
#djangocms-rosetta==0.8.1

# Django-CMS Plugins
django-cms==3.0.6

djangocms-file==0.0.2
djangocms-link==1.4.0
djangocms-picture==0.0.4
djangocms-snippet==1.1
djangocms-text-ckeditor==2.3.0
cmsplugin-ink-news==0.8.5

cmsplugin-pygments==0.7.3
cmsplugin-filery==1.0.1
cmsplugin-search==0.7.3

# We'd enable this, but the system requires the geoip-devel package
# geoip

