#
# These version numbers have been copied from the packages on our Ubuntu
# dev machine.
#

# Python libraries (can't install on some machines using pip)
docutils
distribute>=0.6.28
pillow==2.4.0
Whoosh==2.4
#launchpadlib
#lazr.restfulclient
feedparser
uwsgi

# Web libraries
python-openid==2.2.4

# Django libraries
Django==1.5
South==0.8.1
django-haystack==2.0
django-reset
django-social-auth==0.7.22
django-registration==1.0
django-reversion==1.8.0
django-recaptcha
django-user-sessions

# Django-CMS Plugins
django-cms==3.0

djangocms-text-ckeditor
djangocms-file
djangocms-picture
djangocms-snippet
djangocms-link

cmsplugin-pygments==0.7.3
cmsplugin-filery==1.0.1
cmsplugin-search==0.7.2

