#
# These version numbers have been copied from the packages on our Ubuntu
# dev machine.
#

# Python libraries (can't install on most machines using pip)
pil==1.1.7

# Web libraries
python-openid==2.2.4

# Django libraries
Django==1.5
South==0.8.1
django-cms==2.4.2
cmsplugin-pygments==0.7.3
cmsplugin-filery==1.0.1
easy-thumbnails
django-filer
django-social-auth==0.7.22
django-registration==1.0
MySQL-python

