{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}{% trans "Flag Item" %}{% endblock %}

{% block content %}
  {% if flag_type == 10 %}
    <h1>{% trans "Hide Item" %}</h1>
    <p>{% trans "Are you sure you want to hide this item?" %}
  {% elif flag_type == 5 %}
    <h1>{% trans "Approve Item" %}</h1>
    <p>{% trans "Are you sure you want to approve this item?" %}</p>
  {% else %}
    <h1>{% trans "Flag Item" %}</h1>
    <p>{% trans "Are you sure you want to flag this content?" %}
  {% endif %}

  <p>{{ object }}</p>

  <form method="POST" action=".">
   {% csrf_token %}
   <input type="hidden" name="next" value="{{ next }}"/>
   <input type="submit" name="confirm" value="{% trans "Confirm" %}"/>
   <input type="submit" name="cancel" value="{% trans "Cancel" %}"/>
  </form>
{% endblock %}
