{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}{% trans "Moderators' Area" %}{% endblock %}

{% block content %}
    <h1>{% trans "Welcome to the Moderators' Area!" %}</h1>
    <div class="warning">{% trans "Before you start out on your mission to make the Inkscape Website a friendly place, please review our <a href='/community/coc/'>Community Code of Conduct</a>." %}</div>

    {% for category in categories %}
     {% if category.targets.recent %}
      <h2>{% trans "Flagged" %} {{ category }}s</h2>
      <span><a href="{% url "moderate_flagged" %}" >{% trans "See All Reports" %}</a></span>
      <span><a href="{% url "moderate_latest" %}" >{% trans "See Latest Objects" %}</a></span>

      {% for object in category.targets.recent %}
        {% include flag.template|default:"moderation/item.html" %}
      {% endfor %}
     {% endif %}
   {% endfor %}
{% endblock %}

<!-- todo: breadcrumbs on subpages would be great -->
