{% load i18n comments %}

<textarea name="message" id="message" cols="50" rows="15">Hi {{ comment.user.username }}!

The Inkscape Community Moderators noticed that someone reported your comment at 
https://www.inkscape.org{{ comment.get_content_object_url }} .
You wrote:

{{ comment.comment }}
          
In accordance with our Community Code of Conduct (https://www.inkscape.org/community/coc), we remove your comment, because 
INSERT REASON HERE.

As a user of this website, please adhere to our Code of Conduct and be considerate and courteous towards other users. 

Best regards,
Inkscape Community Moderators</textarea>