{% extends 'base.html' %}
{% load i18n sekizai_tags %}

{% block title %}{% trans "User Profile" %} | {{ user.name }}{% endblock %} 

{% block supercontent %}
  {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profile.css" >
  {% endaddtoblock %}

  <div id="profile" style="background-color: #1c1c1c; color: white;">
    <img id="photo" src="{% if user.details.photo %}{{ user.details.photo.url }}{% else %}{{ STATIC_URL }}images/photo.png{% endif %}"/>

   <div class="socialicons">
     {% if user.moderation and request.user != user %}
       {% if user.moderation.i_flagged %}
         <img src="{{ STATIC_URL }}/images/social/flag.svg" title="{% trans "You have flagged this user." %}"/>
       {% else %}
         <a href="{{ user.moderation.flag_url }}" title="{% trans "Flag User to Moderators" %}"><img src="{{ STATIC_URL }}/images/social/flag.svg"/></a>
         <script>popUpLink('{% trans "Are you sure you want to report this user?" %}', '{% trans "Cancel" %}', '{% trans "Report" %}', "{% url 'view_profile' user.username %}");</script>
       {% endif %}
     {% endif %}
     {% if user.is_staff %}
       {% if user == request.user %}<a href="/admin/">{% endif %}<img src="{{ STATIC_URL }}/images/social/admin.svg" title="{% trans "Inkscape Website Administrator" %}"/></a>
     {% endif %}
     {% if user.is_moderator %}
       {% if user == request.user %}<a href="{% url "moderation" %}">{% endif %}<img src="{{ STATIC_URL }}/images/social/moderation.svg" title="{% trans "Inkscape Community Moderator" %}"/></a>
     {% endif %}
     {% if user.details.dauser %}
       <a href="http://{{ user.details.dauser }}.deviantart.com/"><img src="{{ STATIC_URL }}/images/social/deviantart.svg" title="{% trans "My deviantArt Account" %}"/></a>
     {% endif %}
     {% if user.details.ocuser %}
       <a href="https://openclipart.org/user-detail/{{ user.details.ocuser }}"><img src="{{ STATIC_URL }}/images/social/openclipart.svg" title="{% trans "My openClipart Profile" %}"/></a>
     {% endif %}
     {% if user.details.tbruser %}
       <a href="http://{{ user.details.tbruser }}.tumblr.com/"><img src="{{ STATIC_URL }}/images/social/tumblr.svg" title="{% trans "My Tumblr" %}"/></a>
     {% endif %}
     {% if request.user.is_authenticated and request.user != user %}
       <a href="{% url "message.new" user.username %}"><img src="{{ STATIC_URL }}/images/social/message.svg" title="{% trans "Send Message" %}"/></a>
     {% endif %}
    </div>

    <h1 id="name">
      {% if user.first_name %}
        {{ user.first_name }} {{ user.last_name }}
        <span id="username">{{ user.username }}</span>
      {% else %}
        {{ user.username }}
        <span id="username">{% trans "Anonymous" %}</span>
      {% endif %}
      {% if user.is_me %}
      <span id="edit"><a href="{% url "edit_profile" %}">{% trans "Edit" %}</a></span>
      {% endif %}
    </h1> 
    <p id="bio">{% block headerdesc %}{% if user.details.bio %}{{ user.details.bio }}{% else %}{{ user }} {% trans "hasn't written anything about themselves yet" %}{% endif %}{% endblock %}</p>

  </div>

  {% block content %}{% trans "Nothing" %}{% endblock %}
{% endblock %}
