{% extends 'base.html' %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ DESIGN_URL }}css/profile.css" >
{% endblock %}

{% block supercontent %}

  <div id="profile" style="background-color: #1c1c1c; color: white;">
    <img id="photo" src="{% if user.details.photo %}{{ user.details.photo.url }}{% else %}{{ DESIGN_URL }}images/photo.png{% endif %}"/>

   <div class="socialicons">
     {% if user.details.dauser %}
       <a href="http://{{ user.details.dauser }}.deviantart.com/"><img src="{{ DESIGN_URL }}/images/social/deviantart.svg" alt="deviantArt"/></a>
     {% endif %}
     {% if user.details.ocuser %}
       <a href="https://openclipart.org/user-detail/{{ user.details.ocuser }}"><img src="{{ DESIGN_URL }}/images/social/openclipart.svg" alt="openClipart"/></a>
     {% endif %}
     {% if user.details.tbruser %}
       <a href="http://{{ user.details.tbruser }}.tumblr.com/"><img src="{{ DESIGN_URL }}/images/social/tumblr.svg" alt="Tumblr"/></a>
     {% endif %}
    </div>

    <h1 id="name">{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{% trans "Annonymous" %}{% endif %}<span id="username">({{ user.username }})</span></h1>
    <p id="bio">{% if user.details.bio %}{{ user.details.bio }}{% else %}{{ user }} {% trans "hasn't written anything about themselves yet" %}{% endif %}</p>

  </div>

{% block content %}Nothing{% endblock %}

{% endblock %}
