{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{% block title %}{% trans "Edit Profile" %}{% endblock %}</h1>

<h2>{% trans "Account settings" %}</h2>

<form method="post" enctype="multipart/form-data">

{% csrf_token %}

{{ user_form.non_field_errors }}

<table class="block">
    {% for field in user_form %}
    <tr>
        <th scope="row">{{ field.label }}:</th>
        <td>{{ field }}</td>
    </tr>
    {% if field.errors %}<tr><td colspan="2" class='error'>{{ field.errors|striptags }}</td></tr>{% endif %}
    {% endfor %}
</table>

<h2>{% trans "Personal Details" %}</h2>

{{ details_form.non_field_errors }}

<table class="block">
    {% for field in details_form %}
    <tr>
    
    {% ifequal field.name "gpg_key" %}
        <th scope="row">{{ field.label }}:
          <div class="tooltip"> 
            <img class="help" src="{{ STATIC_URL }}/images/icons/help.svg" alt="?"/>
            <span> 
              <img class="ttarrow" src="{{ STATIC_URL }}/images/icons/tooltiparrow.svg" />
              <strong>{% trans "Signing and Checksums for Uploads" %}</strong><br/>
              {% trans "Either fill in a valid GPG key, so you can sign your uploads, or just enter any text to activate the upload validation feature which verifies your uploads by comparing checksums." %}<br/>
              <strong>{% trans "Usage in file upload/editing form:" %}</strong><br/>
              {% trans "If you have submitted a GPG key, you can upload a *.sig file, and your upload can be verified. You can also submit these checksum file types:" %}<br/>
              *.md5, *.sha1, *.sha224, *.sha256, *.sha384 {% trans "or" %} *.sha512
            </span>
          </div>
        </th>
        
    {% else %}
        <th scope="row">{{ field.label }}:</th>
    {% endifequal %}
        <td>{{ field }}</td>
    </tr>
    {% if field.errors %}<tr><td colspan="2" class='error'>{{ field.errors|striptags }}</td></tr>{% endif %}
    {% endfor %}
</table>

<input type="submit" value="{% trans "Save" %}"/>

</form>

<h2>{% trans "Preferences" %}</h2>

<a href="{% url "alert.settings" %}">{% trans "Edit Message Settings" %}</a>

{% endblock %}
