{% extends 'person/base.html' %}
{% load user_session i18n future extras %}


{% block content %}

  <div id="right-sidebar">
    <div id="sidecategory">
      <h2 title="{% trans "Your place to upload Inkscape Art!" %}">{% trans "InkSpace Uploads" %}</h1>
      <ul>
        <li><a href="{% url "resources" username=user.username %}">{% trans "All Uploads" %}</a></li>
        <li><a href="{% url "resources" username=user.username category='pastebin' %}">{% trans "PasteBin" %}</a></li>
        {% if user.details.gpg_key %}
          <li><a href="{% url "user_gpgkey" user.username %}">{% trans "Public GPG Key" %}</a></li>
        {% endif %}
      </ul>

      {% if user.teams.all %}
      <h2>{% trans "Teams" %}</h2>
      <ul>
        {% for team in user.teams.all %}
          <li title="{{ team }} - {{ team.desc }}"><a>{{ team }}{% if team.is_admin %}<span>&#9733;</span>{% endif %}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      <h2>{% trans "Information" %}</h2>
      <ul>
        {% if user.details.last_seen %}
          <li><a>{% trans "Last Seen" %}<span title="{{ user.details.last_seen|ago }} ({{ user.details.last_seen|date:"Y-m-d" }})">{{ user.details.last_seen|ago:1 }}</span></a></li>
        {% endif %}
        <li><a>{% trans "Joined" %}<span title="{{ user.date_joined|ago }} ({{ user.date_joined|date:"Y-m-d" }})">{{ user.date_joined|ago:1 }}</span></a></li>
        <li><a>{% trans "Profile Visits" %}<span>{{ user.details.visits }}</span></a></li>
        <li><a>{% trans "Views" %}<span>{{ user.resources.views }}</span></a></li>
        <li><a>{% trans "Downloads" %}<span>{{ user.resources.downloads }}</span></a></li>
        {% if user.is_me or user.is_staff %}
        <li><a>{% trans "Upload Quota" %}<span title="{{ user.resources.disk_usage|filesizeformat }} {% trans "of" %} {{ user.quota|filesizeformat }}">{{ user.resources.disk_usage|percent:user.quota }}</span></a></li>
        {% endif %}
      </ul>

    {% if user.is_me %}
     <h2 title="{% trans "Sessions are stored only as long as you are logged in and the IP address is not recorded permanently."%}">{% trans "Sessions" %}</h2>
     <ul id="sessions">
     {% for session in user.sessions %}
       <li title="{{ session.ip }} / {{ session.last_activity|ago }}"><a{% if session.session_key == request.COOKIES.sessionid %} class="active"{% endif %}>{{ session.ip|location }}
         <span>
           <span class="OS {{ session.user_agent|device_id }} {{ session.user_agent|device_id:True }}" title="{{ session.user_agent|device }}">&nbsp;</span>
           <span class="BR {{ session.user_agent|browser_id }}" title="{{ session.user_agent|browser }}">&nbsp;</span>
         </span>
       </a></li>
     {% endfor %}
     </ul>
   </div>

     <h2>Use The Paste Bin</h2>
     <div id="paste">
      <form method="POST" action="{% url "pastebin" %}">
        {% csrf_token %}
        <textarea name="download" placeholder="{% trans "Paste Your Bin Here..." %}"></textarea>
        <input type="submit" value="{% trans "Paste!" %}"/>
      </form>
     </div>
   {% else %}
     </div>
   {% endif %}
  </div>

<div id="left-column">
  {% if user.resources.latest %}

  <h2>{% trans "Recent Uploads" %}

  {% if not user.is_me %}
    <form class="subsform" method="POST" action="{% url "alert.subscribe" "user_gallery" user.pk %}">
      {% csrf_token %}
      <input class="subscribe" type="submit" alt="{% trans "Subscribe" %}" title="{% trans "Subscribe" %}" value=""/>
    </form>
  {% endif %}
  </h2>

    {% with 4 as limit %}
      {% with user.resources.latest as items %}
        {% include "resource/list.html" %}
      {% endwith %}
    {% endwith %}
  {% endif %}

  {% if user.favorites.all %}
    <h2>{% trans "Favorite Artworks" %}</h2>
    {% with 4 as limit %}
      {% with user.favorites.items as items %}
        {% include "resource/list.html" %}
      {% endwith %}
    {% endwith %}
  {% endif %}
</div>

{% endblock %}
