{% extends 'base.html' %}

{% block content %}

<h1>User: {{ user.details }}</h1>

<table class="block">
    <tr>
        <td rowspan="4" class="photo"><img src="{% if user.details.photo %}{{ user.details.photo.url }}{% else %}{{ DESIGN_URL }}images/photo.png{% endif %}"/></td>
        <th scope="row">Username:</th>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <th scope="row">Name:</th>
        <td>{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}Annonymous{% endif %}</td>
    </tr>
    <tr>
        <th scope="row">Bio:</th>
        <td class="bio">&nbsp;{{ user.details.bio }}</td>
    </tr>
    <tr class="max">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>

{% ifequal user request.user %}
<p><a href="{% url "edit_profile" %}">Edit My Profile</a></p>
{% endifequal %}

{% include "resource/list.html" %}

{% endblock %}
