{% extends 'person/base.html' %}
{% load user_sessions i18n future %}

{% block content %}

<div id="right-sidebar">
	<h1>Last Seen</h1>
	<p>{% if user.details.last_seen %}{{ user.details.last_seen|timesince }} ago{% else %}Never{% endif %}</p>

    <h1>Joined On</h1>
    <p>{{ user.date_joined }}<br/>{{ user.date_joined|timesince }} ago</p>

    <h1>Profile Visits</h1>
	<p>{{ user.details.visits }}</p>
    

   {% ifequal user request.user %}

     <h1>Sessions</h1>
     {% for session in user.sessions %}
         <div>{{ session.ip }} ({{ object.ip|location }}) {{ session.user_agent|device }} {{ session.last_activity|timesince }} ago</div>
     {% endfor %}

     <a href="{% url "edit_profile" %}">{% trans "Edit My Profile" %}</a>
   {% endifequal %}
</div>

{% if items %}
  <h1>Galleries</h1>

  {% include "resource/galleries.html" %}
{% endif %}


{% endblock %}
