{% extends "base_about.html" %}
{% block alltitle %}Contact{% endblock %}
{% block pagetitle %}Contact{% endblock %}
{% block left-column %}
<!-- PORT: http://wiki.inkscape.org/wiki/index.php/Contact_information -->

 
<p class="summary">To introduce the veteran team members, we have listed them with their area of expertise or leadership. Here you'll find their <a href="/community/connect/">IRC</a> nicknames and accounts in Launchap (LP) and SourceForge (SF). Both servers allow you to send the person a message, but the Launchpad server requires registration first. (The Inkscape project has transitioned to Launchpad rather than SourceForge for project management.)</p>

<!-- FIXME: Maybe a table or some divs would be better. Information should be sepparated in contact information (LP and SF accounts) and area of expertise (the bulleted list), that way is not necessary to repeat LP and SF links. -->

 <ul>
        <li> <strong>Architecture:</strong> MenTaLguY <a href="https://launchpad.net/~mental">LP</a> <a href="http://sourceforge.net/users/mental">SF</a> </li>
        <li>
            <strong>File Format Support</strong>
            <ul>
                <li> <strong>PDF:</strong> </li>
            </ul>
        </li>
		
        <li>
            <strong>Infrastructure</strong>
            <ul>
                <li> <strong>Web server:</strong> Inc on irc.freenode.net </li>
                <li> <strong>Website:</strong> Bryce Harrington <a href="https://launchpad.net/~bryce">LP</a> <a href="http://sourceforge.net/users/bryce">SF</a> </li>
            </ul>
        </li>

        <li>
            <strong>Project Management</strong>
            <ul>
                <li> <strong>Press Relations:</strong> Josh Andler <a href="https://launchpad.net/~scislac">LP</a> <a href="http://sourceforge.net/users/scislac">SF</a>, Bryce Harrington <a href="https://launchpad.net/~bryce">LP</a> <a href="http://sourceforge.net/users/bryce">SF</a>, Jon Phillips <a href="https://launchpad.net/~rejon">LP</a> <a href=" http://sourceforge.net/users/kidproto">SF</a> </li>

                <li> <strong>Conservancy:</strong> Bryce Harrington <a href="https://launchpad.net/~bryce">LP</a> <a href="http://sourceforge.net/users/bryce">SF</a>, Josh Andler <a href="https://launchpad.net/~scislac">LP</a> <a href="http://sourceforge.net/users/scislac">SF</a> </li>
            </ul>
        </li>

        <li>
            <strong>Release Management</strong>
            <ul>
                <li> <strong>Release Coordination</strong>: Josh Andler <a href="https://launchpad.net/~scislac">LP</a> <a href="http://sourceforge.net/users/scislac">SF</a> </li>

                <li> <strong>OS X Port:</strong> </li>

                <li> <strong>Windows Port:</strong> </li>
            </ul>
        </li>

        <li>
            <strong>Scripting and Extensions</strong>
            <ul>
                <li> <strong>Script Effects:</strong> Aaron C. Spike <a href="https://launchpad.net/~acspike">LP</a> <a href="http://sourceforge.net/users/acspike">SF</a> </li>
                <li> <strong>Javascript/DOM:</strong> Bob Jamison <a href="https://launchpad.net/~ishmalius">LP</a> <a href="http://sourceforge.net/users/ishmal">SF</a> </li>
                <li> <strong>Extensions:</strong> Ted Gould <a href="https://launchpad.net/~ted">LP</a> <a href="http://sourceforge.net/users/gouldtj">SF</a> </li>
            </ul>
        </li>

        <li>
            <strong>Standards Compliance</strong>
            <ul>
                <li> <strong>XML:</strong> MenTaLguY <a href="https://launchpad.net/~mental">LP</a> <a href="http://sourceforge.net/users/mental">SF</a> </li>
				<li> <strong>SVG:</strong> MenTaLguY <a href="https://launchpad.net/~mental">LP</a> <a href="http://sourceforge.net/users/mental">SF</a>, Bulia Byak <a href="https://launchpad.net/~buliabyak">LP</a> <a href="http://sourceforge.net/users/buliabyak">SF</a> </li>
            </ul>
        </li>

        <li> <strong>Translations:</strong> Arpad Biro <a href="https://launchpad.net/~arpad-biro">LP</a> <a href="http://sourceforge.net/users/a_b">SF</a> </li>
		
        <li> <strong>Tutorials:</strong> Josh Andler <a href="https://launchpad.net/~scislac">LP</a> <a href="http://sourceforge.net/users/scislac">SF</a> </li> 
		
		<li><strong>User manual:</strong> Cedric Gemy <a href="https://launchpad.net/~pygmee">LP</a> <a href="http://sourceforge.net/users/gemy_c">SF</a> </li>

        <li><strong>User Interface:</strong> Bulia Byak <a href="https://launchpad.net/~buliabyak">LP</a> <a href="http://sourceforge.net/users/buliabyak">SF</a> </li>
</ul>

    <p>Older information has been retained in an <a href="http://wiki.inkscape.org/wiki/index.php/Contact_information_archive">archive</a>.</p>





{% endblock %}
