{% extends "base_sidebar.html" %}
{% block title %}Get Involved{% endblock %}
{% block pagetitle %}Get Involved{% endblock %}
{% block left-column %}
	<h2>Help make Inkscape better</h2>
	<p class="summary">Participate in our thriving community! There are lots of ways to contribute to the Inkscape project. You don't need to be a programming whiz to get involved.</p>
	<div class="box box-3" id="spread-the-word">
		<h3><a href="">Spread the word</a></h3>
		<p>Think Inkscape is awesome? So do we! But there are still lots of people who don't know about it. Help us <a href="">promote</a> Inkscape and get it into their hot little hands.</p>
	</div>
	<div class="box box-3" id="help-others">
		<h3><a href="">Help others</a></h3>
		<p>Inkscape relies on volunteers for technical support. Share your know-how in the <a href="">Q&A</a> section, the <a href="">forum</a>, the <a href="/community/connect/#irc">IRC channel</a> and the <a href="/community/mailing-list/">mailing list</a>.</p>
	</div>
	<div class="box box-3 box-last" id="test-and-report-bugs">
		<h3><a href="">Test &amp; report bugs</a></h3>
		<p><a href="">Testing</a> and writing detailed <a href="">bug reports</a> is a very effective way to help improve Inkscape. Blah blah yadda yadda.</p>
	</div>
	<div class="box box-3" id="write">
		<h3><a href="">Write</a></h3>
		<p>If you're deft at writing, consider joining the <a href="">Inkscape Manual team</a>, editing and updating the <a href="">User Documentation</a>, or writing some <a href="">killer tutorials</a>.</p>
	</div>
	<div class="box box-3" id="translate">
		<h3><a href="">Translate</a></h3>
		<p>Inkscape has multilingual support. Join the <a href="">translation team</a> to help translate Inkscape's interface, website pages, documentation and tutorials.</p>
	</div>
	<div class="box box-3 box-last" id="code-and-develop">
		<h3><a href="">Code &amp; develop</a></h3>
		<p>Developers can help by submitting <a href="">patches</a>, writing <a href="">extensions</a>, and <a href="">blah blah yadda</a> yadda.</p>
	</div>
	<div class="box box-3" id="make-art">
		<h3><a href="">Make art</a></h3>
		<p>New users want to see what Inkscape is capable of. Show off your talent by submitting your art work to the <a href="">gallery</a>. You can also contribute to <a href="">icon themes</a>.</p>
	</div>
	<div class="box box-3" id="provide-feedback">
		<h3><a href="">Provide feedback</a></h3>
		<p>Have an idea for how we can make Inkscape better? Make a <a href="">feature request</a>, add a <a href="/about/testimonials/">testimonial</a>, or have a chat with developers on the <a href="/community/mailing-list/">mailing list</a>.</p>
	</div>
	<div class="box box-3 box-last" id="donate">
		<h3><a href="">Donate</a></h3>
		<p>You can show your appreciation of Inkscape with tax-deductible <a href="/donate">donations</a> of any amount. See <a href="">how we use your financial contributions</a>.</p>
	</div>
{% endblock %}
{% block right-sidebar %}
	<h2><a href="/news">Recent News</a></h2>
	<div class="article">
		<h3><a href="/news/0.48.1-website-and-more">0.48.1, website and more</a></h3>
		<p class="postdate">January 6, 2011</p>
		<p>We hope you had a great holiday season. Now that you are back, we have some news for you.</p>
		<p class="readmore"><a href="/news/0.48.1-website-and-more">Read more...</a></p>
	</div>
	<div class="article">
		<h3><a href="/news/inkscape-0.48-essentials-for-web-designers">Inkscape 0.48 Essentials for Web Designers</a></h3>
		<p class="postdate">November 10, 2010</p>
		<p>Packt Publishing have just released a new book on Inkscape by Bethany Hiitola called "Inkscape 0.48 Essentials for Web Designers".</p>
		<p class="readmore"><a href="/news/inkscape-0.48-essentials-for-web-designers">Read more...</a></p>
	</div>
	<h2>Sponsors &amp; Donors</h2>
	<p>The Inkscape website is generously hosted by <a href="http://osuosl.org">OSUOSL</a>.</p>
	<p>Blah blah yadda yadda.</p>
	<p class="readmore"><a href="">Read more...</a></p>
{% endblock %}
