{% extends "base_about.html" %}
{% block alltitle %}Help & support{% endblock %}
{% block pagetitle %}Help & support{% endblock %}
{% block left-column %}
<!--PORT: 	http://inkscape.org/discussion.php?lang=en
			http://wiki.inkscape.org/wiki/index.php/Contact_information
			Most of the information in "discussion" has been ported here, and a little from "contact".
-->

<p class="summary">



For casual questions or in-depth discussion, the official chat room is the <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Extensible_Messaging_and_Presence_Protocol">Jabber (XMPP)</a> conference room <i><a href="xmpp:inkscape@conference.gristle.org?join">inkscape@conference.gristle.org</a></i>, which is bridged with the channel <i><a href="irc://irc.freenode.org/#inkscape">#inkscape</a></i> on <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Internet_Relay_Chat">IRC</a> for bidirectional communication (however IRC users need to register their nicknames at <a href="http://freenode.net/faq.shtml#nicksetup">Freenode server</a> otherwise they won't be allowed to talk).
<br>
While this channel is primarily geared for developer discussion, we do not discourage users from participating too, however please be conscientious of any development discussions going on. If you do not get an immediate answer to your question, folks may just be focusing on other things; try asking again later, or use the <a href="/community/mailing-lists">mailing lists</a> or <a href="/community/forums-and-blogs">forums</a> instead.</p>



		<div class="box column-3-1">
			<h3><a href="">Questions</a></h3>
			<p></p>
		</div>

		
		<div class="box column-3-2">
			<h3><a href="">Forums</a></h3>
			<p>Think Inkscape is awesome? So do we! But there are still lots of people who don't know about it. Help us <a href="">promote</a> Inkscape and get it into their hot little hands.</p>
		</div>		
	
		<div class="box column-3-3">
			<h3><a href="">IRC</a></h3>
			<p>Think Inkscape is awesome? So do we! But there are still lots of people who don't know about it. Help us <a href="">promote</a> Inkscape and get it into their hot little hands.</p>
		</div>

		
		<div class="box column-3-1">
			<h3><a href="">Mailing lists</a></h3>
			<p>Think Inkscape is awesome? So do we! But there are still lots of people who don't know about it. Help us <a href="">promote</a> Inkscape and get it into their hot little hands.</p>
		</div>

<!--		
<h2>Other IRC channels of interest</h2>
	<ul>
		<li>inkscape-web: <i><a href="irc://irc.freenode.org/#inkscape-web">#inkscape-web</a></i> Website related development </li>
		<li>cairo: <i><a href="irc://irc.freenode.org/#cairo">#cairo</a></i> The Cairo graphics library </li>
		<li>Autopackage: <i><a href="irc://irc.freenode.org/#autopackage">#autopackage</a></i> </li>
		<li>Open Clip Art Library: <i><a href="irc://irc.freenode.org/#openclipart">#openclipart</a></i> </li>
		<li>Scribus: <i><a href="irc://irc.freenode.org/#scribus">#scribus</a></i> A DTP software </li>
	</ul>
-->
	{% endblock %}
