{% extends "base_about.html" %}
{% block alltitle %}Inkscape Books{% endblock %}
{% block pagetitle %}Inkscape Books{% endblock %}
{% block left-column %}
<p class="summary">Some books have been published in several languages.</p>

<h1>English</h1>
<h2>Inkscape 0.48 Essentials for Web Designers</h2>
	<div class="book">
		<div class="book_cover" style="float:right;margin:-20px 0px 20px 20px">
			<img src="/media/images/books/inkscape-048-essentials-for-web-designers.jpg">
		</div>
	
		<b>Author:</b> Bethany Hiitola <br>
		<b>Format:</b> Paperback, 316pp <br>
		<b>Publisher/Date:</b> Packt Publishing / November 2010 <br>
		<b>ISBN-10:</b> 1-84-951268-X <br>
		<b>ISBN-13:</b> 978-1-84951-268-8 <br>
		<b>Website:</b> <a href="http://www.packtpub.com">http://www.packtpub.com</a> <br>
		<b>Description:</b> Learn to build your first website design using Inkscape. Create web page and desktop wallpapers with repeating pattern backgrounds and swirling designs. Incorporate icons and interactive maps on your website. Style and graphically manipulate text — from simple headings to shadowing, following paths, reflections, 3D effects, and more. Enhance your web pages using flowcharts, diagrams, and site maps and learn how to export them. Spruce it all up using animations.
	</div>

<h2>A Guide To Inkscape</h2>
	<div class="book">
		<div class="book_cover" style="float:right;margin:-20px 0px 20px 20px">
			<img src="/media/images/books/tavmjong-third-edition.png">
		</div>
	
		<b>Author:</b> Tavmjong Bah <br>
		<b>Format:</b> Paperback, 480pp <br>
		<b>Publisher/Date:</b> SourceForge Community Press / November 2009 <br>
		<b>ISBN-10:</b> 0-13-705173-5 <br>
		<b>ISBN-13:</b> 978-0-13-705173-1 <br>
		<b>Website:</b> <a href="http://tavmjong.free.fr/INKSCAPE/">http://tavmjong.free.fr/INKSCAPE/</a> <br>
		<b>Description:</b> Inkscape: Guide to a Vector Drawing Program, Third Edition, is the guide to the Inkscape program, with coverage of versions 0.46 and 0.47. This authoritative introduction and reference features hundreds of useful illustrations. With Inkscape, you can produce a wide variety of art, from photorealistic drawings to organizational charts.
	</div>



<h2>The Book of Inkscape</h2>

<h1>German</h1>
<h2>Inkscape. Professionelle Vektorgrafiken gestalten</h2>

<h1>French</h1>
<h2>Inkscape efficace: Réussir ses dessins vectoriels</h2>
<h2>Inkscape: Apprenez, pratiquez, créez</h2>


{% endblock %}
