{% extends "base_about.html" %}
{% block alltitle %}Inkscape Books{% endblock %}
{% block pagetitle %}Inkscape Books{% endblock %}
{% block left-column %}
<p class="summary">Some books have been published in several languages.</p>

<!-- FIXME: complete info about available formats and languages -->
<h1>English</h1>
<h2>Inkscape 0.48 Essentials for Web Designers</h2>
	<div class="book">
		<div class="book_cover" style="float:right;margin:-20px 0px 20px 20px">
			<img src="/media/images/books/inkscape-048-essentials-for-web-designers.jpg">
		</div>
	
		<b>Author:</b> Bethany Hiitola <br>
		<b>Format:</b> Paperback, 316pp <br>
		<b>Publisher/Date:</b> Packt Publishing / November 2010 <br>
		<b>ISBN-10:</b> 1-84-951268-X <br>
		<b>ISBN-13:</b> 978-1-84951-268-8 <br>
		<b>Website:</b> <a href="http://www.packtpub.com">http://www.packtpub.com</a> <br>
		<b>Description:</b> Learn to build your first website design using Inkscape. Create web page and desktop wallpapers with repeating pattern backgrounds and swirling designs. Incorporate icons and interactive maps on your website. Style and graphically manipulate text — from simple headings to shadowing, following paths, reflections, 3D effects, and more. Enhance your web pages using flowcharts, diagrams, and site maps and learn how to export them. Spruce it all up using animations.
	</div>

<h2>Inkscape FLOSS manual</h2>
	<div>
		<b>Author:</b> Various <br>
		<b>Format:</b> Paperback and digital <br>
		<b>Languages:</b> English, 
		<b>Publisher/Date:</b> Lulu / TBD <br>
		<b>ISBN-10:</b>  <br>
		<b>ISBN-13:</b>  <br>
		<b>Website:</b> <a href="http://en.flossmanuals.net/inkscape">http://en.flossmanuals.net/inkscape</a> <br>
		<b>Description:</b> An international group of contributors is writing a new book licensed under GPL3+ and published at FLOSS Manuals. Printed version will soon be available from Lulu. If you want to help writing it or make a localized version, please subscribe to <a href="/community/mailing-lists#inkscape-docs">inkscape-docs mailing list</a> and tell us!
	</div>
	
<h2>Inkscape: Guide to a Vector Drawing Program</h2>
	<div>
		<div class="book_cover" style="float:right;margin:-20px 0px 20px 20px">
			<img src="/media/images/books/tavmjong-third-edition.png">
		</div>
	
		<b>Author:</b> Tavmjong Bah <br>
		<b>Format:</b> Paperback (480pp), PDF <br>
		<b>Languages:</b> English, Spanish, Italian, French  <br>
		<b>Publisher/Date:</b> SourceForge Community Press / November 2009 <br>
		<b>ISBN-10:</b> 0-13-705173-5 <br>
		<b>ISBN-13:</b> 978-0-13-705173-1 <br>
		<b>Website:</b> <a href="http://tavmjong.free.fr/INKSCAPE/">http://tavmjong.free.fr/INKSCAPE/</a> <br>
		<b>Description:</b> Inkscape: Guide to a Vector Drawing Program, Third Edition, is the guide to the Inkscape program, with coverage of versions 0.46 and 0.47. This authoritative introduction and reference features hundreds of useful illustrations. With Inkscape, you can produce a wide variety of art, from photorealistic drawings to organizational charts.
	</div>

<h2>The Book of Inkscape</h2>
	<div>
		<div class="book_cover" style="float:right;margin:-20px 0px 20px 20px">
			<img src="/media/images/books/the-book-of-inkscape.png">
		</div>
	
		<b>Author:</b> Dmitry Kirsanov <br>
		<b>Format:</b> Paperback, 476pp <br>
		<b>Publisher/Date:</b> No Starch Press / September 2009 <br>
		<b>ISBN-10:</b> 1-59327-181-6 <br>
		<b>ISBN-13:</b> 978-1-59327-181-7 <br>
		<b>Website:</b> <a href="http://nostarch.com">http://nostarch.com</a> <br>
		<b>Description:</b> In The Book of Inkscape, core Inkscape developer Dmitry Kirsanov shares his design experience and knowledge of Inkscape's inner workings as he walks you through the basics of using the program: drawing, working with objects, transformations and styling, adding text and shapes, and more. Kirsanov couples his detailed explanations with step-by-step tutorials that show you how to create business cards, animations, and technical and artistic drawings.
	</div>

<!-- FIXME: find out the french isbn -->
<h2>Learn SVG: The Web Graphics Standard</h2>
	<div class="book">
		<div class="book_cover" style="float:right;margin:-20px 0px 20px 20px">
			<img src="/media/images/books/learn_svg-jon_frost.png">
		</div>
	
		<b>Authors:</b> Jon Frost, Stefan Goessner and Michel Hirtzler, revisited by Robert DiBlasi and Tobias Reif <br>
		<b>Format:</b> Paperback (316pp) and eBook <br>
		<b>Languages:</b> English, French <br>
		<b>Publisher/Date:</b> SVG / 2003 <br>
		<b>ISBN-10:</b> 2-95-208780-6 (english?) <br>
		<b>Website:</b> <a href="http://www.learnsvg.com/">http://www.learnsvg.com/</a> <br>
		<b>Description:</b> Learn SVG: The Web Graphics Standard is a beginner-level book that assumes basic knowledge of Hypertext Markup Language (HTML). Learn SVG is presented in a workbook-like format that lends itself to people who want both a solid foundation in the main aspects of SVG and who are willing to get their hands dirty with the fertile soil that SVG has to offer. The full challenge of the book is not for the faint of heart but the authors have made sure to thoroughly cover all the bases using concrete examples.

		The reader will move on to more advanced topics of adding style, gradients and filter effects, menu creation, animation, script-based interactivity, publishing, extensibility, and a cutting-edge SVG Web application.
	</div>

	
<h1>German</h1>
<h2>Inkscape: Professionelle Vektorgrafiken gestalten</h2>
	<div>
		<div class="book_cover" style="float:right;margin:-20px 0px 20px 20px">
			<img src="/media/images/books/uwe-shoeller-2010.jpg">
		</div>
	
		<b>Author:</b> Uwe Schöler <br>
		<b>Format:</b> Paperback, 240pp <br>
		<b>Publisher/Date:</b> Addison-Wesley / February 2010 <br>
		<b>ISBN-13:</b> 978-3-8273-2911-0 <br>
		<b>Website:</b> <a href="http://www.addison-wesley.de">http://www.addison-wesley.de</a> <br>
		<b>Description:</b> The book is written with beginners and advanced users in mind and covers features of Inkscape 0.47. A CD attached to the book also contains several video tutorials specifically created for the book and sample files for the workshops in the book.
	</div>



<h1>French</h1>
<h2>Inkscape efficace: Réussir ses dessins vectoriels</h2>
	<div>
		<div class="book_cover" style="float:right;margin:-20px 0px 20px 20px">
			<img src="/media/images/books/cedric-efficace-2009.jpg">
		</div>
	
		<b>Author:</b> Cédric Gémy <br>
		<b>Format:</b> Paperback, 280pp <br>
		<b>Publisher/Date:</b> Eyerolles / February 2009 <br>
		<b>ISBN-10:</b> 2-21-212425-2 <br>
		<b>ISBN-13:</b> 978-2-2121-2425-5 <br>
		<b>Website:</b> <a href="http://www.eyrolles.com">http://www.eyrolles.com</a> <br>
		<b>Description:</b> It is Cédric's second book after the commercially successful "GIMP Efficace". The book is quite good for beginners, because first 120 pages describe basic tools, color and transformations. The other part of the book is aimed rather at professional users and thoroughly describes how to be more efficient with Inkscape, how to do print jobs and how to do web oriented SVG even if coding is needed. When possible, Cédric tried to give advice to Adobe Illustrator users.
	</div>

<h2>Inkscape: Apprenez, pratiquez, créez</h2>
	<div>
		<div class="book_cover" style="float:right;margin:-20px 0px 20px 20px">
			<img src="/media/images/books/elisa-046-047-pearson.jpg">
		</div>
	
		<b>Author:</b> Elisa de Castro Guerra <br>
		<b>Format:</b> Paperback, 256pp <br>
		<b>Publisher/Date:</b> Pearson France / October 2008 <br>
		<b>ISBN-10:</b> 2-74-402276-4 <br>
		<b>ISBN-13:</b> 978-2-7440-2276-0 <br>
		<b>Website:</b> <a href="http://www.pearson.fr">http://www.pearson.fr</a> <br>
		<b>Description:</b> This book contains comprehensive explanations how to use Inkscape, while numerous examples and exercises will give you all the keys to master Inkscape, even if you're beginner. In this new edition, you'll also discover what's new in version 0.46, most stable version (introduction of 3D Box tool, additional handling of proprietary file formats, improved export to bitmaps or PDF, etc..), and the upcoming new features from 0.47.
	</div>


{% endblock %}
