{% load i18n pile %}

  <a class="project teaser well" href="{{ project.get_absolute_url }}">
    <img src="{{ project.logo.url }}" />

    <h3>{{ project.title }}</h3>

    {% if project.started %}
      <div class="progress" title= "{% trans "Progress" %}">
        <div class="bar" style="width: {{ project.progress }}">
        </div>
      </div>
    {% endif %}
    
    {% if project.is_fundable %}
      <div class="progress" title="{% trans "Achieved" %}">
        <div class="bar" style="width: 20%">
          <strong>&nbsp;100/500$</strong>
        </div>
      </div>
    {% endif %}
    
    <p>{% if project.pitch %}{{ project.pitch }}{% else %}{% trans "Review pending" %}{% endif %}</p>
  </a>

