{% extends "base.html" %}

{% load i18n pile sekizai_tags markdown_deux_tags %}

{% block title %}{% trans "Project" %} | {{ object.title }}{% endblock %}

{% block content %}
  {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css"/>
  {% endaddtoblock %}

<div class="project-detail">
  <div class="banner">
    <img src="{{ object.banner.url }}" title="{{ object.title }}"/>
  </div>

  {% if object.started %}
    <div class="progress" title= "{% trans "Progress" %}">
      <div class="bar" style="width: {{ object.progress }}">
      </div>
    </div>
  {% endif %}
  
  {% if object.is_fundable %}
    <div class="progress" title="{% trans "Achieved" %}">
      <div class="bar" style="width: 20%">
        <strong>&nbsp;100/500$</strong>
      </div>
    </div>
  {% endif %}
  
  <div id="left-column">
    <h1>{{ object.title }}</h1>
    <p>{{ object.desc }}</p>
    
    {% if object.started %}
      <p class="workers">{% trans "Worked on by" %}:
          {% for worker in object.workers_set.all %}
            {% if worker.assigned %}
              <a href="{{ worker.get_absolute_url }}">{{ worker }}</a> 
            {% endif %}
          {% endfor %}
      </p>
    {% endif %}
    
    <h1>{% trans "Project Updates" %}</h1>
    {% for update in object.updates.all %}
        {% if update.image %}
          <img class="updateimage" src="{{ update.image.url }}" style="float: left;"/>
        {% endif %}
        <div class="markdown">{{ update.describe|markdown }}</div>
        <hr/>
    {% endfor %}
  </div>
  <div id="right-sidebar">
    <div class="statuslist">
      <label class="author">{% trans "Proposed by" %}:</label>
      <span class="author"><a href="{{ object.proposer.get_absolute_url }}">{{ object.proposer }}</a></span>
      
      <label class="status">{% trans "Status" %}:</label>
      <span class="status">{{ object.get_status.1 }}</span>
      
      {% if object.manager %}
        <label class="person">{% trans "Managed by" %}:</label>
        <span class="person"><a href="{{ object.manager.get_absolute_url }}">{{ object.manager }}</a></span>
      {% endif %}
      
      {% if object.is_fundable %}
        <label class="goal">{% trans "Goal" %}:</label>
        <span class="goal">{{ object.funding.goal }} $1000</span>
      {% endif %}

      <label class="remaining">{% trans "Expected duration (days)" %}:</label>
      <span class="remaining">{{ object.duration }}</span>
      
      <label class="time">{% trans "Remaining" %}:</label>
      <span class="time">{{ object.get_expected_enddate|timeuntil }}</span>
      
      <label class="importance">{% trans "Importance" %}:</label>
      <span class="importance">{{ object.get_sort_display }}</span>
      
      {% if object.reviewer %}
        <label class="person">{% trans "Reviewer" %}:</label>
        <span class="person"><a href="{{ object.reviewer.get_absolute_url }}">{{ object.reviewer }}</a></span>
      {% endif %}
      
      {% if object.second %}
        <label class="person">{% trans "Seconded by" %}:</label>
        <span class="person"><a href="{{ object.second.get_absolute_url }}">{{ object.second }}</a></span>
      {% endif %}
      
    </div>
      
      {% if object.started %}
      <h3>{% trans "Project Progress" %}</h3>
      <ol class="checklist">
        {% for del in object.deliverables.all %}
          <li{% if del.finished %} class="done"{% endif %}>{{ del }}</li>
          <ul>
          {% for task in del.tasks.all %}
            <li{% if task.finished %} class="done"{% endif %}>{{ task }}</li>
          {% endfor %}
          </ul>
        {% endfor %}
      </ol>
      {% endif %}
  </div>
</div>
  

{% endblock %}
