{% load i18n pile %}

  <a class="project teaser well" href="{{ project.get_absolute_url }}">
    <img src="{{ project.logo.url }}" />

    <h3>{{ project.title }}</h3>

    <div class="status">
      <!--
	<label class="author">{% trans "Proposed By" %}:</label>
	<span class="author">{{ project.proposer }}</span>

	<label class="goal">{% trans "Goal" %}:</label>
	<span class="goal">{{ project.funding.goal }} $1000</span>

	<label class="remaining">{% trans "Remaining" %}:</label>
	<span class="remaining">{{ project.finished|timeuntil }}</span>
       -->
    </div>

    <div class="progress">
      <div class="bar" style="width: 50%">
	 <strong>{% trans "Achieved" %}:</strong>
	 $500
      </div>
    </div>

    <p>{{ project.updates.all.0.describe|truncatewords:54 }}</p>
  </a>
