{% load i18n %}

{% trans "Greetings," %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}You are receiving this email because you (or someone pretending to be you)
requested that your password be reset on the {{ domain }} site. If you do not
wish to reset your password, please ignore this message.{% endblocktrans %}

{% blocktrans %}To reset your password, please click the following link, 
or copy and paste it into your web browser:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}

{% trans "Your username, in case you've forgotten:" %} {{ user.username }}

{% trans "Best regards, Inkscape Website Team" %}

{# This is used by django.contrib.auth, linebreaks are to be translated (they are kept in blocktrans) #}
