{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{{ object.name }} - InkSpaces{% endblock %} 
{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}" >
  <link rel="stylesheet" type="text/css" href="{% static "css/gallery.css" %}"/>
{% endblock %}

{% block supercontent %}
  <div id="bread">
    {% include "breadcrumbs.html" %}
  </div>
  <div id="profile" style="background-color: #1c1c1c; color: white;">
    <img id="photo" src="{{ object.icon }}"/>
    <h1 id="name">{{ object.name }}</h1>
    <p id="bio">{% if object.desc %}{{ object.desc }}{% endif %}</p>
  </div>

  <div class="wrapper">
    <div id="left-column">
      {% include "resources/resource_icons.html" with limit=20 %}
    </div>
    <div id="right-sidebar">
      {% include "resources/resource_leftbar.html" %}
    </div>
  </div>
{% endblock %}

