{% load i18n static pagination_tags %}

{% block "css" %}
  <link rel="stylesheet" type="text/css" href="{% static "css/bio.css" %}"/>
{% endblock %}

<div id='errors'></div>

{% autopaginate items limit as resources %}

<div class="photos"/>
  {% for item in resources %}
    {% if item.is_visible %}
    <table class="bioitem">
      <tr>
        <td class="img" rowspan="2"><a class="link" href="{{ item.get_absolute_url }}"><img src="{{ item.thumbnail_url }}" title="{{ item.name }}"/></a></td>
        <td><p title="{{ item.name }}"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></p></td>
      </tr>
      <tr>
        <td><p class="bio">{{ item.description }}&nbsp;</p></td>
      </tr>
    </table>
    {% endif %}
  {% endfor %}
</div>

{% paginate %}


