{% load i18n static %}

{% if item.is_visible %}
  <div class="galleryitem{% if not item.published %} unpublished{% endif %}" 
    title="{{ item.summary_string }}">
    <a class="link" href="{{ item.get_absolute_url }}">
      <img src="{{ item.thumbnail_url }}"/>
    </a>
    <p class="label"><a href="{{ item.get_absolute_url }}">{{ item.name|truncatechars:40 }}</a></p>
    <p class="minitabs">
      {% if item.user == request.user %}
        {% if gallery %}
          <a href="{% url "resource.move" item.pk gallery.pk %}">
            <img src="{% static "mime/banner/move.svg" %}" title="{% trans "Move to Gallery" %}">
          </a>
        {% else %}
          <a href="{% url "resource.copy" item.pk %}">
            <img src="{% static "mime/banner/copy.svg" %}" title="{% trans "Copy to Gallery" %}">
          </a>
        {% endif %}
        <a href="{% url "edit_resource" item.pk %}">
          <img src="{% static "mime/banner/edit.svg" %}" title="{% trans "Edit Resource" %}">
        </a>
      {% else %}
        {% if item.published %}
          <img src="{{ item.mime.banner }}" title="{{ item.mime.subtype }}">
          {% if item.license and item.license.banner %}
            <img src="{{ item.license.banner.url }}" title="{{ item.license }}">
          {% endif %}
        {% endif %}
      {% endif %}
    </p>
  </div>
{% elif not item.is_available %}
  <div class="galleryitem unavailable" title="{{ item.summary_string }}">
    <a class="link" href="{{ item.get_absolute_url }}"><img src="{% static "images/linked-image-not-found.png" %}"/></a>
    <p class="label"><a href="{{ item.get_absolute_url }}">{{ item.name|truncatechars:40 }}</a></p>
    <p class="minitabs"></p>
  </div>
{% endif %}

