{% load i18n pagination_tags static %}

{% autopaginate object_list limit as resources %}

  <div id="gallery">
    {% for item in resources %}
      {% include "resources/resource_item.html" %}
    {% empty %}
      <div class="galleryitem">
        <div class="link"><img src="{% static "images/none.svg" %}"/></div>
        {% if object.contest_submit %}
          <p>{% trans "No Submissions Yet" %}</p>
        {% else %}
          <p>{% trans "No Resources Yet" %}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>

{% paginate %}

