{% extends 'base.html' %}
{% load i18n static extras svg %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/resource.css" %}"/>
{% endblock %}

{% block "js" %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/resource.js" %}"></script>
  <script type="text/javascript" src="{% static "js/gallery.js" %}"></script>
{% endblock %}

{% block content %}
  {% if form and form.non_field_errors %}
    <div class="errors">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <div class="item{% if form %} edit{% endif %}">
    {% if form and not form.media_type %}
      <div class="image uploader">
        <label for="id_download" style="display: none;">
          {% if object.mime.is_image %}
            <img src="{{ object.thumbnail_url }}" data-static="{% static "" %}"/>
            <p>{% trans "Replace image:" %} {{ object.filename }}</p>
          {% elif object and object.download %}
            <img src="{{ object.icon_url }}" data-static="{% static "" %}"/>
            <p>{% trans "Replace file:" %} {{ object.filename }}</p>
          {% else %}
            <img src="{% static "images/upload.svg" %}" data-static="{% static "" %}"/>
            <p>{% trans "Choose a file..." %}</p>
          {% endif %}
        </label>
        <label for="id_thumbnail" style="display: none;">
          {% if object.thumbnail %}
            <img src="{{ object.thumbnail.url }}" alt="{% trans "Click to change" %}">
            <p>{% trans "Replace thumbnail:" %} {{ object.thumbnail.name }}</p>
          {% else %}
            <img src="{% static "images/upload.svg" %}" alt="{% trans "Click to select file" %}">
            <p>{% trans "Choose thumbnail..." %}</p>
          {% endif %}
        </label>
      </div>
    {% elif object.is_pasted and form %}  
      <div class="item">
        {{ object.as_lines }}
      </div>
    {% elif not form %}
      {% include "resources/resource_view.html" %}
    {% endif %}

    {% block "description" %}{% endblock %}
  </div>
{% endblock %}
