{% extends 'base.html' %}
{% load i18n static extras svg %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/resource.css" %}"/>
{% endblock %}

{% block "js" %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/resource.js" %}"></script>
  <script type="text/javascript" src="{% static "js/gallery.js" %}"></script>
{% endblock %}

{% block content %}

 {% if form and form.non_field_errors %}
  <div class="errors">
    {{ form.non_field_errors }}
  </div>
 {% endif %}

  {% include "resources/resourcefile_view.html" %}

  {% block "description" %}{% endblock %}
 </div>
{% endblock %}
