{% extends 'resources/resource_base.html' %}
{% load i18n extras static %}

{% block "description" %}
 <form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% if form.download %}
  <div class="image upload">
    <div id="upload">{{ form.download|placeholder:_("Paste your text here") }}</div>
    {% if form.download.errors %}
      <div class="errors">{{ form.download.errors }}</div>
    {% endif %}
    {% if form.thumbnail %}
      <div id="thumbnail">{{ form.thumbnail }}</div>
    {% endif %}
    {% if form.thumbnail.errors %}
      <div class="errors">{{ form.thumbnail.errors }}</div>
    {% endif %}
  </div>
  {% endif %}

  <div class="info">
    <h2>{{ form.name|placeholder:_("Resource Name") }}
      {% if item and not form %}
        <span class="by">{% trans "by" %}
          <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>
        </span>
      {% endif %}
    </h2>
    <div class="desc{% if form.desc.errors %} descerr{% endif %}">
      {{ form.desc|placeholder:_("Description of your artwork or resource") }}
    </div>
    <div class="side">
      {% for field in form.auto %}
        <div id="{{ field.name }}_set">
          <h2 {% if field.errors %}class="error" title="{{ field.errors.as_text }}"{% endif %}>{{ field.label }}{% if field.field.required %} *{% endif %}</h2>
          {{ field }}
        </div>
      {% endfor %}
    </div>
  </div>

  <div id="item-footer" class="clearfix">
    {% if form.tags.errors %}
      <div class="error">{{ form.tags.errors.as_text }}</div>
    {% endif %}
    {{ form.tags|placeholder:_("Add your tags here, separated by comma") }}
    {% if item.next %}
      <button id="moreInfo" class="start unique" type="submit" name="save" value="1">{% trans "Save" %}</button>
      <button id="moreInfo" class="end unique" type="submit" name="next" value="1">{% trans "Next" %}</button>
    {% else %}
      <button id="moreInfo" class="start end unique" type="submit" name="save" value="1">{% trans "Save" %}</button>
    {% endif %}
    </form>
    {% if item %}
      <form action="{% url "delete_resource" item.id %}" onsubmit='return popUp("{% trans "Delete" %}","{% trans "Are you sure you want to delete?" %}","{% url "delete_resource" item.id %}","{% trans "Cancel" %}","{% trans "Confirm Delete" %}");'>
        <button id="deleteSide" class="end" type="submit" style="float: left;">{% trans "Delete" %}</button>
      </form>
    {% endif %}
    <form method="get" action="{{ cancel }}">
      <button id="moreInfo" class="start{% if not item %} end{% endif %}" type="submit" name="cancel" value="1">{% trans "Cancel" %}</button>
    </form>
  </div>

  </div>
{% endblock %}

