{% extends 'base.html' %}
{% load i18n static menu_tags %}

{% block title %}{% trans "InkSpace" %}{% endblock %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/gallery.css" %}"/>
{% endblock %}

{% block "js" %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/gallery.js" %}"></script>
{% endblock %}

{% block supercontent %}
  <div id="content"{% block contentclasses %}{% endblock %}>
    <div class="wrapper">
      <div id="left-column">
        {% show_breadcrumb 0 "menu/breadcrumb.html" 0 %}
        {% include "resources/resource_icons.html" with limit=20 %}
      </div>
      <div id="right-sidebar">
        {% include "resources/resource_leftbar.html" %}
      </div>
    </div>
  </div>
{% endblock %}
