{% extends 'base.html' %}
{% load static i18n %}

{% block title %}Download {{ object }}{% endblock %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/shield.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/releases.css" %}"/>
{% endblock %}

{% block supercontent %}

<div id="shield" class="download">
  <div id="banners"
    {% if object.background %}
      style="background-image:url({{ object.background.url }})"
    {% elif parent.background %}
      style="background-image:url({{ parent.background.url }})"
    {% endif %}>
  </div>
  <ul class="tabs fixed">
    {% for platform in platforms %}
      {% include "releases/platform_tab.html" %}
    {% endfor %}
  </ul>
</div>

  <div id="left-column" class="notes">
    {% if object %}
      <h1>Release Notes</h1>
      <p>{{ object.get_notes|safe|default:"No Release Notes" }}</p>
    {% else %}
      <h1>No Public Release Yet</h1>
    {% endif %}
  </div>

  <div id="right-sidebar" class="releases">
    <div id="sidecategory">
      <h1>{{ object }}</h1>
      <a href="{% url "releases:platforms" object.version %}" class="btn btn-default">{% trans "All Platforms" %}</a>
      <h2>{% trans "Responsible People" %}</h2>
      <ul>
        {% for label, help_text, person in object.responsible_people %}
          {% if person %}
            <li><label title="{{ help_text }}">{{ label }}: 
              <a href="{{ person.get_absolute_url }}">{{ person }}</a>
            </label></li>
          {% endif %}
        {% endfor %}
      </ul>
      {% for name, items, latest in releases %}
       {% if items %}
	<h2>{{ name }}</h2>
	<ul class="ellipses-hidden">
	  {% for release in items %}
	    {% if release == object %}
	      <li class="subtle active"><a>
            {% elif latest and object.parent_id == release.pk %}
	      <li class="subtle active"><a>
	    {% else %}
              <li class="subtle{% if release.hide %} hide{% endif %}">
                <a href="{{ release.get_absolute_url }}{% if latest %}?latest=1{% endif %}">
	    {% endif %}
	    <label>{{ release.codename|default:release.version }}</label>
	    {% if release.release_date %}
	      <span>{{ release.release_date.year }}</span>
	    {% endif %}
	      </a>
	    </li>
	  {% endfor %}
          {% if not latest and has_pre_releases %}
            <li class="ellipses-button">{% trans "Show more..." %}</li>
          {% endif %}
	</ul>
       {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
