{% extends 'base.html' %}
{% load static sekizai_tags i18n %}

{% block title %}Download {{ object }}{% endblock %}

{% block supercontent %}

{% addtoblock "css" %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shield.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/releases.css"/>
{% endaddtoblock %}

<div id="shield" class="download">
  <div id="banners" {% if not platform and object.background %}style="background-image:url({{ object.background.url }})"{% endif %}>
    {% for tab in object.tabs %}
      <div {% if platform == tab.uuid %}class="current"{% endif %}>
          <div>
              <ul>
                {% for child in tab.filtered %}
                  <li class="child">
                      {% if child.icon %}
                          <img src="{{ child.icon.url }}">
                      {% else %}
                          <img src="{% static "images/releases/icon.png" %}">
                      {% endif %}
                      {{ child.name }}
                      <ul>
                        {% for subchild in child.filtered %}
                        <li class="platform" tabindex="{{ forloop.counter0 }}">
                          <p>{{ subchild.name }}</p>
                          <div>
                            {% if subchild.image %}
                            <img src="{{ subchild.image.url }}" title="{{ child }}"/>
                            {% elif child.image %}
                              <img src="{{ child.image.url }}" title="{{ child }}"/>
                            {% endif %}
                            <p>
                              {% if subchild.release.download %}
                                <a href="{{ subchild.release.download }}">Download</a>
                              {% else %}
                                <span>No Download Available</span>
                              {% endif %}
                              {% if subchild.release.more_info %}
                                <a href="{{ subchild.release.more_info }}">More Info</a>
                              {% endif %}
                              {% if subchild.release.howto %}
                                <a href="{{ subchild.release.howto }}">Detailed Instructions</a>
                              {% endif %}
                            </p>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                  </li>
                {% endfor %}
              </ul>
          </div>
      </div>
    {% endfor %}
  </div>
  <ul class="tabs">
    {% for tab in object.tabs %}
      <li {% if platform == tab.uuid %}class="current"{% endif %}>
        <a href="#{{ tab.uuid }}"><strong>{{ tab.tab_name }}</strong>
          {% if tab.tab_cat.icon %}
            <img src="{{ tab.tab_cat.icon.url }}"/>
          {% endif %}
          {{ tab.tab_text }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

  <div id="left-column" class="notes">
    <h2>Release Notes</h2>
    <p>{{ release_notes|safe|default:"No Release Notes" }}</p>
  </div>

  <div id="right-sidebar" class="releases">
    <div id="sidecategory">
    {% if releases.count > 1 %}
      <h2>All Inkscape Releases</h2>
      <ul>
        {% for release in releases %}
          <li>
          <a {% if release != object %}href="{{ release.get_absolute_url }}" class="active"{% endif %}>
              <label>{{ release.codename|default:release.release_date }}</label>
              <span>{{ release.version }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    </div>
  </div>
{% endblock %}
