{% extends 'resource/item.html' %}
{% load i18n %}

{% block title %}{% trans "Confirm Deletion" %}{% endblock %}

{% block "description" %}

  <div id="errors">
    <h2>{% trans "Are you sure you want to delete this work?" %}</h2>
  </div>

  <div class="buttonbar">
    <form method="get" action="{{ cancel }}">
      <button id="moreInfo" class="start" type="submit">{% trans "Cancel" %}</button>
    </form>
    <form method="post">
      {% csrf_token %}
      <button id="moreInfo" class="end unique" type="submit" name="confirm">{% trans "Delete It!" %}</button>
    </form>
  </div>

{% endblock %}

