{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{% trans "Gallery" %}</h1>

<form method="post" enctype="multipart/form-data">

{% csrf_token %}

{{ form.non_field_errors }}

<table class="block">
    {% for field in form %}
    <tr>
        <th scope="row">{{ field.label }}:</th>
        <td>{{ field }}</td>
    </tr>
    {% if field.errors %}<tr><td colspan="2" class='error'>{{ field.errors|striptags }}</td></tr>{% endif %}
    {% endfor %}
</table>

<input type="submit" value="{% trans "Save" %}"/>

</form>

{% endblock %}
