{% extends 'resource/item.html' %}
{% load i18n extras %}

{% block css %}
<style>
  .image img {
    max-width: 350px;
    max-height: 150px;
  }
  .text {
    overflow: hidden;
    max-height: 200px;
    border-bottom: 2px dashed #aaf;
  }
  .item .sideInfo {
    min-height: 402px;
  } 
</style>
{% endblock %}

{% block "description" %}
 <form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div id="errors">
    {{ form.non_field_errors }}
    {{ form.download.errors }}
  </div>

  <div class="sideInfo">
    {% for field in form.auto %}
      <h1 {% if field.errors %}class="error" title="{{ field.errors.as_text }}"{% endif %}>{{ field.label }}{% if field.field.required %} *{% endif %}</h1>
      {{ field }}
    {% endfor %}
  </div>

  <div class="desc">
    <h2>{{ form.name|placeholder:_("Resource Name") }} <span class="by">{% trans "by" %} <a href="{% url "view_profile" item.user.username %}">{{ item.user.details }}</a></span></h2>
    <p{% if form.desc.errors %} class="descerr"{% endif %}>{{ form.desc|placeholder:_("Description of your artwork or resource") }}</p>
  </div>

  <div class="buttonbar">
    {% if item.next %}
      <button id="moreInfo" class="start unique" type="submit" name="save" value="1">{% trans "Save" %}</button>
      <button id="moreInfo" class="end unique" type="submit" name="next" value="1">{% trans "Next" %}</button>
    {% else %}
      <button id="moreInfo" class="start end unique" type="submit" name="save" value="1">{% trans "Save" %}</button>
    {% endif %}
 </form>

    <button id="moreInfo" class="start" type="submit" name="cancel" value="1">{% trans "Cancel" %}</button>

    {% with "delete_resource" as delurl %}
      {% include "resource/delete_button.html" %}
    {% endwith %}

  </div>
{% endblock %}

