{% extends 'resource/item.html' %}
{% load i18n extras %}

{% block "description" %}
 <form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% if form.download %}
  <div class="image upload">
    <div id="upload">{{ form.download|placeholder:_("Paste your text here") }}</div>
    {% if form.download.errors %}
      <div class="errors">{{ form.download.errors }}</div>
    {% endif %}
  </div>
  {% endif %}

  <div class="sideInfo">
    {% for field in form.auto %}
      <h1 {% if field.errors %}class="error" title="{{ field.errors.as_text }}"{% endif %}>{{ field.label }}{% if field.field.required %} *{% endif %}</h1>
      {{ field }}
    {% endfor %}
  </div>

  <div class="desc">
    <h2>{{ form.name|placeholder:_("Resource Name") }}
      {% if item and not form %}
        <span class="by">{% trans "by" %}
          <a href="{% url "view_profile" item.user.username %}">{{ item.user.details }}</a>
        </span>
      {% endif %}
    </h2>
    <p{% if form.desc.errors %} class="descerr"{% endif %}>{{ form.desc|placeholder:_("Description of your artwork or resource") }}</p>
  </div>

  <div class="buttonbar">
    {% if item.next %}
      <button id="moreInfo" class="start unique" type="submit" name="save" value="1">{% trans "Save" %}</button>
      <button id="moreInfo" class="end unique" type="submit" name="next" value="1">{% trans "Next" %}</button>
    {% else %}
      <button id="moreInfo" class="start end unique" type="submit" name="save" value="1">{% trans "Save" %}</button>
    {% endif %}
 </form>


    <button id="moreInfo" class="start{% if not item %} end{% endif %}" type="submit" name="cancel" value="1">{% trans "Cancel" %}</button>
    {% if item %}
      {% with "delete_resource" as delurl %}
        {% include "resource/delete_button.html" %}
      {% endwith %}
    {% endif %}

  </div>
{% endblock %}

