{% extends 'resource/item.html' %}
{% load i18n extras %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap-tagsinput.css' %}">
{% endblock %}

{% block "description" %}
 <form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% if form.download %}
  <div class="image upload">
    <div id="upload">{{ form.download|placeholder:_("Paste your text here") }}</div>
    {% if form.download.errors %}
      <div class="errors">{{ form.download.errors }}</div>
    {% endif %}
  </div>
  {% endif %}

  <div class="info">
    <h2>{{ form.name|placeholder:_("Resource Name") }}
      {% if item and not form %}
        <span class="by">{% trans "by" %}
          <a href="{{ item.user.get_absolute_url }}">{{ item.user.details }}</a>
        </span>
      {% endif %}
    </h2>
  <div class="desc{% if form.desc.errors %} descerr{% endif %}">
    {{ form.desc|placeholder:_("Description of your artwork or resource") }}
    <script type="text/javascript" src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
    {{ form.tags|placeholder:_("Tags of your artwork or resource") }}
    <script>
      $('#id_tags').tagsinput();
    </script>
  </div>
  <div class="side">
    {% for field in form.auto %}
      <h2 {% if field.errors %}class="error" title="{{ field.errors.as_text }}"{% endif %}>{{ field.label }}{% if field.field.required %} *{% endif %}</h2>
      {{ field }}
    {% endfor %}
  </div>

  </div>

  <div class="buttonfoot">
    {% if item.next %}
      <button id="moreInfo" class="start unique" type="submit" name="save" value="1">{% trans "Save" %}</button>
      <button id="moreInfo" class="end unique" type="submit" name="next" value="1">{% trans "Next" %}</button>
    {% else %}
      <button id="moreInfo" class="start end unique" type="submit" name="save" value="1">{% trans "Save" %}</button>
    {% endif %}
 </form>


    <button id="moreInfo" class="start{% if not item %} end{% endif %}" type="submit" name="cancel" value="1">{% trans "Cancel" %}</button>
    {% if item %}
     <form action="{% url "delete_resource" item.id %}" onsubmit='return popUp("{% trans "Delete" %}","{% trans "Are you sure you want to delete?" %}","{% url delurl item.id %}","{% trans "Cancel" %}","{% trans "Confirm Delete" %}");'>
        <button id="deleteSide" class="end" type="submit">{% trans "Delete" %}</button>
    </form>
    {% endif %}

  </div>
{% endblock %}

