{% load i18n %}

{% if unowned %}
  <div class="galleryitem">
    <a class="link" href="{% url "gallery" "0" %}"><img src="{{ DESIGN_URL }}/images/folder.svg" title="{% trans "Unowned Items" %}"/></a>
    <p><a href="{% url "gallery" "0" %}">{% trans "Unowned Items" %}</a></p>
  </div>
{% endif %}

{% for item in items %}
  <div class="galleryitem">
    <a class="link" href="{% url "gallery" item.id %}"><img src="{% if item.thumbnail %}{{ item.thumbnail.url }}{% else %}{{ DESIGN_URL }}/images/folder.svg{% endif %}" title="{{ item.name }}"/></a>
    <p><a href="{% url "gallery" item.id %}">{{ item.name }}</a></p>
  </div>
{% empty %}
{% endfor %}

{% ifequal user request.user %}
  <div class="galleryitem">
    <form method="POST" action="{% url "new_gallery" %}">
      {% csrf_token %}
      <div class="link"><input type="image" src="{{ DESIGN_URL }}/images/add.svg" alt="{% trans "New Gallery" %}"/></div>
      <div class="input"><input name="name" value="" placeholder="{% trans "New Gallery Name" %}"/></div>
    </form>
  </div>
{% endifequal %}

