{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Gallery" %} | {{ gallery.name }}{% endblock %}

{% block "js" %}
  <script type="text/javascript" src="{{ DESIGN_URL }}js/gallery.js"></script>
{% endblock %}

{% block content %}

  <h1>{{ gallery.name }}</h1>

  {% if gallery.user != request.user %}
    <h2 style="padding-bottom: 12px;"><a href="{% url "view_profile" gallery.user.id %}">by {{ gallery.user.name }}</a></h2>
  {% endif %}

  {% include "resource/list.html" %}

{% endblock %}
