{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "InkSpace" %} | {{ gallery.name }}{% endblock %}

{% block "js" %}
  <script type="text/javascript" src="{{ DESIGN_URL }}js/gallery.js"></script>
{% endblock %}

{% block content %}

  <h1>{{ gallery.name }}
  {% if gallery.user != request.user and not gallery.group %}
    <span class="small"><a href="{% url "view_profile" gallery.user.username %}">by {{ gallery.user.name }}</a></span>
  {% endif %}</h1>

  {% include "resource/list.html" %}

 {% if gallery.user == request.user and gallery.id %}
 <div class="item">
  <div class="buttonbar">
    <form action="{% url "edit_gallery" gallery.id %}">
        <button id="editSide" class="start" type="submit">{% trans "Edit" %}</button>
    </form>
   {% with gallery as item %}
    {% with "delete_gallery" as delurl %}
      {% include "resource/delete_button.html" %}
    {% endwith %}
   {% endwith %}
  </div>
 </div>
 {% endif %}

 {% if gallery.group %}
   <h6>{% trans "This InkSpace is administered by the group" %} "{{ gallery.group }}", {% trans "please contact " %} <a href="{% url "contact" %}">inkscape administrators</a> {% trans "for additions or corrections." %}</h6>
 {% endif %}

{% endblock %}
