{% load i18n %}

<div id='errors'></div>

{% if user.resources.trash.count and me %}
  <div class="galleryitem">
    <a class="link" href="{% url "trash" %}"><img src="{{ STATIC_URL }}/images/deleted.svg" title="{% trans "Unowned Items" %}"/></a>
    <p><a href="{% url "trash" %}">{% trans "Trash" %}</a></p>
    <p class="label blank">{{ user.resources.trash.count }}</p>
  </div>
{% endif %}

{% for item in items %}
  <div class="{% if item.items.count %}galleryitem{% else %}galleryitem empty{% endif %}" id="drop{{ item.id }}">
    <a class="link" href="{% url "resources" item.user.username item.slug 'all' %}"><img src="{{ item.icon }}" title="{{ item.name }}"/></a>
    <p><a href="{% url "resources" item.user.username item.slug 'all' %}">{{ item.name }}</a></p>
    <p class="label blank">{{ item.items.all.count }}</p>
  </div>
  <script>
    registerDropZone('drop{{ item.id }}', 'added', '{% url "add_to_gallery" item.id %}', '{{ STATIC_URL }}', false); 
  </script>
{% empty %}
{% endfor %}

{% if me %}
  <div class="galleryitem">
    <form method="POST" action="{% url "new_gallery" %}">
      {% csrf_token %}
      <div class="link"><input type="image" src="{{ STATIC_URL }}/images/add.svg" alt="{% trans "New InkSpace" %}"/></div>
      <div class="input"><input name="name" value="" placeholder="{% trans "New InkSpace Name" %}"/></div>
    </form>
  </div>
{% endif %}

<div id="added">
  <!-- drop location -->
</div>

