{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% if item.is_file %}
  {% with item.outer as item %}

{% if item.is_image %}

<div class="imageitem">
  <div class="image">
    <a href="{{ item.download.url }}"><img src="{{ item.download.url }}"></a>
  </div>

  <div class="desc">
    <h2>{{ item.name }} <span class="by">{% trans "by" %} <a href="{% url "view_profile" item.user.id %}">{{ item.user.details }}</a></span></h2>
    <p>{{ item.desc }}</p>
  </div>

  <div class="side">
  {% ifequal item.user request.user %}
    <a href="{% url "edit_resource" item.id %}">{% trans "Edit" %}</a> |
    <a href="{% url "delete_resource" item.id %}">{% trans "Delete" %}</a>
  {% endifequal %}
  </div>

</div>

{% else %}

<div class="preview">

{% if item.thumbnail %}
  <img src="{{ item.thumbnail.url }}"/>
{% endif %}

<p>{{ item.desc }}<br/>
{% if item.file %}<a href="{{ item.file.url }}">{% trans "Download" %}</a>{% endif %}
{% if item.source %}<a href="{{ item.source.url }}">{% trans "Download" %}</a> |{% endif %}
</p>

</div>

{% endif %}

  {% endwith %}
{% else %}
<!--URL Resource handling here.-->
{% endif %}


{% endblock %}
