{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "InkSpace" %}{% endblock %}

{% block content %}
  <div>
    <div id="left-column">
      {% with object_list as items %}
        {% with 20 as limit %}
          {% include "resource/list.html" %}
        {% endwith %}
      {% endwith %}
    </div>
    <div id="right-sidebar">
      <h2>Found {{ object_list.count }} Items</h2>
      {% if object_list or query %}
        <form class="search" method="get" action="{{ url }}">
          <input type="text" name="q" value="{{ query|default:'' }}" placeholder="{% trans "Search for Resources" %}"/>
          {% if query %}
            <a href="{{ clear_url }}"><img title="{% trans "Clear Search" %}" src="{{ STATIC_URL }}images/clear-search.svg"/></a>
          {% endif %}
        </form>
      {% endif %}

     <div id="sidecategory">
      {% if username %}
      <h2>For User</h2>
      <ul><li><a href="{{ username.get_absolute_url }}">{{ username }}</a></li></ul>
      {% endif %}
      <h2>Order By</h2>
      <ul>
        {% for order in orders %}
            {% if order.active %}
              <li class="active"><a href="{{ order.url }}">{{ order.name }}</a><span><a href="{{ order.url }}">{% if order.down %}&#9660;{% else %}&#9650;{% endif %}</span></a></li>
            {% else %}
              <li><a href="{{ order.url }}">{{ order.name }}</a></li>
            {% endif %}
        {% endfor %}
      </ul>
      {% for category in categories %}
        {% if category.count != 0 %}
          <h2>{{ category.name }}</h2>
          {% if category.count > 1 %}
            <ul>
              {% for item in category %}
                {% if item and item.count %}
                  {% if category == item %}
                    <li class="active"><a>{{ item }}<a/></li>
                  {% else %}
                    <li><a href="{{ item.url }}">{{ item }}</a><span>{{ item.count }}</span></li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          {% elif category.count == 1 %}
            <ul><li class="active"><a>{{ category.active_items.1 }}</a><span>{{ category.active_items.1.count }}</span></li></ul>
          {% endif %}
        {% endif %}
      {% endfor %}
     </div>
    </div>
  </div>

{% endblock %}
