{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "InkSpace" %}{% endblock %}

{% block content %}
  <div>
    <div id="left-column">
      {% with object_list as items %}
        {% with 20 as limit %}
          {% include "resource/list.html" %}
        {% endwith %}
      {% endwith %}
    </div>
    <div id="right-sidebar">
      {% if object_list or query %}
        <form class="search" method="get" action="{{ url }}">
          <input type="text" name="q" value="{{ query|default:'' }}" placeholder="{% trans "Search for Resources" %}"/>
          {% if query %}
            <a href="{{ clear_url }}"><img title="{% trans "Clear Search" %}" src="{{ STATIC_URL }}images/clear-search.svg"/></a>
          {% endif %}
        </form>
      {% endif %}

     <div id="sidecategory">
      {% if username %}
      <h2>For User</h2>
      <ul><li><a href="{{ username.get_absolute_url }}">{{ username }}</a></li></ul>
      {% endif %}
      <h2>Order By</h2>
      <ul>
        {% for order in orders %}
            {% if order.active %}
              <li class="active"><a href="{{ order.url }}">{{ order.name }}</a><span>{% if order.down %}&#9660;{% else %}&#9650;{% endif %}</span></li>
            {% else %}
              <li><a href="{{ order.url }}">{{ order.name }}</a></li>
            {% endif %}
        {% endfor %}
      </ul>
      {% for category in categories %}
        <h2>{{ category.name }}</h2>
        <ul>
          {% for item in category %}
            {% if item and item.count %}
              {% if category == item %}
                <li class="active"><a>{{ item }}<a/></li>
              {% else %}
                <li><a href="{{ item.url }}">{{ item }}</a><span>{{ item.count }}</span></li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
     </div>
    </div>
  </div>

{% endblock %}
