{% extends 'resource/item.html' %}
{% load i18n pile %}

{% block headerdesc %}{{item.name}} {% trans "by" %} {{ item.user.details }}{% if item.desc %}: {{ item.desc}}{% endif %}{% endblock %}

{% block "description" %}
  <div class="info">
    <div class="title">
      {% if item.moderation and item.user != request.user %}
        <div class="tog single" id="flag">
          <a {% if item.moderation.i_flagged %}class="remove"{% else %}href="{{ item.moderation.flag_url }}"{% endif %} title="{% trans "Flag Resource to Moderators" %}">&nbsp;</a>
          <script>popUpLink('{% trans "Are you sure you want to report this resource?" %}', '{% trans "Cancel" %}', '{% trans "Report" %}', "{% url 'resource' item.pk %}");</script>
        </div>
      {% endif %}

      {% if item.mime.is_image %}
        <div class="tog" id="view"><a href="{% url "view_resource" item.id %}" title="{% trans "Full size view" %}">&nbsp;</a><p>{{ item.viewed }}</p></div>
      {% endif %}
      {% if item.download %}
        {% if not item.mime.is_image or not item.license.nd %}
          <div class="tog" id="download"><a href="{% url "download_resource" item.id %}" title="{% trans "Download" %}">&nbsp;</a><p>{{ item.downed }}</p></div>
        {% endif %}
      {% endif %}

      <div class="tog" id="vote"><a
        {% if not request.user.id or request.user == item.user %}
                                href="#" title="{% trans "Favorites" %}" class="disabled"
        {% elif not vote.vote %}href="{% url "like" item.id "+" %}" title="{% trans "Mark as a Favorite" %}"
                      {% else %}href="{% url "like" item.id "-" %}" title="{% trans "Remove from Favorites" %}" class="remove"{% endif %}
          >&nbsp;</a><p>{{ item.votes.likes.count }}</p></div>

      <h2>{{ item.name }}</h2>
      <div class="by">{% trans "by" %} <a href="{{ item.user.get_absolute_url }}">{{ item.user.details }}</a></div>

    </div>

    <div class="desc">{{ item.desc|urlize|linebreaks }}</div>

    <div class="side">
      <h2>{% if item.category %}{{ item.category }}{% else %}{% trans "Unpublished"%}{% endif %}</h2>
    
      {% if not item.is_file %}
        <a class="link" href="{{ item.link }}"><img src="{{ STATIC_URL }}/images/link_to.svg" alt="{% trans "Link"%}" title="{% trans "Follow Link (external site)" %}"/></a>
      {% endif %}
      <dl>
        {% if item.is_file %}    
          {% if item.mime.is_image %}
            <dt>{% trans "Area" %}</dt><dd> {{ item.media_x }}x{{ item.media_y }}</dd>
          {% elif item.mime.is_text %}
            <dt>{% trans "Lines" %}</dt><dd> {{ item.media_x }}</dd>
            <dt>{% trans "Words" %}</dt><dd> {{ item.media_y }}</dd>
          {% endif %}
          <dt>{% trans "Size" %}</dt><dd>{{ item.download.size|filesizeformat }}</dd>
        {% else %}
          <dt>{% trans "Linked From" %}</dt><dd>{{ item.link_from }}</dd>
        {% endif %}
        <dt>{% trans "Created" %}</dt><dd>{{ item.created|timetag }}</dd>
        <dt>{% trans "Type" %}</dt><dd>{{ item.media_type }}</dd>
      </dl>

      {% if item.license %}
        <a class="license" href="{{ item.license.link }}">
          <img src="{{ item.license.icon.url }}" alt="{{ item.license }}" title="{% if item.owner %}Copyright © {{ item.years }} {{ item.user.name }}{% endif %}{{ item.license }}"/>
        </a>
      {% endif %}

      {% if item.signature %}
         <a class="signature" href="{{ item.signature.url }}">
           {% if item.is_verified %}
             <img src="{{ STATIC_URL }}images/sig_verified.svg" title="{% trans "Verified (signed by user)" %}"/>
           {% else %}
             <img src="{{ STATIC_URL }}images/sig_broken.svg" title="{% trans "Broken Signature!" %}"/>
           {% endif %}
         </a>
      {% endif %}

      {% if item.link and not item.is_video %}
        <p><a href="{{ item.link }}">{% trans "Link" %}</a></p>
      {% endif %}
    </div>
  </div>   

  {% if item.is_file %}
    <!--We'd have a copy to clipboard button here, but html5 doesn't have it yet-->
    {% if item.user == request.user %}
      <div id="item-footer">
        <form action="{% url "edit_resource" item.id %}">
          <button id="editSide" class="start" type="submit">{% trans "Edit" %}</button>
        </form>
        <form action="{% url "delete_resource" item.id %}" onsubmit='return popUp("{% trans "Delete Upload" %}","{% trans "Are you sure you want to delete this upload?" %}","{% url "delete_resource" item.id %}","{% trans "Cancel" %}","{% trans "Confirm Delete" %}");'>
          <button id="deleteSide" class="end" type="submit">{% trans "Delete" %}</button>
        </form>
      </div>
    {% endif %}
  {% endif %}

  {% with item as comment_subject %}
     {% include "comments/comment_area.html" %}
  {% endwith %}
  
{% endblock %}
