{% extends 'resource/item.html' %}
{% load i18n pile %}

{% block "description" %}
  <div class="info">
    <h2>{{ item.name }} <span class="by">{% trans "by" %} <a href="{% url "view_profile" item.user.username %}">{{ item.user.details }}</a></span></h2>
    <div class="desc">{{ item.desc|linebreaks }}</div>

    <div class="side">
      <h2>{% if item.category %}{{ item.category }}{% else %}Unpublished{% endif %}</h2>
    
      {% if not item.is_file %}
        <a class="link" href="{{ item.link }}"><img src="{{ STATIC_URL }}/images/link_to.svg" alt="Link" title="Follow Link (external site)"/></a>
      {% endif %}
      <dl>
        {% if item.is_file %}    
          {% if item.mime.is_image %}
            <dt>{% trans "Views" %}</dt><dd>{{ item.viewed }}</dd>
          {% endif %}
          {% if not item.mime.is_image or not item.license.nd %}
            <dt>{% trans "Downloads" %}</dt><dd>{{ item.downed }}</dd>
          {% endif %}
          <dt>{% trans "Liked" %}</dt><dd>{{ item.votes.likes.count }}</dd>
          <dt>{% trans "Size" %}</dt><dd>{{ item.download.size|filesizeformat }}</dd>
        {% else %}
          <dt>{% trans "Linked From" %}</dt><dd>{{ item.link_from }}</dd>
        {% endif %}
        <dt>{% trans "Created" %}</dt><dd>{{ item.created|timetag }}</dd>
        <dt>{% trans "Type" %}</dt><dd>{{ item.media_type }}</dd>
      </dl>

   {% if item.license %}
     <a class="license" href="{{ item.license.link }}">
       <img src="{{ item.license.icon.url }}" alt="{{ item.license }}" title="{% if item.owner %}Copyright © {{ item.years }} {{ item.user.name }}{% endif %}{{ item.license }}"/>
     </a>
   {% endif %}

  {% if item.is_file %}
    {% if item.link and not item.is_video %}
        <form action="{{ item.link }}">
          <button id="link">Link</button>
        </form>
    {% endif %}
    {% if request.user.id and request.user != item.user %}
      {% if not vote.vote %}
        <form action="{% url "like" item.id "+" %}">
          <button id="like" class="end {% if not item.link %}start{% endif %}" >&nbsp;</button>
        </form>
      {% else %}
        <form action="{% url "like" item.id "-" %}">
          <button id="like" class="end {% if not item.link %}start{% endif %} active" type="submit">&nbsp;</button>
        </form>
      {% endif %}
    {% endif %}
    
    {% if item.mime.is_image %}
      <form action="{% url "view_resource" item.id %}">
          <button id="view" class="unique start end" type="submit">{% trans "Full size view" %}</button>
      </form>
    {% endif %}
    
    {% if not item.mime.is_image or not item.license.nd %}
      <form action="{% url "download_resource" item.id %}">
          <button id="download" class="unique start end" type="submit">{% trans "Download" %}</button>
      </form>
    {% endif %}

    <!--We'd have a copy to clipboard button here, but html5 doesn't have it yet-->

    {% if item.user == request.user %}
     <form action="{% url "edit_resource" item.id %}">
       <button id="editSide" class="start" type="submit">{% trans "Edit" %}</button>
     </form>
     {% with "delete_resource" as delurl %}
      {% include "resource/delete_button.html" %}
     {% endwith %}
    {% endif %}
  {% endif %}

    </div>
 </div>   

 
  {% with item as comment_subject %}
     {% include "comments/comment_area.html" %}
  {% endwith %}
  
{% endblock %}
