{% load i18n %}<!DOCTYPE html>
{% load cms_tags sekizai_tags %}
{% load menu_tags %}
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8"/>
		<link rel="shortcut icon" href="{{ DESIGN_URL }}images/inkscape-logo.png"/>
        <link rel="alternate"     type="application/rss+xml" title="{% trans "News Feed" %}" href="/news/feed/"/>

        <link rel="stylesheet"    type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu"/>
		<link rel="stylesheet"    type="text/css" href="{{ DESIGN_URL }}css/main.css"/>
		<link rel="stylesheet"    type="text/css" href="{{ DESIGN_URL }}css/gallery.css"/>
        {% render_block "css" %}
        {% block css %}{% endblock %}

		{% block extra-head %}{% endblock %}

		<title>{% block alltitle %}{% block title %}{{ title|default:"Draw Freely." }}{% endblock %} | Inkscape{% endblock %}</title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ DESIGN_URL }}js/inkscape.js"></script>
        <script type="text/javascript" src="{{ DESIGN_URL }}js/gallery.js"></script>

        <meta name="Author" content="{% trans "Inkscape Website Developers" %}" />
        <meta name="Copyright" content="Developers, AGPLv3" />

        <meta name="description" content="{% trans "Inkscape is professional quality vector graphics software which runs on Windows, Mac OS X and Linux. It is used by design professionals and hobbyists worldwide, for creating a wide variety of graphics such as illustrations, icons, logos, diagrams, maps and web graphics. Inkscape uses the W3C open standard SVG (Scalable Vector Graphics) as its native format, and is free and open-source software." %}" />
        <meta name="keywords" content="{% trans "inkscape,vector,drawing,graphics,svg,xml,document,poster,linux,open source,foss,floss,free software,libre software,libre,freedom,line,shape,diagram,flowchart,graph,extention,plugin,software,download,platform,windows,win,mac,osx,ubuntu,fedora,debian,help,tutorial,chat,irc,home,homepage,professional,casual,powerful,text,web,www,w3c,standard" %}" />

	</head>
	<body id="page-{% block body-pageid %}{{ PAGE_ID }}{% endblock %}" class="{% block body-classes %}{% endblock %}">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ GOOGLE_ANID }}', 'inkscape.org');
  ga('send', 'pageview');
</script>

        {% cms_toolbar %}

		<div class="header">
			<div id="cleartop">
				<div id="logo">
					<a href="/"><img src="{% block logo-url %}{{ DESIGN_URL }}images/inkscape-logo.svg{% endblock %}"
							 width="64" height="64" alt="Inkscape" onerror="getPng(this);"/></a>
                    <h1><a href="/" tabindex="-1">Inkscape</a></h1>
                    <h2><a href="/" tabindex="-1">{% trans "Draw Freely." %}</a></h2>
				</div>
				<div id="header-right">
					<ul id="topdrops">
                        {% language_chooser "languages.html" %}
						<li id="toplogin">
                        {% if not request.user.is_authenticated %}
						<p>{% trans "Log in / Register" %}</p>
							<form class="topdrop" action="{% url "auth_login" %}" method="POST">
                                {% csrf_token %}
								<p id="toplogin-head">{% trans "Already a member? Log in below." %}</p>
								<label for="toplogin-username">{% trans "Username" %}</label>
								<input name="username" id="toplogin-username" type="text">
								<label for="toplogin-password">{% trans "Password" %}</label>
								<input name="password" id="toplogin-password" type="password">
								<input id="toplogin-submit" type="submit" value="{% trans "Log in" %}">
								<p id="toplogin-register">{% trans "Not a member?" %}<br><a href="/person/register/">{% trans "Register now." %}</a></p>
								<p id="toplogin-alternate"><span>{% trans "Or log in with" %}</span>
								<a href="{% url "socialauth_begin" 'google' %}" id="toplogin-google"></a>
								<a href="{% url "socialauth_begin" 'facebook' %}" id="toplogin-facebook"></a>
                                <a href="{% url "socialauth_begin" 'twitter' %}" id="toplogin-twitter"></a>
								<a href="{% url "socialauth_begin" 'yahoo' %}" id="toplogin-yahoo"></a>
							</form>
                        {% else %}
                        <p><img src="{{ request.user.details.roll.icon_url }}" title="{{ request.user.details.roll }}"/>
                        {{ request.user.name }} 
                        <form  class="topdrop">
                            <a href="{% url "my_profile" %}"><img class="userphoto" src="{{ user.details.photo_url }}" alt="{% trans "Profile Photo" %}"/></a>
                          {% if request.user.is_staff %}
                            <p id="toplogin-head"><a href="/admin/">{% trans "Admin" %}</a></p>
                          {% endif %}
                          <p id="toplogin-head"><a href="{% url "my_profile" %}">{% trans "My Profile" %}</a></p>
                          <p id="toplogin-head"><a href="{% url "auth_logout" %}">{% trans "Logout" %}</a></p>
                        </form>
                        {% endif %}
						</li>
					</ul>
					<div id="social">
                        <p>{% trans "Follow us on:" %} </p>
					  <nav id="socialnav">
					    <a id="twitter-logo" href="https://twitter.com/inkscape"><img src="{{ DESIGN_URL }}images/logo_twitter.svg" onerror="getPng(this);"/></a>
					    <a id="google-groups-logo" href="https://plus.google.com/+inkscape">G</a>
					  </nav>
					</div>
					  <form id="topsearch" method="submit" action="{% url "search" %}">
                        <input type="text" name="q" id="topsearch-q" placeholder="{% trans "Search" %}"><input type="image" id="topsearch-button"
                          src="{{ DESIGN_URL }}images/search-button.svg" onerror="getPng(this);" alt="{% trans "Search" %}">
					  </form>
				</div>
			</div>
			<div class="nav"><ul id="menu">{% show_menu 1 100 1 100 %}</ul></div>
		</div>
		{% block supercontent %}
		<div id="content"{% block contentclasses %}{% endblock %}><div class="wrapper">
            {% show_breadcrumb 0 "menu/breadcrumb.html" 0 %}
			{% block content %}{% endblock %}
		</div></div>
		{% endblock %}
		{% block footer %}
		<div class="footer">
	        <a href="https://code.launchpad.net/inkscape-web"><img src="{{ DESIGN_URL }}/images/django.svg" title="This site is running:
Python {{ PYTHON_VERSION }}
Django {{ DJANGO_VERSION }}
InkscapeWeb r{{ REVISION }}" alt="PY" style="float:right; margin-top: -10px;"/></a>
			<div class="nav">
				{% block footer-nav %}
				<ul>
					{% for item in nav %}
					<li><a href="{{ item.href }}"{% if item.current %} class="current"{% endif %}>{{ item.title }}</a><ul>
						{% for subitem in item %}
						<li><a href="{{ subitem.href }}">{{ subitem.title }}</a></li>
						{% endfor %}
					</ul></li>
					{% endfor %}
				</ul>
				{% endblock %}
			</div>
			<p>{% trans "Inkscape is Free and Open Source Software licensed under the" %} <a href="http://www.gnu.org/licenses/gpl-2.0.html">GPL</a>.</p>
		</div>
        <p id="final-footer">{% trans "Website designed by" %} <a href="http://skymaiden.com">Hinerangi Courtenay</a> {% trans "in Inkscape and developed by" %} <a href="http://doctormo.org">Martin Owens</a> - {% trans "Website development guide" %}: <a href="http://wiki.inkscape.org/wiki/index.php/WebSite">{% trans "Here" %}</a></p>
		{% endblock %}
      {% render_block "js" %}
	</body>
</html>

