{% load i18n %}{% load inkscape_i18n %}<!DOCTYPE html>
{% load cms_tags sekizai_tags %}
{% load menu_tags %}
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8">
		<link href="{{ DESIGN_URL }}css/main.css" rel="stylesheet" type="text/css">
		<link href="{{ DESIGN_URL }}favicon.ico" rel="shortcut icon">
		<title>{% block alltitle %}{% block title %}{{ title|default:"Draw Freely." }}{% endblock %} | Inkscape{% endblock %}</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		{% block extra-head %}{% endblock %}
        {% render_block "css" %}
	</head>
	<body id="page-{% block body-pageid %}{{ PAGE_ID }}{% endblock %}" class="{% block body-classes %}{% endblock %}">
        {% cms_toolbar %}
		<div class="header">
			<div id="cleartop">
				<div id="logo">
					<a href="/"><img src="{% block logo-url %}{{ DESIGN_URL }}images/inkscape-logo.png{% endblock %}" width="64" height="64" alt=""></a>
					<h1><a href="/" tabindex="-1">Inkscape</a></h1>
					<h2><a href="/" tabindex="-1">{% trans "Draw Freely." %}</a></h2>
				</div>
				<div id="header-right">
					<ul id="topdrops">
						<li id="languages">
							<p>Language</p>
							<ul class="topdrop">
								{% for lang in LANGUAGES %}
								<li class="{{ lang.0 }}"><a href="{% langurl lang.0 %}"{% if LANGUAGE_CODE = lang.0 %} class="current"{% endif %}><span></span>{{ lang.1 }}</a>
								{% endfor %}
							</ul>
						</li>
						<li id="toplogin">
                        {% if not request.user.is_authenticated %}
						<p>{% trans "Log in / Register" %}</p>
							<form class="topdrop" action="{% url auth_login %}" method="POST">
                                {% csrf_token %}
								<p id="toplogin-head">{% trans "Already a member? Log in below." %}</p>
								<label for="toplogin-username">{% trans "Username" %}</label>
								<input name="username" id="toplogin-username" type="text">
								<label for="toplogin-password">{% trans "Password" %}</label>
								<input name="password" id="toplogin-password" type="password">
								<input id="toplogin-submit" type="submit" value="Log in">
								<p id="toplogin-register">{% trans "Not a member?" %}<br><a href="/register/">{% trans "Register now." %}</a></p>
								<p id="toplogin-alternate"><span>{% trans "Or log in with" %}</span>
								<a href="{% url socialauth_begin 'google' %}" id="toplogin-google"></a>
								<a href="{% url socialauth_begin 'facebook' %}" id="toplogin-facebook"></a>
								<a href="{% url socialauth_begin 'twitter' %}" id="toplogin-twitter"></a>
								<a href="{% url socialauth_begin 'yahoo' %}" id="toplogin-yahoo"></a>
<!--								<a href="{% url socialauth_begin 'live' %}" id="toplogin-live"></a>
								<a href="{% url socialauth_begin 'wordpress' %}" id="toplogin-wordpress"></a></p>-->
							</form>
                        {% else %}
                        <p>{% if request.user.first_name %}{{ request.user.first_name }} {{ request.user.last_name }}{% else %}{{ request.user.username }}{% endif %}</p>
                        <form  class="topdrop">
                        <p id="toplogin-head"><a href="{% url auth_logout %}">{% trans "Logout" %}</a></p>
                        </form>
                        {% endif %}
						</li>
					</ul>
					<form id="topsearch">
						<input type="text" name="q" id="topsearch-q" placeholder="Search"><input type="image" id="topsearch-button" src="{{ DESIGN_URL }}images/search-button.png" alt="Search">
					</form>
				</div>
			</div>
			<div class="nav"><ul>{% show_menu 1 %}</ul></div>
		</div>
		{% block supercontent %}
		<div id="content"{% block contentclasses %}{% endblock %}><div class="wrapper">
            {% show_breadcrumb %}
			{% block content %}{% endblock %}
		</div></div>
		{% endblock %}
		{% block footer %}
		<div class="footer">
			<div class="nav">
				{% block footer-nav %}
				<ul>
					{% for item in nav %}
					<li><a href="{{ item.href }}"{% if item.current %} class="current"{% endif %}>{{ item.title }}</a><ul>
						{% for subitem in item %}
						<li><a href="{{ subitem.href }}">{{ subitem.title }}</a></li>
						{% endfor %}
					</ul></li>
					{% endfor %}
				</ul>
				{% endblock %}
			</div>
			<p>{% trans "Inkscape is Free and Open Source Software licensed under the GPL." %}</p>
			<!-- This site is running Python {{ PYTHON_VERSION }} / Django {{ DJANGO_VERSION }} / {% if CODE_VERSION = CONTENT_VERSION %}inkscape-web r{{ CODE_VERSION }}{% else %}code r{{ CODE_VERSION }} / content r{{ CONTENT_VERSION }}{% endif %} -->
		</div>
		<p id="final-footer">{% blocktrans %}Website designed by <a href="http://skymaiden.com">Hinerangi Courtenay</a> in Inkscape and developed by <a href="http://doctormo.org">Martin Owens</a>{% endblocktrans %}</p>
		{% endblock %}
      {% render_block "js" %}
	</body>
</html>

