{% load i18n %}<!DOCTYPE html>
{% load cms_tags sekizai_tags %}
{% load extras menu_tags %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>{% block alltitle %}{% block title %}{{ title|default:"Draw Freely." }}{% endblock %} | Inkscape{% endblock %}</title>
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/inkscape-logo.png"/>
    <link rel="alternate"     type="application/rss+xml" title="{% trans "News Feed" %}" href="/news/feed/"/>
    <link rel="stylesheet"    type="text/css" href="{{ STATIC_URL }}css/main.css"/>
    <link rel="stylesheet"    type="text/css" href="{{ STATIC_URL }}css/text.css"/>
    <link rel="stylesheet"    type="text/css" href="{{ STATIC_URL }}css/gallery.css"/>

    {% render_block "css" %}
    {% render_block "js" %}

    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/inkscape.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/gallery.js"></script>

    <meta name="Author" content="{% trans "Inkscape Website Developers" %}" />
    <meta name="description" content="{% trans "Inkscape is professional quality vector graphics software which runs on Windows, Mac OS X and Linux. It is used by design professionals and hobbyists worldwide, for creating a wide variety of graphics such as illustrations, icons, logos, diagrams, maps and web graphics. Inkscape uses the W3C open standard SVG (Scalable Vector Graphics) as its native format, and is free and open-source software." %}" />
    <meta name="keywords" content="{% trans "inkscape,vector,drawing,graphics,svg,xml,document,poster,linux,open source,foss,floss,free software,libre software,libre,freedom,line,shape,diagram,flowchart,graph,extention,plugin,software,download,platform,windows,win,mac,osx,ubuntu,fedora,debian,help,tutorial,chat,irc,home,homepage,professional,casual,powerful,text,web,www,w3c,standard" %}" />
  </head>

<body id="page-{% block body-pageid %}{{ PAGE_ID }}{% endblock %}" class="{% block body-classes %}{% endblock %}">
  {% cms_toolbar %}

  <div class="header">
    <div id="cleartop">
      <div id="logo">
        <a href="/"><img src="{% block logo-url %}{{ STATIC_URL }}images/inkscape-logo.svg{% endblock %}"
           width="64" height="64" alt="Inkscape" onerror="getPng(this);"/></a>
        <h1><a href="/" tabindex="-1">Inkscape</a></h1>
        <h2><a href="/" tabindex="-1">{% trans "Draw Freely." %}</a></h2>
      </div>
      <div id="header-right">
        <ul id="topdrops">
          {% language_chooser "languages.html" %}

          <li id="toplogin">
            {% if not request.user.is_authenticated %}
              <p><a href="{% url "auth_login" %}">{% trans "Log in / Register" %}</a></p>
              <div class="topdrop">
                <form action="{% url "auth_login" %}" method="POST">
                  {% csrf_token %}
                  <label for="toplogin-username">{% trans "Username" %}</label>
                  <input name="username" id="toplogin-username" type="text">
                  <label for="toplogin-password">{% trans "Password" %}</label>
                  <input name="password" id="toplogin-password" type="password">
                  <input class="button" type="submit" value="{% trans "Log in" %}">
                  <input name="next" type="hidden" value="{{ request.path }}"/>
                </form>
                <form action="{% url "auth_register" %}" method="GET">
                  <input class="button" type="submit" value="{% trans "Register Now" %}"/>
                </form>
                <div id="toplogin-alternate">
                  <span>{% trans "Or log in using:" %}</span>
                  {% include "social_logins.html" %}
                </div>
              </div>
            {% else %}
              <p>
                <a href="{{ request.user.get_absolute_url }}">{{ request.user.name }}</a>&nbsp;
                <div  class="topdrop">
                  <a href="{{ request.user.get_absolute_url }}"><img class="userphoto" src="{% if request.user.details.photo %}{{ request.user.details.photo.url }}{% else %}{{ STATIC_URL }}images/photo.png{% endif %}" alt="{% trans "Profile Photo" %}"/></a>
                  {% if request.user.is_moderator %}
                    <p><a href="{% url "moderation" %}">{% trans "Moderation" %}</a></p>
                  {% endif %}
                  {% if request.user.is_staff %}
                    <p><a href="/admin/">{% trans "Administration" %}</a><p/>
                  {% endif %}
                  <p><a href="{{ request.user.get_absolute_url }}">{% trans "My Profile" %}</a></p>
                  <p><a href="{% url "auth_logout" %}?next={{ request.path }}">{% trans "Logout" %}</a></p>
                </div>
              {% endif %}
            </li>

            {% if request.user.alerts.all %} <!--If user has any read or new alerts-->
              <li id="topmessages">
                <p><a href="{% url "alerts" %}{% if request.user.alerts.new %}?new=True" class="alert"{% else %}"{% endif %}>&nbsp;<!--"--></a></p>
                <div class="topdrop">
                  {% for t in request.user.alerts.types %}
                    <p><a href="{% url "alerts" t.0 %}?new=True">{{ t.1 }} ({{ t.2 }})</a></p>
                  {% endfor %}
                  <p style="padding-top: 20px;"><a href="{% url "alerts" %}">All Messages ({{ request.user.alerts.all.count }})</a></p>
                  <p style="padding-top: 6px;"><a href="">Message Settings</a></p>
                </div>
              </li>
            {% endif %}
          </ul>
          <div id="social">
                        <p>{% trans "Follow us on:" %} </p>
            <nav id="socialnav">
              <a id="twitter-logo" href="https://twitter.com/inkscape"><img src="{{ STATIC_URL }}images/logo_twitter.svg" onerror="getPng(this);" alt="Twitter"/></a>
              <a id="google-groups-logo" href="https://plus.google.com/+inkscape">G</a>
            </nav>
          </div>
            <form id="topsearch" method="get" action="{% url "search" %}">
              <input type="text" name="q" id="q" placeholder="{% trans "Search" %}">
              <button alt="{% trans "Search" %}"><img src="{{ STATIC_URL }}images/search.svg"/></button>
            </form>
        </div>
      </div>
      <div class="nav"><ul id="menu">{% show_menu 0|root_nudge:request.current_page 100 100 %}</ul></div>
    </div>
    {% block supercontent %}
    <div id="content"{% block contentclasses %}{% endblock %}><div class="wrapper">
            {% show_breadcrumb 0 "menu/breadcrumb.html" 0 %}
      {% block content %}{% endblock %}
    </div></div>
    {% endblock %}
    {% block footer %}
    <div class="footer">
          <a href="https://code.launchpad.net/inkscape-web"><img src="{{ STATIC_URL }}/images/django.svg" title="This site is running:
Python {{ PYTHON_VERSION }}
Django {{ DJANGO_VERSION }}
InkscapeWeb r{{ REVISION }}" alt="PY" style="float:right; margin-top: -15px; onerror="getPng(this);"/></a>
      <div class="nav">
        {% block footer-nav %}
        <ul>
          {% for item in nav %}
          <li><a href="{{ item.href }}"{% if item.current %} class="current"{% endif %}>{{ item.title }}</a><ul>
            {% for subitem in item %}
            <li><a href="{{ subitem.href }}">{{ subitem.title }}</a></li>
            {% endfor %}
          </ul></li>
          {% endfor %}
        </ul>
        {% endblock %}
      </div>
      <p>{% block "foot" %}{% trans "Inkscape is Free and Open Source Software licensed under the" %} <a href="http://www.gnu.org/licenses/gpl-2.0.html">GPL</a>.{% endblock %}</p>
    </div>
        <p id="final-footer">{% trans "Website designed by" %} <a href="http://skymaiden.com">Hinerangi Courtenay</a> {% trans "in Inkscape and developed by" %} <a href="http://doctormo.org">Martin Owens</a> - {% trans "Website development guide" %}: <a href="http://wiki.inkscape.org/wiki/index.php/WebSite">{% trans "Here" %}</a></p>
    {% endblock %}
  </body>
</html>

