{% load menu_tags %}
{% load i18n %}
<li id="languages">
  {% for language in languages %}
    {% ifequal current_language language.0 %}
      <p><img src="{{ DESIGN_URL }}/images/lang/{{ lang }}.png" title="{{ lang }}"/>{{ language.1 }}</p>
    {% endifequal %}  
  {% endfor %}
  <ul class="topdrop">
    {% for language in languages %}
      {% language language.0 %}
      <li class="{% ifequal current_language language.0 %}selected{% endifequal %}"><a style="background-image: url({{ DESIGN_URL }}/images/lang/{{ language.0 }}.png);" href="{% url "pages-root" %}">{{ language.1 }}</a></li>
      {% endlanguage %}
    {% endfor %}
  </ul>
</li>
