{% extends "base_sidebar.html" %}
{% load i18n %}
{% load newinclude %}
{% load paginator %}
{% block body-pageid %}news-archive{% endblock %}

{% block content %}
<div id="left-column" class="article">
	<h1>{{ page_title }}</h1>
	{% for article in articles.object_list %}
		{% newinclude '_news_brief.html' with article=article %}
		{% if not forloop.last %}<hr>{% endif %}
	{% empty %}
		<p>{% trans 'No news articles were found.' %}</p>
	{% endfor %}
	{% paginator articles %}
</div>
<div id="right-sidebar" class="aside">
	<ul class="article-actions">
		<li><a class="action-subscribe" href="/news/rss/">Subscribe via RSS</a></li>
	</ul>
	{% if categories %}
	<h2>{% trans 'Categories' %}</h2>
	<ul>
		{% for cat in categories %}
		<li><a href="{% url news:category cat.name|slugify %}">{{ cat.name }}</a> ({{ cat.count }})</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if archives %}
	<h2>{% trans 'Archives' %}</h2>
	<ul>
		{% for year in archives %}
		<li><a href="{% url news:year year %}">{{ year }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
<br class="clearer">
{% endblock %}
