{% extends "base_sidebar.html" %}
{% load i18n %}
{% block body-pageid %}news-full{% endblock %}

{% block content %}
<div id="left-column" class="article">
	<h1>{{ article.title }}</h1>
	<ul class="article-share">
		<!--<li><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexample.com%2Fpage%2Fto%2Flike&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe></li>-->
		<li><a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script></li>
		<li><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
	</ul>
	{% url content:users article.author|slugify as author_url %}
	{% url news:category article.category|slugify as category_url %}
	<p class="postdate">{% blocktrans with article.date|date:'F j, Y' as date and article.author as author and article.category as category %}Published {{ date }} by <a href="{{ author_url }}">{{ author }}</a> in <a href="{{ category_url }}">{{ category }}</a>{% endblocktrans %}</p>
	<div class="article-body">
		{{ article.body }}
	</div>
	<ul class="article-actions">
		<li><a class="action-subscribe" href="/news/rss/">Subscribe via RSS</a></li>
		<li><a class="action-email" href="email/">Email to a friend</a></li>
		<li><a class="action-printer" href="printer/">Printer friendly version</a></li>
	</ul>
</div>
<div id="right-sidebar" class="aside">
	{% if categories %}
	<h2>Categories</h2>
	<ul>
		{% for cat in categories %}
		<li><a href="{% url news:category cat.name|slugify %}">{{ cat.name }}</a> ({{ cat.count }})</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if archives %}
	<h2>Archives</h2>
	<ul>
		{% for year in archives %}
		<li><a href="{% url news:year year %}">{{ year }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
<br class="clearer">
{% endblock %}
