{% extends "base_about.html" %}
{% block alltitle %}Forums & blogs{% endblock %}
{% block pagetitle %}Forums & blogs{% endblock %}
{% block left-column %}
<!-- PORT: 	http://wiki.inkscape.org/wiki/index.php/International_and_Local_Communities 
			http://wiki.inkscape.org/wiki/index.php/Inkscape_coverage <-TODO
			-->

<h2>Forums</h2>
<p>Forums are the ideal way for informal communication. We recommend users to get in contact with their closet forum were they'll be able to ask questions about features and how-to's, althought developers (both Inkscape codebase and <a href="/download/addons">extensions</a>) have their corner too.
<br>
Feel free to extend if you have a relevant link.<!-- FIXME: Add email adress for people to contact --></p>

<ul>
	<li> <b>English:</b> <a href="http://www.inkscapeforum.com">Unofficial Inkscape Forum</a> | <a href="http://www.facebook.com/group.php?gid=2675326577">Facebook Inkscape Group (outdated)</a> | <a href="http://v-graphic.forums-free.com">Vector Graphics Forum</a> </li>
	<li> <b>German:</b> <a href="http://www.inkscape-forum.de">Inkscape Forum</a> | <a href="http://www.open-draw-community.de">Open Draw Community</a> </li>
	<li> <b>Portuguese:</b> <a href="http://inkscapebrasil.org">Inkscape Brasil</a> </li>
	<li> <b>French:</b> <a href="http://www.linuxgraphic.org">LinuxGraphic.org</a> | <a href="http://www.inkscape-fr.org">Inkscape pour les francophones</a> </li>
	<li> <b>Russian:</b> <a href="http://www.linuxgraphics.ru">linuxgraphics.ru</a> </li>
	<li> <b>Italian:</b> <a href="http://www.inkscapeitalia.it">Inkscape Italia</a> | <a href="http://www.inkscapeforum.it">inkscapeforum.it</a> </li>
</ul>


<h2>User Blogs</h2>
Take a look at these blogs for tutorials and tips.
<ul>
	<li> <b>English:</b> <a href="http://screencasters.heathenx.org/">Inkscape tutorials for the novice artist</a> </li>
	<li> <b>Spanish:</b> <a href="http://dibujalibre.blogspot.com">Dibujalibre - Inkscape Colombia</a> </li>
</ul>


<h2>Team members' blogs</h2>
<p>See <a href="/community/contact/">who is who</a>.</p>

<!-- TODO: Add more info about developer blogs -->
<ul>
	<li> <b>Jon Cruz:</b> <a href="http://codewideopen.blogspot.com/">Code Wide Open</a> </li>
	<li> <b>MenTaLguY:</b> <a href="http://moonbase.rydia.net/">MenTaLguY's page</a> </li>
	<li> <b>Bryce Harrington:</b> <a href="http://www2.bryceharrington.org:8080/">Infinite Knots</a> </li>
	<li> <b>Tavmjong Bah:</b> <a href="http://tavmjong.free.fr/blog/">Tavmjong Bah's Blog</a> </li>
</ul>	
	

{% endblock %}
