{% load i18n comments sekizai_tags %}

{% addtoblock "css" %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/comments.css" media="all" />
{% endaddtoblock %}

<div class="comments">
  {% include "comments/new_list.html" %}

  {% if user.is_authenticated %}
    {% include "comments/new_form.html" %}
  {% else %}
    {% url 'auth_login' as login_url %}
    {% blocktrans %}
      <div>Please <a href="{{login_url}}">log in</a> to leave a comment!</div>
    {% endblocktrans %}
  {% endif %}
</div>

<!--Todo: error handling for form, remove superfluous and tweak remaining css, editing of/redirecting to other related templates 
(esp. view_comment, view_thread, preview,...), the index link in a comment needs content, Cancel button for comment error form, 
handling of long comments ("Read more...", js?), pagination?, the CoC link needs to be added,
deleting/hiding of comments (staff, original commenter), 
flagging for the comment (logged-in users?),
(js for more beauty), (more useful admin interface), 
connect to messaging system, preferences for comments in messaging, resolve not being able to comment if the user does not have a username -->

