{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}{% trans "Report this comment" %}{% endblock %}

{% block content %}
  <h2>{% trans "Do you really want to report this comment?" %}</h2>
    {% with comment_counter=1 %}
      {% include "comments/single_comment.html" %}
    {% endwith %}
    <form action="." method="post">{% csrf_token %}
      <input type="hidden" name="next" value="{% url 'resource' comment_subject.id %}?thankyou=flag" id="next" />
      <p class="submit">
        <input type="submit" name="submit" value="{% trans "Report" %}" /> {% trans "or" %} <a href="{{ comment.get_absolute_url }}">{% trans "Cancel" %}</a>
      </p>
    </form>
{% endblock %}