{% extends "comments/base.html" %}

{% load i18n comments pile %}

{% block title %}{% trans "Review Flagged Comments" %}{% endblock %}

{% block content %}

<h1>{% trans "Hide Comment" %}</h1>



<div class="comments">
 {% with hide=1 %}
   {% include 'comments/moderate_single_comment.html' %}
 {% endwith %}
  <div id="flaggers">
    <p>{% trans "This comment was reported by" %}:
      {% for flag in comment.flags.all %}{% url 'view_profile' flag.user.username as flagger_url %}<a href="{{ flagger_url }}">{{ flag.user.username }}</a>&nbsp;  {% endfor %}
    </p>
  </div>
  
  <form class="block" action='{% url "comments-delete"  comment.id %}' method="post">
  {% csrf_token %}
    <div class="comment">
      <div class="details">
        <div class="title">{% trans "Edit message to the person who made the comment" %}:</div>
      </div>
        
        <div class="body">
         {% include "comments/moderate_message.html" %}
        </div>
        
        <div class="cfooter">
          <div class="buttonbar">           
            <label class="forcheckbox">{% trans "This needs the attention of an administrator" %}:<input type="checkbox" name="adminactionrequired"/></label>
            <a class="button" href='{{ request.GET.next }}'>{% trans "Cancel" %}</a>
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            <input type="submit" class="button" value='{% trans "Hide comment and send message" %}' />
          </div>
        </div>
    </div>
  </form>  
</div>

{% endblock %}

<!--todo: send message to commentor, to admin, Adding a breadcrumb navigation would be nice. -->