{% extends "comments/base.html" %}

{% load i18n comments pile pagination_tags %}

{% block title %}{% trans "Review Flagged Comments" %}{% endblock %}

{% block content %}

    <h1>{% trans "Review flagged Comments" %}</h1>
    
    <div class="comments">
    <h2>{% trans "This is a list of all comments reported by our users" %} ({{ comment_list|length }}):</h2>
    <p>{% trans "You can do two things here" %}:</p>
      <ul>
        <li><strong>{% trans "Approve Comment" %}:</strong> {% trans "Future reports of this comment will be ignored." %}</li>
        <li><strong>{% trans "Hide Comment" %}:</strong> {% trans "The comment will no longer be shown on the website and the person who made this comment gets a message about the reason for this." %}</li>
      </ul>

      <div>
        {% url "moderate_flagged" as next_url %}
        {% autopaginate comment_list 10 as commentslist %}
        {% for comment in commentslist %}
          {% with forloop.counter0|add:1 as comment_counter %}
            {% include "comments/moderate_single_comment.html" %}
          {% endwith %}
        {% endfor %}
      </div>
    {% paginate %}
    </div>
{% endblock %}

<!--- 
Todo:

- adapt css
- for moderate-comment-page:
  - saves who hid the comment
  - somehow record / display some kind of 'user history', so repeated infringements of CoC can be followed up/consequences be taken
-->