{% extends "comments/base.html" %}

{% load i18n comments pile pagination_tags %}

{% block title %}{% trans "Review Latest Comments" %}{% endblock %}

{% block content %}
    <h1>{% trans "Review latest Comments" %}</h1>
    
    <div class="comments">
      <h2>{% trans "These are the comments made by our users within the last 30 days" %} ({{ comment_list|length }}):</h2>
      <div>   
        {% autopaginate comment_list 10 as commentslist %}
        {% for comment in commentslist %}
          {% with forloop.counter0|add:1 as comment_counter %}
            <div class="comment">
              <div class="details">
                <div class="title">
                  {% url 'view_profile' comment.user.username as profile_url %}
                  <a href="{{profile_url}}"><img class="userphoto" src="{% if comment.user.details.photo %}{{ comment.user.details.photo.url }}{% else %}{{ STATIC_URL }}images/photo.png{% endif %}"/></a>
                  <div>
                    {% url 'view_profile' comment.user.username as profile_url %}
                    {% blocktrans with comment.user as user_name and comment.submit_date|timetag as comment_date and comment.get_content_object_url as the_url %}
                      <a href="{{profile_url}}">{{user_name}}</a> wrote {{comment_date}} about <a href="{{ the_url }}">this</a>:
                    {% endblocktrans %}
                  </div>
                </div>   
                <div class="index"><a href="">#{{ comment_counter }}</a></div>
                  <div class="flagcount">{{ comment.flags.count }}</div> 
                  <div title='{% trans "Flags" %}' class="flag flagged"></div>
                </div>
                
              <div class="body">
                <div class="text"><p>{{ comment.comment|urlize|linebreaks }}</p></div>
              </div>
              <div class="cfooter"><div class="buttonbar"><a class="button" href="{% url 'moderate_comment' comment.pk %}">Moderate comment</a></div></div>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
    {% paginate %}
    </div>
{% endblock %}