{% extends "comments/base.html" %}

{% load i18n comments sekizai_tags pile %}

{% block css %}
  {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/comments.css" media="all" />
  {% endaddtoblock %}
{% endblock %}

{% block title %}{% trans "Comment moderation" %}{% endblock %}

{% block content %}
  {% if perms.django_comments.delete_comment %}
    <p>Can delete comments!</p>
  {% endif %}
    <div class="comments">
      
      <div>   
        {% for comment in comment_list %}
          {% with forloop.counter0|add:1 as comment_counter %}
            <div class="comment">
              <div class="details">
                <div class="title">
                  {% url 'view_profile' comment.user.username as profile_url %}
                  <a href="{{profile_url}}"><img class="userphoto" src="{% if comment.user.details.photo %}{{ comment.user.details.photo.url }}{% else %}{{ STATIC_URL }}images/photo.png{% endif %}"/></a>
                  <div>
                    {% url 'view_profile' comment.user.username as profile_url %}
                    {% blocktrans with comment.user as user_name and comment.submit_date|timetag as comment_date and comment.get_content_object_url as the_url %}
                      <a href="{{profile_url}}">{{user_name}}</a> wrote {{comment_date}} about <a href="{{ the_url }}">this</a>:
                    {% endblocktrans %}
                  </div>
                </div>   
                <div class="index"><a href="">#{{ comment_counter }}</a></div>
                  <a title='{% trans "Flags" %}' class="flag flagged" href="/comments/flag/{{ comment.id }}/">{{ comment.flags.count }}</a>
                </div>
                
              <div class="body">
                <div class="text"><p>{{ comment.comment|urlize|linebreaks }}</p></div>
              </div>
              <div class="footer"><div class="buttonbar"><a href=""><button>Moderate comment</button></a></div></div>
            </div>
          {% endwith %}
        {% endfor %}
      </div>

    </div>
{% endblock %}

<!--- 
Todo:

- x add page into django's structure
- restrict access to the page and make access possible for the persons who need it
- adapt css
- x show all x public and x flagged comments with x username/profile link, x date, x contents and x object/ x object link they belong to
- sort them by x number of flags and date
- x show number of flags
- x show option to moderate comment
- clicking on that should bring the moderator to a page with a single comment only:
  - this shows the same info about that comment, plus:
  - who flagged the comment
  - option to remove all flags of the comment
  - option to delete comment (this will only hide it, not really delete)
  - form for moderators to write down the reason why a comment was removed and send that as an email to the commentor, 
    if possible already containing a placeholder text which only needs to be edited a bit. Copy of that mail also sent 
    to admins
  - optional checkbox which informs an admin that the commentor is a spammer and asks for account deletion / other escalation steps
  - saves who hid the comment / removed flags
  - somehow record / display some kind of 'user history', so repeated infringements of CoC can be followed up/consequences be taken
-->