{% load i18n comments %}

<div>
  {% get_comment_count for item as comment_count %}
    
  <p>{{ comment_count }} comments:</p>
  {% get_comment_list for item as comment_list %}
  {% for comment in comment_list %}
    <div class="comment">
      <div class="details">
        <div class="title">
          <img class="userphoto" src="{% if comment.user.details.photo %}{{ comment.user.details.photo.url }}{% else %}{{ DESIGN_URL }}images/photo.png{% endif %}"/>
          <div><a href="{% url 'view_profile' comment.user.username %}">{{comment.user}}</a> wrote on {{comment.submit_date}}:</div>
        </div>
        <div class="index"><a href=""> #{{ forloop.counter0|add:"1" }}</a></div>
      </div>
      <div class="body">
        <div class="text"><p>{{comment.comment}}</p></div>
      </div>
    </div>
  {% endfor %}
</div>

