{% load i18n comments %}

{% get_comment_form for item as form %}
  <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    <div class="comment">
      <div class="details">
	<div class="title">{% trans "Leave a comment:" %}</div>
      </div>
      <div class="body">
        {{ form.comment }}
        {{ form.honeypot }}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
      <input type="hidden" name="next" value="{% url 'resource' item.id %}" />
      </div>
      <div class="footer"><div class="buttonbar"><input class="unique start end" type="submit" value="{% trans "Send" %}" id="id_submit" /></div></div>
    </div>   
  </form>