{% extends "comments/base.html" %}
{% load i18n comments sekizai_tags %}

{% block title %}{% trans "Write a comment" %}{% endblock %}

{% block content %}
  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
    <h1>{% trans "Please write a comment or cancel:" %}</h1> 

    <div class="comment">
      <div class="details">
        <div class="title">{% trans "Leave a comment:" %}</div>
      </div>
      <div class="body">
        {{ form.comment }}
        {{ form.honeypot }}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
      </div>
      <div class="footer">
        <div class="buttonbar">
          <a class="unique start end" id="cancel" href=""><button id="cancel">{% trans "Cancel" %}</button><a/>
          <input class="unique start end" type="submit" value="{% trans "Send" %}" id="id_submit" />
        </div>
      </div>
    </div>   
  </form>   
{% endblock %}

<!--todo: insert a useful link for the cancel button. Problem: comment isn't saved yet, so the only source for the object_pk / content_type is the form,
but that only produces form fields...-->