{% load i18n comments pile %}

<div class="comment">
  <div class="details">
    <div class="title">
      {% url 'view_profile' comment.user.username as profile_url %}
      <a href="{{profile_url}}"><img class="userphoto" src="{% if comment.user.details.photo %}{{ comment.user.details.photo.url }}{% else %}{{ STATIC_URL }}images/photo.png{% endif %}"/></a>
      <div>
        {% url 'view_profile' comment.user.username as profile_url %}
        {% blocktrans with comment.user as user_name and comment.submit_date|timetag as comment_date %}
          <a href="{{profile_url}}">{{user_name}}</a> wrote {{comment_date}}:
        {% endblocktrans %}
      </div>
    </div>   
    <div class="index"><a href="">#{{ comment_counter }}</a></div>
    
    {% if request.user.is_authenticated %}
      <a title={% trans "Report this comment" %} class="flag
        {% for flag in comment.flags.all %}{% ifequal flag.user request.user %}flagged{% endifequal %}{% endfor %}" 
        href="/comments/flag/{{ comment.id }}/"></a>
      {% with "comments-flag" as flagurl %}
        {% include "comments/flag_button.html" %}
      {% endwith %}
    {% endif %}
  </div>
  <div class="body">
    <div class="text"><p>{{comment.comment|urlize|linebreaks}}</p></div>
  </div>
</div>

<!--
- needs |timetag for the date, but this still needs an update to pile for making a nice sentence, 
- remove 'details' in urls
- replace view_profile url with <a href="{{ item.user.get_absolute_url }}">{{ item.user.details }}</a>
-->