{% load i18n comments pile %}

<div class="comment">
  <a name="c{{ comment.id }}"></a>
  <div class="details">
    <div class="title">
      {% url 'view_profile' comment.user.username as profile_url %}
      <a href="{{profile_url}}"><img class="userphoto" src="{% if comment.user.details.photo %}{{ comment.user.details.photo.url }}{% else %}{{ STATIC_URL }}images/photo.png{% endif %}"/></a>
      <div>
        {% url 'view_profile' comment.user.username as profile_url %}
        {% blocktrans with comment.user as user_name and comment.submit_date|timetag as comment_date %}
          <a href="{{profile_url}}">{{user_name}}</a> wrote {{comment_date}}:
        {% endblocktrans %}
      </div>
    </div>   
    <div class="index"><a href="">#{{ comment_counter }}</a></div>
    
    {% if request.user.is_authenticated %}
      <a title="{% trans "Report Comment" %}" class="flag {% for flag in comment.flags.all %}{% ifequal flag.user request.user %}flagged{% endifequal %}{% endfor %}" href="{% url "comments-flag" comment.id %}"></a>
      <script>popUpLink('{% trans "Are you sure you want to report this comment?" %}', '{% trans "Cancel" %}', '{% trans "Report" %}', "{{ comment.get_absolute_url }}");</script> 
    {% endif %}
  </div>
  <div class="body">
    <div class="text"><p>{{ comment.comment|urlize|linebreaks }}</p></div>
  </div>
</div>

<!-- todo: needs a link in the index field to view_comment page or to something else or no link at all? View_comment page still needs to be added to the urls-->