{% extends 'base.html' %}
{% load i18n comments sekizai_tags %}

{% block css %}
{% addtoblock "css" %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/comments.css" media="all" />
{% endaddtoblock %}
{% endblock %}

{% block content %}
  <h1>All comments for {{whatever}}</h1>
  
  {% get_comment_count for item as comment_count %}
    
  <p>{{ comment_count }} comments:</p>
  {% get_comment_list for item as comment_list %}
  {% for comment in comment_list %}
    <div class="comment">
      <div class="details">
        <div class="title">
          <img class="userphoto" src="{% if comment.user.details.photo %}{{ comment.user.details.photo.url }}{% else %}{{ DESIGN_URL }}images/photo.png{% endif %}"/>
           <div>
            {% url 'view_profile' comment.user.username as profile_url %}
            {% blocktrans with comment.user as user_name and comment.submit_date as comment_date %}
              <a href="{{profile_url}}">{{user_name}}</a> wrote on {{comment_date}}:
            {% endblocktrans %}
          </div>
        </div>
        <div class="index"><a href=""> #{{ forloop.counter0|add:"1" }}</a></div>
      </div>
      <div class="body">
        <div class="text"><p>{{comment.comment}}</p></div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

<!-- todo: replace 'whatever' and 'item' with something that makes sense... Or feed a list of comments into this... or include new_list.html-->