{% extends "base.html" %}
{% load i18n static %}

{% block content %}
  <div class="errtext">
    <img src="{% static "images/authors.svg" %}" title="{% trans "We thank everyone for helping!" %}"/>
    <h1>{% block "title" %}{% trans "Author Credits" %}{% endblock %}</h1>
    <p>{% trans "These people have helped us create the website you see here." %}</p>
    {% for section in authors %}
      <h2>{{ section.name }}</h2>
      <p>{{ section.desc }}</p>
      {% if section.people %}
        <table style="width: 100%;">
          <tr><th>{% trans "Name" %}</th><th>{% trans "Involvement" %}</th><th>{% trans "Impact" %}</th></tr>
          {% for key, person in section.people.items %}
            <tr>
              <td>{{ person.name }}</td>
              <td>{% if person.start == person.end %}{{ person.start }}{% else %}{{ person.start }}–{{ person.end }}{% endif %}</td>
              <td>{{ person.count }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>{% trans "This section is not coded yet." %}</p>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
