<!DOCTYPE html>
{% load i18n extras cms_tags menu_tags static %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>{% block alltitle %}{% block title %}{{ title|default:"Draw Freely." }}{% endblock %} | Inkscape{% endblock %}</title>
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="{% static "images/inkscape-logo.png" %}"/>

    {% block "css" %}
      <link rel="stylesheet"    type="text/css" href="{% static "css/main.css" %}"/>
      <link rel="stylesheet"    type="text/css" href="{% static "css/text.css" %}"/>
      <link rel="stylesheet"    type="text/css" href="{% static "css/gallery.css" %}"/>
    {% endblock %}

    <link rel="alternate"   type="application/rss+xml" title="{% trans "News Feed" %}" href="/news/feed/"/>
    {% if rss_url %}
      <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed" %}" href="{{ rss_url }}" />
    {% endif %}

    {% block "js" %}
      <script type="text/javascript" src="{% static "admin/js/jquery.js" %}"></script>
      <script type="text/javascript" src="{% static "js/inkscape.js" %}"></script>
      <script type="text/javascript" src="{% static "js/gallery.js" %}"></script>
    {% endblock %}

    <!--Sekizai blocks are depricated, when django-cms stops using them, remove-->
    {% load sekizai_tags %}{% render_block "css" %}{% render_block "js" %}
    {% if form %}{{ form.media }}{% endif %}

    <meta name="Author" content="{% trans "Inkscape Website Developers" %}" />
    <meta name="description" content="{% block headerdesc %}{% endblock %}" />
    <meta name="keywords" content="{% trans "inkscape,vector,drawing,graphics,svg,xml,document,poster,linux,open source,foss,floss,free software,libre software,libre,freedom,line,shape,diagram,flowchart,graph,extension,plugin,software,download,platform,windows,win,mac,osx,ubuntu,fedora,debian,help,tutorial,chat,irc,home,homepage,professional,casual,powerful,text,web,www,w3c,standard" %}" />
  </head>

<body id="page-{% block body-pageid %}{{ PAGE_ID }}{% endblock %}" class="{% block body-classes %}{% endblock %}">
  {% cms_toolbar %}

  <div class="header">
    <div id="cleartop">
      <div id="logo">
        {% block logo %}
          <a href="/"><img src="{% block logo-url %}{% static "images/inkscape-logo.svg" %}{% endblock %}"
             width="64" height="64" alt="Inkscape"/></a>
          <h1><a href="/" tabindex="-1">Inkscape</a></h1>
          <h2><a href="/" tabindex="-1">{% trans "Draw Freely." %}</a></h2>
        {% endblock %}
      </div>
      <div id="header-right">
        <ul id="topdrops">
          {% language_chooser "languages.html" %}

          {% if not request.user.is_authenticated %}
            <li id="toplogin">
              <p><a href="{% url "auth_login" %}">{% trans "Log in / Register" %}</a></p>
              <div class="topdrop">
                <form action="{% url "auth_login" %}" method="POST">
                  {% csrf_token %}
                  <label for="toplogin-username">{% trans "Username" %}</label>
                  <input name="username" id="toplogin-username" type="text" tabindex=1>
                  <label for="toplogin-password">{% trans "Password" %} (<a href="{% url "password_reset" %}">{% trans "reset" %}</a>)</label>
                  <input name="password" id="toplogin-password" type="password" tabindex=2>
                  <input class="button" type="submit" value="{% trans "Log in" %}" tabindex=3>
                  <input name="next" type="hidden" value="{{ request.path }}"/>
                </form>
                <form action="{% url "auth_register" %}" method="GET">
                  <input class="button" type="submit" value="{% trans "Register" %}" tabindex=4>
                </form>
                <div id="toplogin-alternate">
                  <span>{% trans "Or log in using:" %}</span>
                  {% include "registration/social_logins.html" %}
                </div>
              </div>
            </li>
          {% else %}
            <li id="toplogin">
              <p><a href="{{ request.user.get_absolute_url }}">{{ request.user.name }}</a>&nbsp;</p>
              <div  class="topdrop">
                <a href="{{ request.user.get_absolute_url }}"><img class="userphoto" src="{% if request.user.photo %}{{ request.user.photo.url }}{% else %}{% static "images/photo.png" %}{% endif %}" alt="{% trans "Profile Photo" %}"/></a>
                {% if request.user.is_moderator %}
                  <p><a href="{% url "moderation" %}">{% trans "Moderation" %}</a></p>
                {% endif %}
                {% if request.user.is_staff %}
                  <p><a href="/admin/">{% trans "Administration" %}</a></p>
                {% endif %}
                <p><a href="{{ request.user.get_absolute_url }}">{% trans "My Profile" %}</a></p>
                <p><a href="{% url "auth_logout" %}?next={{ request.path }}">{% trans "Logout" %}</a></p>
              </div>
            </li>

            {% include "alerts/menu.html" %}
          {% endif %}
        </ul>
        {% block rightheader %}
        <form id="topsearch" method="get" action="{% url "search" %}">
          <input type="text" name="q" id="q" placeholder="{% trans "Search" %}">
          <button><img src="{% static "images/search.svg" %}" alt="{% trans "Search" %}"/></button>
        </form>
        {% endblock %}
      </div>
    </div>
    {% block menu %}
      <div class="nav"><ul id="menu">{% show_menu 0 100 100 %}</ul></div>
    {% endblock %}
    {% if messages %}
      <ul id="messages">{% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %} title="{{ message.tags }}">
        {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
      </li>{% endfor %}</ul>
    {% endif %}
  </div>

  {% block supercontent %}
    <div id="content"{% block contentclasses %}{% endblock %}>
      <div class="wrapper">
        {% block "breadcrumbs" %}{% show_breadcrumb 0 "menu/breadcrumb.html" 0 %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
  {% endblock %}

  {% block footer %}
    <div class="footer">
      <div class="nav">
        {% block footer-nav %}
        <ul>
          {% for item in nav %}
          <li><a href="{{ item.href }}"{% if item.current %} class="current"{% endif %}>{{ item.title }}</a><ul>
            {% for subitem in item %}
            <li><a href="{{ subitem.href }}">{{ subitem.title }}</a></li>
            {% endfor %}
          </ul></li>
          {% endfor %}
        </ul>
        {% endblock %}
      </div>
      <p>
        {% block "foot" %}
          {% blocktrans with "http://www.gnu.org/licenses/gpl-2.0.html" as gpl_url %}Inkscape is Free and Open Source Software licensed under the 
          <a href="{{ gpl_url }}">GPL</a>.{% endblocktrans %}
        {% endblock %}
      </p>
    </div>
  {% endblock %}

  {% block finalfooter %}
    <p id="final-footer"> 
      <span>{% trans "With thanks to:" %}</span>
      <a href="http://skymaiden.com" title="Website Designed in Inkscape">Hinerangi Courtenay</a>
      <a href="http://doctormo.org" title="Developed in Django">Martin Owens</a>
      <a href="http://www.fastly.com/" title="Data Cached by Fastly">Fastly</a>
      <a href="https://osuosl.org/" title="Site Hosted by OSUOSL">OSUOSL</a>
      <a href="/support-us/sponsors" title="Our Sponsors">More...</a>
      <a id="dev-stamp" href="https://code.launchpad.net/inkscape-web"><img src="{% static "images/django.svg" %}" title="{% trans "This site is running:" %}
Python {{ PYTHON_VERSION }}
Django {{ DJANGO_VERSION }}
InkscapeWeb {{ WEBSITE_VERSION }} (r{{ WEBSITE_REVISION }})" alt="PY"/></a>
    </p>
  {% endblock %}
</body>
</html>
