{% extends 'modal.html' %}
{% load i18n %}

{% block "dialog-body" %}
  {% if form %}
    <p>{% trans "This form allows you to submit a comment or question to the website administrator. They are volunteers who can help you with registration, download issues, moderation issues or spam. Please do not submit questions about Inkscape here. This is not a support form for Inkscape." %}</p>
    <p>{% trans "Please say who you are and to mention a way to contact you, such as an email address, if you need to get a response back." %}</p>
  {% else %}
    <p>{% trans "Thank you for submitting your comment or question. If you are logged in then you may receive a reply to your configured email address." %}</p>
  {% endif %}
{% endblock %}

{% block "form-buttons" %}
  <button id="moreInfo" class="btn btn-primary" type="submit" name="save" value="1">{% trans "Send Comment or Question" %}</button>
{% endblock %}

