{% load menu_tags %}
{% load i18n %}
<li id="tab_languages" class="dropdown">
  {% for language in languages %}
    {% if current_language == language.0 %}
    <p>{{ language.1 }}</p>
    {% endif %}
  {% endfor %}
  <div>
    {% for language in languages %}
      {% language language.0 %}
      <p><a class="{% ifequal current_language language.0 %}selected{% endifequal %}" href="{% page_language_url language.0 %}">{{ language.1 }}</a></p>
      {% endlanguage %}
    {% endfor %}
  </div>
</li>
