#page-donate {
	.box-2 {
		height: 120px;
	}
	#BB_BuyButtonForm {
		text-align: center;
	}
	#BB_BuyButtonForm div {
		vertical-align: middle;
		display: inline-block;
	}
	#BB_BuyButtonForm div:first-of-type {
		vertical-align: top;
		padding-top: 4px;
	}
}
