{% extends 'base_about.html' %}
{% block alltitle %}Inkscape screenshots{% endblock %}
{% block pagetitle %}Inkscape screenshots{% endblock %}
{% block left-column %}
	<script>

		function addClass(n, c) {
			if (!n.className) n.className = c;
			else if ((" " + n.className + " ").indexOf(" " + c + " ") < 0) n.className += " " + c;
		}
		
		function removeClass(n, c) {
			n.className = (" " + n.className + " ").replace(" " + c + " ", " ").replace(/^\s\s*/, '').replace(/\s\s*$/, '');
		}

		function changeScreenshot(e) {
			removeClass(document.getElementById("screenshot-" + changeScreenshot.current + "-thumb"), 'current');
			removeClass(document.getElementById("screenshot-" + changeScreenshot.current), 'current');
			changeScreenshot.current = e.id.replace(/^screenshot-(\d+)-thumb/, '$1');
			addClass(e, 'current');
			addClass(document.getElementById("screenshot-" + changeScreenshot.current), 'current');
			return false;
		}
		changeScreenshot.current = 1;
	</script>
	<h2>Current version: {{ INKSCAPE_VERSION }}</h2>

	<ul id="screenshots-big">
		<li class="screenshot current" id="screenshot-1">
			<a href="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-webdesign-text.png" class="screenshot-fullsize">
				<img src="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-webdesign-text.png">
			</a>
			<p>Inkscape 0.48 has brought many improvements to the Text Tool. There are now controls for superscript, subscript, line spacing, letter spacing, word spacing, horizontal kerning, vertical kerning, and rotation. Thanks to <a href="http://developmentseed.org/">Development Seed</a> for contributing this screenshot.</p>
		</li>
		<li class="screenshot" id="screenshot-2">
			<a href="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-multipath.png" class="screenshot-fullsize">
				<img src="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-multipath.png">
			</a>
			<p>After many years and countless requests, Inkscape 0.48 now supports editing multiple paths at the same time. Previously editing with the Node Tool had a limitation of working with only one path at a time. Thanks to <a href="http://happyline.deviantart.com/">happyline</a> for the wonderful example screenshot.</p>
		</li>

		<li class="screenshot" id="screenshot-3">
			<a href="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-moonlight-views.png">
				<img src="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-moonlight-views.png">
			</a>
			<p>Inkscape 0.48 has added a Spray Tool to quickly and easily spray multiple copies of items. With the parameters for rotation and size it allows creating effects that previously would take much longer to achieve. Thanks to <a href="http://www.sweetpsychoid-studio.com/">DiSmeCha</a> for contributing this screenshot.</p>
		</li>

		<li class="screenshot" id="screenshot-4">
			<a href="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-ferrari.png">
				<img src="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-ferrari.png">
			</a>
			<p>This illustration of a Ferrari by <a href="http://www.flickr.com/photos/35772571@N03/">Gilles Pinard</a> was done by hand without any tracing. Gradients, blurs, and other various other techniques really bring this image to life.</p>
			</li>

		<li class="screenshot" id="screenshot-5">
			<a href="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-blur.png">
				<img src="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-blur.png">
			</a>
			<p>Inkscape 0.48 now has a preference that allows users to take advantage of multi-threading for the Gaussian Blur filter. This filter makes one of the biggest impacts on Inkscape's performance when in use. <a href="http://haruwen.deviantart.com">Mariana Sing</a> uses blur throughout this image for subtle details, smooth color transitions, and numerous effects. Thankfully the blur operation is now faster than before when using a multi-core or multi-processor computer.</p>
		</li>
	</ul>

	<ul id="screenshots-thumbnails">
		<li><a class="screenshot current" id="screenshot-1-thumb" onclick="return changeScreenshot(this)" href="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-webdesign-text.png"><img src="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-webdesign-text.png"></a></li>
		<li><a class="screenshot" id="screenshot-2-thumb" onclick="return changeScreenshot(this)" href="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-multipath.png"><img src="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-multipath.png"></a></li>
		<li><a class="screenshot" id="screenshot-3-thumb" onclick="return changeScreenshot(this)" href="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-moonlight-views.png"><img src="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-moonlight-views.png"></a></li>
		<li><a class="screenshot" id="screenshot-4-thumb" onclick="return changeScreenshot(this)" href="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-ferrari.png"><img src="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-ferrari.png"></a></li>
		<li><a class="screenshot" id="screenshot-5-thumb" onclick="return changeScreenshot(this)" href="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-blur.png"><img src="{{ MEDIA_URL }}images/screenshots/inkscape-0.48-blur.png"></a></li>
	</ul>

	<p>See screenshots of older versions:</p>
	<ul class="pager em">
		<li><a href="">0.47</a></li>
		<li><a href="">0.46</a></li>
		<li><a href="">0.45</a></li>
		<li><a href="">0.44</a></li>
		<li><a href="">0.43</a></li>
		<li><a href="">0.42</a></li>
		<li><a href="">0.41</a></li>
		<li><a href="">0.40</a></li>
		<li><a href="">0.39</a></li>
		<li><a href="">0.38</a></li>
		<li><a href="">0.37</a></li>
	</ul>
{% endblock %}
