{% load i18n static comments extras %}

{% get_comment_form for comment_subject as form %}
{% trans "Leave a comment:" as label %}
{% trans "Submit Comment" as button %}

{% if form.is_locked %}
  <div class="comment locked">
    <div class="details">
      <div class="title">This comment thread is locked!</div>
    </div>
  </div>
{% else %}
<form action="{% comment_form_target %}" method="POST" class="block">
  {% csrf_token %}
  <div class="comment">
    <div class="details">
      <div class="title">
        <img class="userphoto" src="{% if request.user.photo %}{{ request.user.photo.url }}{% else %}{% static "images/photo.png" %}{% endif %}"/>
        <div>{{ comment_label|default:label }}</div>
      </div>
    </div>
    <div class="body input">
      {{ form.comment|tabindex:8 }}
      {{ form.honeypot }}
      {{ form.content_type }}
      {{ form.object_pk }}
      {{ form.timestamp }}
      {{ form.security_hash }}
    <input type="hidden" name="next" value="{{ next }}" />
    </div>
    <div class="cfooter">
      <div class="buttonbar">
        <div id="cochint">{% blocktrans %}Please read Inkscape's <a tabindex="10" href="/community/coc">Code of Conduct</a> before posting.{% endblocktrans %}</div>
        <input tabindex="9" class="unique start end" type="submit" value="{{ comment_button|default:button }}" id="id_submit" />
      </div>
    </div>
  </div>   
</form>
{% endif %}

