{% extends "base_about.html" %}
{% block title %}Galerie&nbsp;: livret pour CD{% endblock %}
{% block pagetitle %}Livret pour CD{% endblock %}
{% block body-classes %}page-gallery{% endblock %}
{% block left-column %}

<div class="category">
	<a href="{{ MEDIA_URL }}images/gallery/artemio_inkscape_FZ_booklet.png"><img class="thumbnail" src="{{ MEDIA_URL }}images/gallery/artemio_inkscape_FZ_booklet_thumb.png" alt=""></a>
	<h2>Livret pour CD</h2>
	<p>Inkscape m'a aidé à créer les pages avant et arrière pour le livret accompagnant le CD de compilation de la communité Fantomized.info. Il s'agit de l'avant et de l'arrière d'un livret au format A5. Rien de particulièrement compliqué - nous avons imprimé la page A4 puis l'avons pliée en deux pour obtenir un livret A5.</p>
</div>

<div class="category">
	<a href="{{ MEDIA_URL }}images/gallery/artemio_inkscape_kword.png"><img class="thumbnail" src="{{ MEDIA_URL }}images/gallery/artemio_inkscape_kword_thumb.png" alt=""></a>
	<h2>Diagrammes</h2>
	<p>Je suis en train d'écrire un livre sur la conception de son et la programmation de synthétiseur, et cela nécessite de nombreux dessins de structures sonores et d'autres types de graphiques. Mon livre contient actuellement plus de 40 images différentes, toutes créées avec Inkscape. Grâce à sa simplicité et son utilisation intuitive, dessiner ces graphiques est un vrai plaisir. Je n'avais jamais pensé qu'un jour je serais capable de créer d'aussi jolis graphiques aussi facilement. Incroyable&nbsp;!</p>
</div>

<h2>Logos</h2>
<p>Ce que j'aime avant tout avec Inkscape, c'est qu'en plus d'être un éditeur regorgeant de fonctionnalités, il est aussi très simple et pratique à utiliser, et plus important encore, il m'a inspiré pour dessiner. Ces logos ont été créés en quelques minutes grâce à l'interface intuitive d'Inkscape et à ses inestimables outils.</p>

<div class="category">
	<a href="{{ MEDIA_URL }}images/gallery/artemio_inkscape_logo_beatskitchen.png"><img class="thumbnail" src="{{ MEDIA_URL }}images/gallery/artemio_inkscape_logo_beatskitchen_thumb.png" alt="Artemio's Beats Kitchen"></a>
	<p></p>
</div>

<div class="category">
	<a href="{{ MEDIA_URL }}images/gallery/artemio_inkscape_logo_fantom_s.png"><img class="thumbnail" src="{{ MEDIA_URL }}images/gallery/artemio_inkscape_logo_fantom_s_thumb.png" alt="Artemio's Fantom-S web site"></a>
	<p></p>
</div>

<div class="category">
	<a href="{{ MEDIA_URL }}images/gallery/artemio_inkscape_logo_linuxdoc.png"><img class="thumbnail" src="{{ MEDIA_URL }}images/gallery/artemio_inkscape_logo_linuxdoc_thumb.png" alt="Artemio's Linux docs"></a>
	<p></p>
</div>
{% endblock %}
