/* License: AGPLv3 or later (http://www.gnu.org/licenses/), Copyright 2015, Jabiertxof <jtx@jtx.marker.es> */

#shield.download #banners > div {
  background-color: #333333;
  background-image: url("../images/releases/background.png");
  border-bottom: 0px none;
  border-radius: 0px 0px 15px 15px;
}

#shield.download #banners > div > div {
  margin: 0px 250px 0px -50px;
  width: 720px;
}

#shield.download #banners ul ul div {
  display: none;
  background-color: transparent;
}

#shield.download #banners ul ul {
  float: right;
  text-align: right;
}

#shield.download #banners > div > div > ul > li {
  background-color: #444444;
  border-radius: 0px 8px 8px 0px;
  color: #d55500;
  cursor: pointer;
  display: block;
  font-size: 20px;
  margin-bottom: 6px;
  padding: 6px 0px 4px;
  line-height: 1px;
  vertical-align: middle;
  min-height: 37px;
  overflow:auto;
  box-shadow: 2px 2px 8px -5px #000;
}

#banners > div > div {
  text-align: left;
}

#shield.download #banners ul ul li {
  background-color: #333333;
  border-radius: 3px;
  color: #cccccc;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 2px 10px;
  margin: 4px 0px 0px;
  box-shadow: 2px 2px 8px -5px #000 inset;
}

#shield.download #banners li ul {
  margin: -3px 10px 0px 0px !important;
  max-width: 450px;
}

#shield.download #banners ul ul li:focus div,
#shield.download #banners ul ul li div:hover {
  background-color: transparent;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 240px;
  width: 225px;
  padding: 10px;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: 221px;
  text-align: center;
}

#shield.download #banners ul li.child > img {
  width: 32px;
  display: inline-block;
  margin: 0px 4px 5px 8px;
  vertical-align: middle;
}

#shield.download #banners ul li.platform img {
  width: 128px;
}

#shield.download #banners ul ul li p {
  color: #cccccc;
  margin: 0px;
}

#shield.download #banners ul ul li p > a,
#shield.download #banners ul ul li p > span {
  padding: 6px;
  margin: 4px;
  background: #333;
  border-radius: 4px;
  box-shadow: 2px 2px 8px -5px #000;
}

#shield.download #banners ul ul li:focus {
  background-color: #d55500;
  outline: medium none;
  box-shadow: none;
  color: #333333;
}

#shield.download #banners ul ul li a,
#shield.download #banners ul ul li span {
  display: block;
  font-size: 15px;
}

#shield.download #banners ul ul li p > a:hover {
  text-decoration: none;
  background: #d55500;
  color: #333333;
}

#shield.download #banners div > div > div {
  background-position: 90px 50px;
  background-repeat: no-repeat !important;
  background-size: 130px auto;
  height: 400px;
}

#shield.download #banners {
  margin-bottom: 12px;
  background-repeat: no-repeat;
  background-color: black;
}

#shield div#question {
  color: #2b2b2b;
  float: left;
  display: inline-block;
  padding: 30px 0px 0px 120px;; 
  font-size: 160px;
  font-weight: bold;
}

#shield div#nodata{
  color:#ccc;
  font-size:30px;
}

.notes {
  min-height: 200px;
  margin: 12px 0px;
  line-height: 16px;
  font-family: "Liberation Mono","Ubuntu Mono",mono;
  border: 1px dotted #eee;
  background: #FFF none repeat scroll 0% 0%;
  overflow: hidden;
  padding: 8px 14px !important;
}
